<h3 class="title mt-4">{{ 'app.ui.latest_topics'|trans }}</h3>
<div class="separator-2"></div>
{{ render(url('app_partial_topic_index', {
    'sorting': {
        'createdAt': 'desc'
    },
    'paginate': 4,
    'template': 'frontend/topic/_simpleList.html.twig'
})) }}
<div class="text-right space-top">
    <a href="{{ path('app_frontend_topic_index') }}" class="link-dark"><i class="fa fa-plus-circle pl-1 pr-1"></i>{{ 'app.ui.more'|trans }}</a>
</div>
