{% import 'macros/actions.html.twig' as action %}

<div class="row">
    <div class="col-md-12">
        <form method="get" action="" class="form-inline form-filter">
            {{ form_widget(form.query, {attr: {'placeholder': placeholder}}) }}
            {{ action.search() }}
        </form>
    </div>
</div>