<div class="img-box-3 text-center">
    <div class="row">
        {% for product_list in product_lists %}
        {% if loop.index0 > 0 and (loop.index0 % 3) == 0 %}
    </div>
    <div class="row">
        {% endif %}
            <div class="col-md-4 col-sm-6">
                {% include 'frontend/product_list/_single.html.twig' %}
            </div>
        {% endfor %}
    </div>
</div>