{% extends "base.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

{% block body -%}

    <div class="block-heading-two">
        <h3><span>Les ludographies</span></h3>
    </div>

    {% include 'ludographie/personne/partial/_list.html.twig' with {'persons': persons} %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(persons) }}
        </div>
    </div>
{% endblock %}