{% extends "base.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

{% block headline %}
    Les ludographies
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('personne') }}">Ludographie</a>
{% endblock %}

{% block body -%}

    {% include 'ludographie/personne/partial/_list.html.twig' with {'persons': persons} %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(persons) }}
        </div>
    </div>
{% endblock %}