<!-- Foot Item -->
<div class="foot-item">
    <!-- Heading -->
    <h5 class="bold"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;A propos</h5>

    {{ sonata_block_render({'name': '/cms/content/about'}, {'template': 'frontend/content/block/block_content.html.twig'}) }}

    <div class="brand-bg">
        <!-- Social Media Icons -->
        <a href="https://www.facebook.com/jedisjeux" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
        <a href="https://twitter.com/jedisjeux" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
        <a href="https://www.youtube.com/user/jedisjeux" class="youtube"><i class="fa fa-youtube circle-3"></i></a>
    </div>
</div>