{% extends 'TwigBundle:Exception:error.html.twig' %}

{% block outer %}
    <div class="container">
        <h1>{{ 'app.ui.access_denied'|trans }}</h1>
        {{ 'text.error.403'|trans|raw }}
    </div>
{% endblock %}
