{% extends 'base.html.twig' %}

{% block body_class %}error{% endblock %}

{% block outer %}
    <div class="container">
        <h1>{{ 'title.error'|trans }}</h1>
        {{ 'text.error.500'|trans|raw }}
    </div>
{% endblock %}
