{% extends 'TwigBundle:Exception:error.html.twig' %}

{% block outer %}
    <div class="container">
        <h1>{{ 'title.page_not_found'|trans }}</h1>

        {{ 'text.error.404'|trans|raw }}
    </div>
{% endblock %}
