<!-- sidebar start -->
<!-- ================ -->
<aside class="col-lg-4 col-xl-3 ml-xl-auto">
    <div class="sidebar">
        <div class="block clearfix">
            {% include 'frontend/post/index/sidebar/_categories.html.twig' %}
            {% include 'frontend/pub_banner/_sidebar.html.twig' %}
            {% include 'frontend/post/index/sidebar/_latestTopics.html.twig' %}
        </div>
    </div>
</aside>
<!-- sidebar end -->
