{% if jeu.intro %}
    <div class="intro">
        {{ jeu.intro|raw }}
    </div>
{% endif %}

<div class="row columns">
    <div class="panel materiel medium-4 columns">
        <h3>Matériel</h3>
        <img src="http://www.jedisjeux.net/img/800/p-3305.jpg" />
        <ul>
            {% set item = 0 %}
            {% for row in jeu.materiel|split("\n") %}
                {% set item = item+1 %}
                <li {% if (item > 5 ) %} style="display: none;"{% endif %}>{{ row }}</li>
            {% endfor %}
            {% if (item > 5 ) %}
                <li>Plus</li>
            {% endif %}
        </ul>
    </div>

    <div class="medium-8 columns">
        {% if jeu.but %}
            <div class="panel but">
                <h3>But du jeu</h3>
                {{ jeu.but|raw }}
            </div>
        {% endif %}

        <div class="description columns panel">
            {{ jeu.description|raw }}
        </div>
    </div>
</div>
