<div class="row grid-space-10">
    {% for game_play in game_plays.data %}
        <div class="col-sm-4">
            {% include 'frontend/game_play/index/_imageBox.html.twig' %}
        </div>
    {% endfor %}
</div>
