{% set pageTitle = game_award.name %}

{% include 'frontend/year_award/indexByAward/_breadcrumb.html.twig' %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-8 text-center pv-20">
            <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                {{ pageTitle }}
            </h2>
            <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn"
                 data-effect-delay="100"></div>
            <div class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                {{ game_award.description|raw }}
            </div>
        </div>
    </div>
</div>
