<!-- Comments section -->
<div class="blog-comments">
    <h4><i class="fa fa-comments color"></i>&nbsp; 6 Commentaires</h4>
    <hr>

    <!-- Blog comment item -->
    <div class="blog-comment-item">
        <div class="comment-author-image">
            <a href="#"><img src="../../../../img/user/1.jpg" alt="" class="img-responsive img-thumbnail"></a>
        </div>
        <div class="comment-details">
            <!-- Name -->
            <h5><a href="#">Frank Thomas</a> <small>08/08/2013</small></h5>
            <!-- Paragraph -->
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
        </div>
    </div>

    <!-- Blog comment item -->
    <div class="blog-comment-item">
        <div class="comment-author-image">
            <a href="#"><img src="../../../../img/user/2.jpg" alt="" class="img-responsive img-thumbnail"></a>
        </div>
        <div class="comment-details">
            <!-- Name -->
            <h5><a href="#">Bob Marley</a> <small>08/08/2013</small></h5>
            <!-- Paragraph -->
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et m et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
        </div>
    </div>

    <!-- Blog comment item -->
    <div class="blog-comment-item comment-reply">
        <div class="comment-author-image">
            <a href="#"><img src="../../../../img/user/3.jpg" alt="" class="img-responsive img-thumbnail"></a>
        </div>
        <div class="comment-details">
            <!-- Name -->
            <h5><a href="#">James Brown</a> <small>08/08/2013</small></h5>
            <!-- Paragraph -->
            <p>Debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
        </div>
    </div>

    <!-- Blog comment item -->
    <div class="blog-comment-item">
        <div class="comment-author-image">
            <a href="#"><img src="../../../../img/user/4.jpg" alt="" class="img-responsive img-thumbnail"></a>
        </div>
        <div class="comment-details">
            <!-- Name -->
            <h5><a href="#">Jockey Rambo</a> <small>08/08/2013</small></h5>
            <!-- Paragraph -->
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptatesdiandae sint et molestiae non recusandae.</p>
        </div>
    </div>


</div>