<div class="sidebar">

    <!-- Nav tab widget - popular, recent and comments -->
    <div class="s-widget">
        <div class="btn-group btn-group-xs pull-right title-button">
            <a class="btn btn-black" href="{{ path('joueur_new', {'idPartie': partie.id}) }}">
                <span class="fa fa-user-plus"></span> joueur
            </a>
        </div>

        <h5><i class="fa fa-table color"></i> Scores</h5>

        <div class="score-list">
            <!-- content -->
            <div class="score-list-content">
                {% render url('joueur', {
                'idPartie': partie.id
                }) %}
            </div>
        </div>
    </div>

    <!-- Gallery Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-camera color"></i> Photos</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            {% for image in partie.images %}
                <a href="{{ image.webPath | imagine_filter('default') }}" rel="group" class="fancybox">
                    <img src="{{ image.webPath | imagine_filter('thumbnail_S') }}" alt="" class="img-responsive img-thumbnail"/>
                </a>
            {% endfor %}
        </div>
    </div>
</div>