{% extends "::base.html.twig" %}

{% block container %}
    <div class="block-heading-two">
        <h3><span>Mes listes</span></h3>
    </div>
    <div class="col-md-12">

    <div class="img-box-3 text-center">


        <div class="row">
            {% set key = 0 %}
            {# bloc favorite #}
            {% if tabFavorite %}
                {% include "collection/partial/userGameAttribute.html.twig" with {'tabUserGameAttribute': tabFavorite, 'title': "Mes coups de coeur", 'color': "red", 'type': "favorite"} only %}
                {% set key = key +1 %}
            {% endif %}
            {# end bloc favorite#}

            {# bloc owned #}
            {% if tabOwned %}
                {% include "collection/partial/userGameAttribute.html.twig" with {'tabUserGameAttribute': tabOwned, 'title': "Ma ludothèque", 'color': "blue", 'type': "owned"} only %}
                {% set key = key +1 %}
            {% endif %}
            {# end bloc owned#}

            {# bloc wanted #}
            {% if tabWanted %}
                {% include "collection/partial/userGameAttribute.html.twig" with {'tabUserGameAttribute': tabWanted, 'title': "Mes souhaits", 'color': "green", 'type': "wanted"} only %}
                {% set key = key +1 %}
            {% endif %}
            {# end bloc wanted#}

            {# bloc played #}
            {% if tabPlayed %}
                {% include "collection/partial/userGameAttribute.html.twig" with {'tabUserGameAttribute': tabPlayed, 'title': "J'y ai joué", 'color': "yellow", 'type': "played"} only %}
                {% set key = key +1 %}
            {% endif %}
            {# end bloc played#}


            {# Bloc collections #}
            {% for entity in entities %}

            {% if key != 0 and key%4 == 0 %}
        </div>
        <div class="row">
            {% endif %}

            {% include "collection/partial/collection.html.twig" with {'entity': entity} only %}


            {% set key = key +1 %}
            {% endfor %}
            {# end bloc collections #}

        </div>


    </div>

{% endblock container %}