{% extends "::base.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

{% block container %}

    <h1>{{ collection.name }}</h1>
    <h3>{{ collection.description }}</h3>

    {% for listElement in listElements %}
        {% include "collection/partial/list-element.html.twig" with {'jeu': listElement.jeu} only %}
    {% endfor %}
    {% block Pagination %}
        <div class="pagination-wrapper">
            <div class="pagination-bottom">
                {{ pagination(listElements) }}
            </div>
        </div>
    {% endblock %}
{% endblock container %}