<div class="intro">
    {{ jeu.intro | raw }}
</div>

<div class="col-sm-6 col-md-6 pull-left thumbmail-jeu">
    <div class="image-style-six">
        <!-- Image -->
        <img class="img-responsive" src="http://www.jedisjeux.net/img/800/lewis-clark-49-1376296905.jpg" alt="">
        <div class="image-caption">
            <h4><a href="#">Heading</a>
                &nbsp;
                <span>
                    <a href="#" class="b-tooltip" title="" data-original-title="Star"><i class="fa fa-star"></i></a>&nbsp;
                    <a href="#" class="b-tooltip" title="" data-original-title="Play"><i class="fa fa-cloud"></i></a>&nbsp;
                    <a href="http://www.jedisjeux.net/img/800/lewis-clark-49-1376296905.jpg" class="b-tooltip lightbox" title="" data-original-title="Search"><i class="fa fa-search"></i></a>
                </span>
            </h4>
        </div>
    </div>
</div>

<div class="description">
    {{ jeu.description | raw }}
</div>