{% extends "base.html.twig" %}

{% block headline %}
    {{ 'app.ui.my_game_plays'|trans }}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    {{ 'app.ui.my_game_plays'|trans }}
{% endblock %}

{% block body -%}
    <div class="col-md-12">

        <div class="container">
            {% include 'frontend/game_play/index/_content.html.twig' with {'indexPath': 'app_frontend_account_game_play_index'} %}
        </div>

    </div>
{% endblock %}