/web/bundles/
/web/behat/*
/app/bootstrap.php.cache

/app/cache/*
!app/logs/.gitkeep

/app/logs/*
!app/cache/.gitkeep

/app/config/parameters.yml
/app/config/*.local.yml

/app/Resources/credentials/

/build/
/vendor/
/bin/
/composer.phar
/web/uploads/*
!/web/uploads/avatar/.gitkeep
!/web/uploads/img/.gitkeep
/web/media/*
**/bower_components/*
/web/js/
/web/css/
/behat.yml

.idea
*.DS_Store
*.sass-cache
*~