/app/config/parameters.yml
/app/config/*.local.yml

/var/*
!/var/.gitkeep

/bin/*
!/bin/build-package
!/bin/build-packages
!/bin/clean-package
!/bin/clean-packages
!/bin/console
!/bin/fix-coding-standards
!/bin/install-package
!/bin/install-packages
!/bin/symfony_requirements
!/bin/test-package
!/bin/test-packages
!/bin/validate-package
!/bin/validate-packages

log/

/app/Resources/credentials/

/build/
/vendor/
/composer.phar
/web/jedisjeux.xml
/web/uploads/img/*
/web/uploads/avatar/*
!/web/uploads/avatar/.gitkeep
!/web/uploads/img/.gitkeep
/web/media/*
**/bower_components/*
**/node_modules/*
**/compiled/*
/web/js/
/web/css/
/behat.yml
/etc/docker/variables.env

/etc/build/*
!/etc/build/.gitkeep

.idea
*.DS_Store
*.sass-cache
*~
###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/uploads/img/*
/public/uploads/avatar/*
!/public/uploads/avatar/.gitkeep
!/public/uploads/img/.gitkeep
/public/media/*
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> infection/infection ###
coverage/*
infection-log.txt
###< infection/infection ###
