/web/bundles/
/web/behat/*
/app/bootstrap.php.cache

/app/config/parameters.yml
/app/config/*.local.yml

/var/*
!/var/.gitkeep

/bin/*
!/bin/build-package
!/bin/build-packages
!/bin/clean-package
!/bin/clean-packages
!/bin/console
!/bin/fix-coding-standards
!/bin/install-package
!/bin/install-packages
!/bin/symfony_requirements
!/bin/test-package
!/bin/test-packages
!/bin/validate-package
!/bin/validate-packages

log/

/app/Resources/credentials/

/build/
/vendor/
/composer.phar
/web/jedisjeux.xml
/web/uploads/img/*
/web/uploads/avatar/*
!/web/uploads/avatar/.gitkeep
!/web/uploads/img/.gitkeep
/web/media/*
**/bower_components/*
**/node_modules/*
/web/js/
/web/css/
/behat.yml
/etc/docker/variables.env

.idea
*.DS_Store
*.sass-cache
*~