default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false
    suites:

        homepage:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
            filters:
                tags: "@homepage && ~@javascript"

        taxonomies:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - AppBundle\Behat\UtilsContext
                - AppBundle\Behat\UserContext
                - AppBundle\Behat\TaxonomyContext
                - AppBundle\Behat\TaxonContext
            filters:
                tags: "@taxonomies"

        users:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - AppBundle\Behat\UtilsContext
                - AppBundle\Behat\UserContext
            filters:
                tags: "@users"

        persons:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - AppBundle\Behat\UtilsContext
                - AppBundle\Behat\UserContext
                - AppBundle\Behat\PersonContext
            filters:
                tags: "@persons"

        topics:
             contexts:
                 - Behat\MinkExtension\Context\MinkContext
                 - AppBundle\Behat\UtilsContext
                 - AppBundle\Behat\TaxonomyContext
                 - AppBundle\Behat\UserContext
             filters:
                 tags: "@topics"

        products:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - JDJ\CoreBundle\Behat\UtilsContext
                - JDJ\ComptaBundle\Behat\ProductContext
                - JDJ\UserBundle\Behat\UserContext
            filters:
                tags: "@___products"

        paymentMethods:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - JDJ\CoreBundle\Behat\UtilsContext
                - JDJ\ComptaBundle\Behat\PaymentMethodContext
                - JDJ\UserBundle\Behat\UserContext
            filters:
                tags: "@___paymentMethods"

        customers:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - JDJ\ComptaBundle\Behat\CustomerContext
                - JDJ\CoreBundle\Behat\UtilsContext
                - JDJ\UserBundle\Behat\UserContext
            filters:
                tags: "@___customers"

        bills:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - JDJ\CoreBundle\Behat\UtilsContext
                - JDJ\UserBundle\Behat\UserContext
                - JDJ\ComptaBundle\Behat\CustomerContext
                - JDJ\ComptaBundle\Behat\ProductContext
                - JDJ\ComptaBundle\Behat\BillProductContext
                - JDJ\ComptaBundle\Behat\PaymentMethodContext
                - JDJ\ComptaBundle\Behat\BillContext
                - JDJ\ComptaBundle\Behat\DealerContext
            filters:
                tags: "@___bills"

        subscriptions:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - JDJ\CoreBundle\Behat\UtilsContext
                - JDJ\UserBundle\Behat\UserContext
                - JDJ\ComptaBundle\Behat\CustomerContext
                - JDJ\ComptaBundle\Behat\ProductContext
                - JDJ\ComptaBundle\Behat\BillProductContext
                - JDJ\ComptaBundle\Behat\PaymentMethodContext
                - JDJ\ComptaBundle\Behat\BillContext
                - JDJ\ComptaBundle\Behat\DealerContext
            filters:
                tags: "@___subscriptions"

        bookEntries:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - JDJ\UserBundle\Behat\UserContext
                - JDJ\ComptaBundle\Behat\PaymentMethodContext
                - JDJ\ComptaBundle\Behat\BookEntryContext
                - JDJ\CoreBundle\Behat\UtilsContext
            filters:
                tags: "@___bookEntries"

        comptaSubscription:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - JDJ\UserBundle\Behat\UserContext
            filters:
                tags: "@___comptaSubscription && ~@javascript"

    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    selenium2: ~
            browser_name: firefox
            show_auto:    false
            base_url: http://jdj.dev/app_test.php/
        Behat\Symfony2Extension: ~

firefox:
     extensions:
         Behat\MinkExtension:
             sessions:
                 default:
                     selenium2: ~
             browser_name: firefox
             show_auto:    false
             base_url: http://jdj.dev/app_test.php/
         Behat\Symfony2Extension: ~

chrome:
     extensions:
         Behat\MinkExtension:
             sessions:
                 default:
                     selenium2: ~
             browser_name: googlechrome
             show_auto:    false
             base_url: http://jdj.dev/app_test.php/
         Behat\Symfony2Extension: ~

ie:
     extensions:
         Behat\MinkExtension:
             sessions:
                 default:
                     selenium2: ~
             browser_name: ie
             show_auto:    false
             base_url: http://jdj.dev/app_test.php/
         Behat\Symfony2Extension: ~