{% from 'macros/misc.html.twig' import pagination %}
<!-- Nav tab style 2 starts -->
<div class="nav-tabs-two">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#jeux" data-toggle="tab">Jeux</a></li>
        <li><a href="#articles" data-toggle="tab">Articles</a></li>
        <li><a href="#avis" data-toggle="tab">Avis</a></li>
    </ul>
    <!-- Tab content -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="jeux">
            {% include 'frontend/person/show/nav-tab/_products.html.twig' %}
        </div>
        <div class="tab-pane fade" id="articles">
            {% include 'frontend/person/show/nav-tab/_articles.html.twig' %}
        </div>
        <div class="tab-pane fade" id="avis">
            {% include 'frontend/person/show/nav-tab/_productReviews.html.twig' %}
        </div>
    </div>
</div>
<!-- Nav tab style 2 ends -->
