<!-- articles start -->
<div class="margin-clear space-top">
    {{ render(url('app_frontend_partial_product_game_play_latest', {'productId': product.id, 'template': 'frontend/game_play/_list.html.twig'})) }}
</div>
<!-- articles end -->
