{% extends 'frontend/layout.html.twig' %}

{% block content %}

    {% include 'frontend/product/show/_breadcrumb.html.twig' %}
    {% include 'frontend/product/show/_main.html.twig' %}

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-30 light-gray-bg">
        <div class="container">
            <div class="row">
                {% include 'frontend/product/show/_tabs.html.twig' %}
                {% include 'frontend/product/show/_sidebar.html.twig' %}
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section dark-translucent-bg pv-40"
             style="background-image:url('images/shop-banner.jpg');background-position: 50% 32%;">
        <div class="container">
            <div class="row grid-space-10">
                <div class="col-lg-3 col-md-6">
                    <div class="pv-30 ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon default-bg"><i class="fa fa-diamond"></i></span>
                        <h3>Premium &amp; Guaranteed Quality</h3>
                        <div class="separator clearfix"></div>
                        <p>Voluptatem ad provident non repudiandae beatae cupiditate.</p>
                        <a href="page-services.html" class="link-dark">{{ 'sylius.ui.view_more'|trans }}<i
                                    class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pv-30 ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                        <span class="icon default-bg"><i class="fa fa-lock"></i></span>
                        <h3>Secure &amp; Safe Payment</h3>
                        <div class="separator clearfix"></div>
                        <p>Iure sequi unde hic. Sapiente quaerat sequi inventore.</p>
                        <a href="page-services.html" class="link-dark">{{ 'sylius.ui.view_more'|trans }}<i
                                    class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-lg-3 col-md-6">
                    <div class="pv-30 ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon default-bg"><i class="fa fa-globe"></i></span>
                        <h3 class="pl-10 pr-10">Free &amp; Fast Shipping</h3>
                        <div class="separator clearfix"></div>
                        <p>Inventore dolores aut laboriosam cum consequuntur.</p>
                        <a href="page-services.html" class="link-dark">{{ 'sylius.ui.view_more'|trans }}<i
                                    class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pv-30 ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="250">
                        <span class="icon default-bg"><i class="fa fa-thumbs-up"></i></span>
                        <h3>Unt loremcu doloriem</h3>
                        <div class="separator clearfix"></div>
                        <p>Inventore dolores aut laboriosam cum consequuntur.</p>
                        <a href="page-services.html" class="link-dark">{{ 'sylius.ui.view_more'|trans }}<i
                                    class="pl-1 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-8">
                                <h2 class="title"><strong>Subscribe</strong> To Our Newsletter</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur
                                    deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
                                <div class="separator"></div>
                                <form class="form-inline margin-clear d-flex justify-content-center">
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="subscribe3">Email address</label>
                                        <input type="email" class="form-control form-control-lg" id="subscribe3"
                                               placeholder="Enter email" required="">
                                        <i class="fa fa-envelope form-control-feedback"></i>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated ml-2">
                                        Submit <i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    {% include 'frontend/product/show/_footerTop.html.twig' %}
{% endblock content %}
