{% set definition = resources.definition %}

<!-- section start -->
<!-- ================ -->
<div class="light-translucent-bg section">
    <div class="container-fluid">
        <!-- filters start -->
        <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
            <form class="form-inline">
                {% for filter in definition.filters %}
                    {{ sylius_grid_render_filter(resources, filter) }}
                {% endfor %}
                <div class="form-group ml-1">
                    <button type="submit" class="btn btn-default">
                        <span class="fa fa-search"></span>
                        {{ 'sylius.ui.search'|trans }}</button>
                </div>
            </form>
        </div>
        <!-- filters end -->
    </div>
</div>
<!-- section end -->
