<div class="alert alert-warning" role="alert">
    <strong>Attention</strong> Jedisjeux ne propose pas de jouer en ligne.
    <p>Cette fonctionnalité permet de saisir une partie jouée afin d'en faire un compte-rendu, se souvenir de tous les jeux auquels on a joué, faire des statistiques etc...</p>
</div>

<!-- Tabs start -->
<!-- ================ -->
<!-- ================ -->
<div class="vertical">
    {% include 'frontend/game_play/form/_tabs.html.twig' %}
    <!-- Tab panes -->
    <div class="tab-content" style="width: 100%">
        {% include 'frontend/game_play/form/_main.html.twig' %}
        {% include 'frontend/game_play/form/_players.html.twig' %}
        {% include 'frontend/game_play/form/_images.html.twig' %}
    </div>
</div>
<!-- tabs end -->
