{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

    <div class="container">
    <div class="row">

    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">Nouvelle partie</h1>
        <div class="separator-2"></div>
        <!-- page-title end -->
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-default">{{ 'sylius.ui.create'|trans }}</button>
    {{ form_end(form) }}
    </div>
    </div>
    </div>
    </section>
{% endblock content %}