{% extends 'base.html.twig' %}
{% from 'macros/misc.html.twig' import pagination %}
{% from 'macros/sorting.html.twig' import sorting %}
{% from 'macros/game_plays.html.twig' import magazineItemOne %}

{% block headline %}
    Parties
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    Parties /
{% endblock %}

{% block body -%}
    <div class="col-md-8">

        <div class="container">

            <div class="pull-right sorting">
                {% set sorting = app.request.get('sorting') %}

                {% set icon = false %}
                {% set currentOrder = null %}

                {% if null == sorting %}
                    {% set icon = true %}
                    {% set currentOrder = 'desc' %}
                {% endif %}

                Trier
                par {{ sorting('app_frontend_game_play_index', 'label.created_at'|trans, 'createdAt', 'desc', icon, currentOrder) }}
            </div>

            <div class="clearfix"></div>

            {% include 'frontend/game_play/_list3.html.twig' with {'game_plays' : game_plays.data} %}

            <div class="pagination-wrapper">
                <div class="pagination-bottom">
                    {{ pagination(game_plays.data) }}
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-4">
        {% include 'frontend/game_play/_sidebar.html.twig' %}
    </div>
{% endblock %}