{% extends 'frontend/layout.html.twig' %}

{% block content %}
    {% include 'frontend/game_play/show/_breadcrumb.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title text-center">{{ game_play.product }}</h1>
                    <p class="large text-center">{{ game_play.createdAt|localizeddate('medium', 'none') }} | par {{ game_play.author }}
                    <div class="separator with-icon"><i class="fa fa-play-circle bordered"></i></div>
                    <!-- page-title end -->

                    <div class="row">
                        <div class="col-lg-4 col-xl-5">
                            <!-- pills start -->
                            <!-- ================ -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#pill-1" data-toggle="tab" title="/assets/frontend/images"><i class="fa fa-camera pr-1"></i> Photo</a></li>
                                <li class="nav-item"><a class="nav-link" href="#pill-2" data-toggle="tab" title="video"><i class="fa fa-video-camera pr-1"></i> Video</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content clear-style">
                                <div class="tab-pane active" id="pill-1">
                                    <div class="slick-carousel content-slider-with-thumbs mb-20">
                                        <div class="overlay-container overlay-visible">
                                            <img src="/assets/frontend/images/product-1.jpg" alt="">
                                            <a href="/assets/frontend/images/product-1.jpg" class="slick-carousel--popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="pill-2">
                                    <div class="overlay-container">
                                        <img src="/assets/frontend/images/page-about-2.jpg" alt="">
                                        <a class="overlay-link" href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- pills end -->
                            <div class="clearfix mb-20">
                            </div>
                        </div>
                        <div class="col-lg-8 col-xl-7 pv-30">
                            <h4 class="space-top">Specifications de la partie</h4>
                            <hr>
                            {% include 'frontend/game_play/show/_specifications.html.twig' %}
                            <h4 class="space-top">Specifications du jeu</h4>
                            <hr>
                            {% include 'frontend/product/show/_specifications.html.twig' with { 'product' : game_play.product } %}
                        </div>
                    </div>
                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->

    <!-- scores section start -->
    <!-- ================ -->
    <section class="pv-30">
        <div class="container">
            <div class="col-lg-8">
                <h3>Scores</h3>
                <div class="separator-2"></div>
            </div>
        </div>
    </section>
    <!-- scores section end -->

    {% include 'frontend/game_play/show/_images.html.twig' %}
    {% include 'frontend/game_play/show/_comments.html.twig' %}

    <!-- footer top start -->
    <!-- ================ -->
    <div class="dark-bg default-hovered footer-top animated-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="mt-4">Powerful Bootstrap Template</h2>
                                <h2 class="mt-4">Waste no more time</h2>
                            </div>
                            <div class="col-md-4">
                                <p class="mt-3"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">Purchase<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top end -->
{% endblock %}
