{% extends 'frontend/layout.html.twig' %}

{% block content %}
    {% include 'frontend/game_play/show/_breadcrumb.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title text-center">Terraforming Mars</h1>
                    <p class="large text-center">le 27 juillet 2018 | par Le Zeptien
                    <div class="separator with-icon"><i class="fa fa-play-circle bordered"></i></div>
                    <!-- page-title end -->

                    <div class="row">
                        <div class="col-lg-4 col-xl-5">
                            <!-- pills start -->
                            <!-- ================ -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#pill-1" data-toggle="tab" title="/assets/frontend/images"><i class="fa fa-camera pr-1"></i> Photo</a></li>
                                <li class="nav-item"><a class="nav-link" href="#pill-2" data-toggle="tab" title="video"><i class="fa fa-video-camera pr-1"></i> Video</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content clear-style">
                                <div class="tab-pane active" id="pill-1">
                                    <div class="slick-carousel content-slider-with-thumbs mb-20">
                                        <div class="overlay-container overlay-visible">
                                            <img src="/assets/frontend/images/product-1.jpg" alt="">
                                            <a href="/assets/frontend/images/product-1.jpg" class="slick-carousel--popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="pill-2">
                                    <div class="overlay-container">
                                        <img src="/assets/frontend/images/page-about-2.jpg" alt="">
                                        <a class="overlay-link" href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- pills end -->
                            <div class="clearfix mb-20">
                            </div>
                        </div>
                        <div class="col-lg-8 col-xl-7 pv-30">
                            <h4 class="space-top">Specifications de la partie</h4>
                            <hr>
                            <dl class="row">
                                <dt class="col-sm-3 text-sm-right">Nombre de joueurs</dt>
                                <dd class="col-sm-9">4</dd>
                                <dt class="col-sm-3 text-sm-right">Date</dt>
                                <dd class="col-sm-9">27 juillet 2018</dd>
                                <dt class="col-sm-3 text-sm-right">Durée</dt>
                                <dd class="col-sm-9">2h40</dd>
                            </dl>
                            <h4 class="space-top">Specifications du jeu</h4>
                            <hr>
                            <dl class="row">
                                <dt class="col-sm-3 text-sm-right">Nombre de joueurs</dt>
                                <dd class="col-sm-9">2 joueurs exclusivement</dd>
                                <dt class="col-sm-3 text-sm-right">Âge</dt>
                                <dd class="col-sm-9">à partir de 8 ans</dd>
                                <dt class="col-sm-3 text-sm-right">Durée</dt>
                                <dd class="col-sm-9">30 minutes</dd>
                                <dt class="col-sm-3 text-sm-right">Mécanismes</dt>
                                <dd class="col-sm-9">Majorité, Rapidité, Dés, Stop ou encore</dd>
                                <dt class="col-sm-3 text-sm-right">Thèmes</dt>
                                <dd class="col-sm-9">SteamPunk</dd>
                                <dt class="col-sm-3 text-sm-right">Date de sortie</dt>
                                <dd class="col-sm-9">juin 2018</dd>
                                <dt class="col-sm-3 text-sm-right">Auteur(s)</dt>
                                <dd class="col-sm-9">Prospero Hall</dd>
                                <dt class="col-sm-3 text-sm-right">Illustrateur(s)</dt>
                                <dd class="col-sm-9">Pierô</dd>
                                <dt class="col-sm-3 text-sm-right">Editeur(s)</dt>
                                <dd class="col-sm-9">Hurrican</dd>
                            </dl>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->

    <!-- scores section start -->
    <!-- ================ -->
    <section class="pv-30">
        <div class="container">
            <div class="col-lg-8">
                <h3>Scores</h3>
                <div class="separator-2"></div>
            </div>
        </div>
    </section>
    <!-- scores section end -->

    <!-- photos section start -->
    <!-- ================ -->
    <section class="pv-30">
        <div class="container">
            <div class="col-lg-8">
                <h3>Photos</h3>
                <div class="separator-2"></div>
                <div class="slick-carousel content-slider-with-thumbs mb-20">
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/frontend/images/product-1.jpg" alt="">
                        <a href="/assets/frontend/images/product-1.jpg" class="slick-carousel--popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
                    </div>
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/frontend/images/product-1-2.jpg" alt="">
                        <a href="/assets/frontend/images/product-1-2.jpg" class="slick-carousel--popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
                    </div>
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/frontend/images/product-1-3.jpg" alt="">
                        <a href="/assets/frontend/images/product-1-3.jpg" class="slick-carousel--popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
                    </div>
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/frontend/images/product-1-4.jpg" alt="">
                        <a href="/assets/frontend/images/product-1-4.jpg" class="slick-carousel--popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div class="content-slider-thumbs-container">
                    <div class="slick-carousel content-slider-thumbs">
                        <div class="slick-nav-thumb">
                            <img src="/assets/frontend/images/product-1.jpg" alt="">
                        </div>
                        <div class="slick-nav-thumb">
                            <img src="/assets/frontend/images/product-1-2.jpg" alt="">
                        </div>
                        <div class="slick-nav-thumb">
                            <img src="/assets/frontend/images/product-1-3.jpg" alt="">
                        </div>
                        <div class="slick-nav-thumb">
                            <img src="/assets/frontend/images/product-1-4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- photos section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- comments start -->
                    <!-- ================ -->
                    <div id="comments" class="comments">
                        <h2 class="title">There are 3 comments</h2>

                        <!-- comment start -->
                        <div class="comment clearfix">
                            <div class="comment-avatar">
                                <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg" alt="avatar">
                            </div>
                            <header>
                                <div class="comment-meta pv-20">By <a href="#">loic_425</a> | 6 août 2007 à 12:31</div>
                            </header>
                            <div class="comment-content">
                                <div class="comment-body clearfix">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                                    <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                                </div>
                            </div>

                            <!-- comment start -->
                            <div class="comment clearfix">
                                <div class="comment-avatar">
                                    <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg" alt="avatar">
                                </div>
                                <header>
                                    <div class="comment-meta pv-20">By <a href="#">loic_425</a> | 6 août 2007 à 12:31</div>
                                </header>
                                <div class="comment-content">
                                    <div class="comment-body clearfix">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                                        <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                                    </div>
                                </div>
                            </div>
                            <!-- comment end -->

                        </div>
                        <!-- comment end -->

                        <!-- comment start -->
                        <div class="comment clearfix">
                            <div class="comment-avatar">
                                <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg" alt="avatar">
                            </div>
                            <header>
                                <div class="comment-meta pv-20">By <a href="#">loic_425</a> | 6 août 2007 à 12:31</div>
                            </header>
                            <div class="comment-content">
                                <div class="comment-body clearfix">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                                    <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                                </div>
                            </div>
                        </div>
                        <!-- comment end -->

                    </div>
                    <!-- comments end -->

                    <!-- comments form start -->
                    <!-- ================ -->
                    <div class="comments-form">
                        <h2 class="title">Add your comment</h2>
                        <form>
                            <div class="form-group has-feedback">
                                <label for="name4">Name</label>
                                <input type="text" class="form-control" id="name4" placeholder="" required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="subject4">Subject</label>
                                <input type="text" class="form-control" id="subject4" placeholder="" required>
                                <i class="fa fa-pencil form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="message4">Message</label>
                                <textarea class="form-control" rows="8" id="message4" placeholder="" required></textarea>
                                <i class="fa fa-envelope-o form-control-feedback"></i>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-default">
                        </form>
                    </div>
                    <!-- comments form end -->
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- footer top start -->
    <!-- ================ -->
    <div class="dark-bg default-hovered footer-top animated-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="mt-4">Powerful Bootstrap Template</h2>
                                <h2 class="mt-4">Waste no more time</h2>
                            </div>
                            <div class="col-md-4">
                                <p class="mt-3"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">Purchase<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top end -->
{% endblock %}
