{% extends "base.html.twig" %}

{% block headline %}
    {{ article.title }}
{% endblock %}

{% block breadcrumb_content %}
    Articles /
    {{ article.title }}
{% endblock %}

{% block body -%}

    {% for block in article.children %}

        <div class="block">

            {{ sonata_block_render({
                'name': block.id
            }) }}

        </div>

    {% endfor %}
{% endblock %}