{% extends "base.html.twig" %}

{% block body_class %}article{% endblock %}

{% block headline %}
    {{ article.title }}
{% endblock %}

{% block breadcrumb_content %}
    Articles /
    {{ article.title }}
{% endblock %}

{% block body -%}

    <div class="container">
        <div class="col-md-12">

        {% for block in article.children %}

            {{ sonata_block_render({
                'name': block.id
            }) }}

        {% endfor %}
        </div>
    </div>

{% endblock %}