{% extends "base.html.twig" %}

{% block headline %}
    {{ article.title }}
{% endblock %}

{% block breadcrumb_content %}
    Articles /
    {{ article.title }}
{% endblock %}

{% block body -%}

    <div class="container">

    {% for block in article.children %}

            {{ sonata_block_render({
                'name': block.id
            }) }}

    {% endfor %}

    </div>
{% endblock %}