{% extends "base.html.twig" %}

{% import 'macros/items.html.twig' as item %}

{% block body_class %}article{% endblock %}

{% block headline %}
    {{ article.document.title }}
{% endblock %}

{% block breadcrumb_content %}
    Articles /
    {{ article.document.title }}
{% endblock %}

{% block body -%}

    <div class="container">
        <div class="col-md-12">

            {% for block in article.document.children %}

                {{ sonata_block_render({
                    'name': block.id
                }) }}

            {% endfor %}

            {{ item.blogAuthor(article.author, null, article.document.publishStartDate) }}
        </div>
    </div>

{% endblock %}