<!-- Sidebar -->
<div class="sidebar">

    {% if articleIsTest %}

        <div class="s-widget">
            <h5>Note</h5>
            <div class="widget-content search">
                <ul class="list-unstyled">
                    <li>
                        <div class="icon-box-4">
                            <div class="icon-box-4-item">
                                <a href="#" class="icon-box-4-icon bg-yellow"> <i class="fa fa-star"></i> </a>
                                <h4>{{ article.averageRating|round(1) }}</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="s-widget">
            <h5>Notes par critères</h5>
            <!-- Widgets Content -->
            <div class="widget-content search">
                <ul class="list-unstyled">
                    <li>
                        <div class="col-md-6">
                            <!-- Item title -->
                            <i class="fa fa-list"></i> <span>Matériel</span>
                        </div>
                        <div class="col-md-6">
                            <div class="rating-container">
                                <div class="rating yellow" data-readonly="true" data-rate-value="{{ article.materialRating }}"
                                     data-step-size="0.5"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-6">
                            <!-- Item title -->
                            <i class="fa fa-book"></i> <span>Règles</span>
                        </div>
                        <div class="col-md-6">
                            <div class="rating-container">
                                <div class="rating yellow" data-readonly="true" data-rate-value="{{ article.rulesRating }}"
                                     data-step-size="0.5"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-6">
                            <!-- Item title -->
                            <i class="fa fa-calendar"></i> <span>Durée de vie</span>
                        </div>
                        <div class="col-md-6">
                            <div class="rating-container">
                                <div class="rating yellow" data-readonly="true" data-rate-value="{{ article.lifetimeRating }}"
                                     data-step-size="0.5"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    <!-- Tag Widget -->
    <div class="s-widget">
        <h5><i class="fa fa-tags color"></i>&nbsp; Tags</h5>
        <!-- Widgets Content -->
        <div class="widget-content">
            <a href="#" class="label label-color">web</a>
            <a href="#" class="label label-color">wordpress</a>
            <a href="#" class="label label-color">php</a>
            <a href="#" class="label label-color">jquery</a>
            <a href="#" class="label label-color">java</a>
            <a href="#" class="label label-color">photoshop</a>
            <a href="#" class="label label-color">windows</a>
            <a href="#" class="label label-color">android</a>
            <a href="#" class="label label-color">ios</a>
            <a href="#" class="label label-color">chrome</a>
            <a href="#" class="label label-color">development</a>
            <a href="#" class="label label-color">plugin</a>
            <a href="#" class="label label-color">personal</a>
            <a href="#" class="label label-color">general</a>
        </div>
    </div>

</div>