<!-- Sidebar -->
<div class="sidebar">

    <!-- Tag Widget -->
    <div class="s-widget">
        <h5><i class="fa fa-tags color"></i>&nbsp; Tags</h5>
        <!-- Widgets Content -->
        <div class="widget-content">
            <a href="#" class="label label-color">web</a>
            <a href="#" class="label label-color">wordpress</a>
            <a href="#" class="label label-color">php</a>
            <a href="#" class="label label-color">jquery</a>
            <a href="#" class="label label-color">java</a>
            <a href="#" class="label label-color">photoshop</a>
            <a href="#" class="label label-color">windows</a>
            <a href="#" class="label label-color">android</a>
            <a href="#" class="label label-color">ios</a>
            <a href="#" class="label label-color">chrome</a>
            <a href="#" class="label label-color">development</a>
            <a href="#" class="label label-color">plugin</a>
            <a href="#" class="label label-color">personal</a>
            <a href="#" class="label label-color">general</a>
        </div>
    </div>

</div>