<!-- filters start -->
<div class="sorting-filters text-center mb-20 d-flex justify-content-center">
    <form class="form-inline">
        <div class="form-group">
            <label>Sort by</label>
            <select class="form-control">
                <option selected="selected">Date</option>
                <option>Price</option>
                <option>Model</option>
            </select>
        </div>
        <div class="form-group ml-1">
            <label>Order</label>
            <select class="form-control">
                <option selected="selected">Asc</option>
                <option>Desc</option>
            </select>
        </div>
        <div class="form-group ml-1">
            <label>Catégorie</label>
            <select class="form-control">
                <option selected="selected">Toutes</option>
                <option>La taverne du joueur (293)</option>
                <option>Les philosophes du jeu (62)</option>
                <option>Vous recherchez des conseils ? (136)</option>
            </select>
        </div>
        <div class="form-group ml-1">
            <a href="#" class="btn btn-default">Submit</a>
        </div>
    </form>
</div>
<!-- filters end -->
