<div class="ui tab" data-tab="barcodes">
    <h3 class="ui top attached header">{{ 'app.ui.barcodes'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.barcodes) }}
    </div>
</div>
