<div class="ui tab" data-tab="taxonomy">
    <h3 class="ui top attached header">{{ 'sylius.ui.taxonomy'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.mainTaxon, { 'attr': { 'class': 'multiple-select' } } ) }}
        {{ form_row(form.mechanisms, { 'attr': { 'class': 'multiple-select' } } ) }}
        {{ form_row(form.themes, { 'attr': { 'class': 'multiple-select' } } ) }}
    </div>
</div>
