{% from 'macros/sorting.html.twig' import sorting %}
{% from 'macros/misc.html.twig' import pagination %}

<div class="col-md-12">
    <div class="container">
        <div class="pull-right sorting">
            {% set sorting = app.request.get('sorting') %}

            {% set icon = false %}
            {% set currentOrder = null %}

            {% if null == sorting %}
                {% set icon = true %}
                {% set currentOrder = 'desc' %}
            {% endif %}

            Trier
            par {{ sorting(indexPath|default('app_frontend_product_list_item_index'), 'app.ui.added_at'|trans, 'createdAt', 'desc', icon, currentOrder, {'productListSlug': app.request.get('productListSlug')}) }}
        </div>

        <div class="clearfix"></div>

        <div class="img-box-4 text-center jeu-list">
            <div class="row">
                {% for product_list_item in product_list_items.data %}
                {% if loop.index0 != 0 and loop.index0%4 == 0 %}
            </div>
            <div class="row">
                {% endif %}
                <div class="col-md-3 col-sm-6">
                    {% include "frontend/game/index/list-element.html.twig" with {'product': product_list_item.product} %}
                </div>
                {% endfor %}
            </div>
        </div>

        {{ pagination(product_list_items.data) }}
    </div>
</div>