<div class="well">
    <div class="row">
        <div class="col-md-3">
            <label for="game-rating-main">Donnez une note : </label>
        </div>
        <div class="col-md-9">
            <input id="game-rating-main" type="number" class="rating game-rating" min=0 max=5 step=0.5
                   data-size="xs">
        </div>
    </div>
</div>