<div class="well">
    <div class="row">
        <div class="col-md-3">
            <span class="bold">Donnez une note : </span>
        </div>
        <div class="col-md-9">
            <input id="game-rating" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
            <script>
                $("#game-rating").rating({
                    'starCaptions': {
                        0.5: 'Half Star',
                        1: 'One Star',
                        1.5: 'One & Half Star',
                        2: 'Two Stars',
                        2.5: 'Two & Half Stars',
                        3: 'Three Stars',
                        3.5: 'Three & Half Stars',
                        4: 'Four Stars',
                        4.5: 'Four & Half Stars',
                        5: 'Mythique'
                    }
                });
            </script>
        </div>
    </div>

</div>