<div class="sidebar">

    {% include "jeu/show/sidebar/user-review.html.twig" with {'jeu': jeu, 'userReviews': userReviews} only %}

    <!-- Gallery Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-camera color"></i> Photos</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            {% for image in jeu.images %}
                <a href="{{ image.webPath | imagine_filter('default') }}" rel="jeu" class="fancybox">
                    <img src="{{ image.webPath | imagine_filter('thumbnail_S') }}" alt="" class="img-responsive img-thumbnail"/>
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- Material list -->
    {% if jeu.materiel %}
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-list color"></i> Matériel</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            <ul>
                {% for row in jeu.materiel|split("\n") %}
                    <li>{{ row }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>