<div class="sidebar">

    {% include "jeu/show/sidebar/user-review.html.twig" with {'jeu': jeu, 'userReviews': userReviews} only %}

    <!-- Gallery Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-camera color"></i> Gallery</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            <a href="../../../img/gallery/small/1.jpg" class="lightbox"><img src="../../../img/gallery/small/1.jpg" alt=""
                                                                             class="img-responsive img-thumbnail"/></a>
            <a href="../../../img/gallery/small/2.jpg" class="lightbox"><img src="../../../img/gallery/small/2.jpg" alt=""
                                                                             class="img-responsive img-thumbnail"/></a>
            <a href="../../../img/gallery/small/3.jpg" class="lightbox"><img src="../../../img/gallery/small/3.jpg" alt=""
                                                                             class="img-responsive img-thumbnail"/></a>
            <a href="../../../img/gallery/small/1.jpg" class="lightbox"><img src="../../../img/gallery/small/1.jpg" alt=""
                                                                             class="img-responsive img-thumbnail"/></a>
            <a href="../../../img/gallery/small/2.jpg" class="lightbox"><img src="../../../img/gallery/small/2.jpg" alt=""
                                                                             class="img-responsive img-thumbnail"/></a>
            <a href="../../../img/gallery/small/3.jpg" class="lightbox"><img src="../../../img/gallery/small/3.jpg" alt=""
                                                                             class="img-responsive img-thumbnail"/></a>
            <a href="../../../img/gallery/small/1.jpg" class="lightbox"><img src="../../../img/gallery/small/1.jpg" alt=""
                                                                             class="img-responsive img-thumbnail"/></a>
            <a href="../../../img/gallery/small/2.jpg" class="lightbox"><img src="../../../img/gallery/small/2.jpg" alt=""
                                                                             class="img-responsive img-thumbnail"/></a>
        </div>
    </div>
</div>