<!-- sidebar start -->
<!-- ================ -->
<aside class="col-lg-4 col-xl-3 ml-xl-auto">
    <div class="sidebar">
        <h3 class="title mt-4">{{ 'app.ui.box_content'|trans }}</h3>
        <div class="separator-2"></div>
        <ul id="box-content" class="nav flex-column list-style-icons">
            {% for row in product.boxContent|split("\n") %}
                <li class="nav-item">
                    <i class="fa fa-caret-right pr-10"></i>{{ row }}
                </li>
            {% endfor %}
        </ul>

        {% include 'frontend/pub_banner/_sidebar.html.twig' %}

        {{ render(url('app_partial_dealer_price_index', {
            template: 'frontend/dealer_price/_list.html.twig',
            paginate: 4,
            criteria: {
                'product': product.id
            }
        })) }}
    </div>
</aside>
<!-- sidebar end -->
