<header>
    <div class="banner">
        <div class="row">
            <nav data-topbar="" class="top-bar columns">

                <section class="top-bar-section">
                    <ul class="title-area">

                        <li class="name">
                            <h1>
                                <a href="{{ path("jdj_web_homepage") }}">
                                    Jedisjeux
                                </a>

                            </h1>
                        </li>

                    </ul>
                    <ul class="right">
                        <li class="search">
                            <form action="{{ path("search_query") }}">
                                <input id="main-search" type="search" name="query">
                            </form>
                        </li>
                        <li class="has-button">
                            <a href="#" class="small button">Rechercher</a>
                        </li>
                    </ul>
                </section>

            </nav>
        </div>
    </div>
    {% include "JDJWebBundle:layout:menu.html.twig" %}
</header>
