{% extends "::base.html.twig" %}

{% block headline %}
    Modifier une écriture comptable
{% endblock headline %}

{% block breadcrumb_content %}
    <a href="{{ path('jdj_compta_homepage') }}">Comptabilité</a> /
    <a href="{{ path('compta_book_entry') }}">Écritures comptables</a> /
    Modifier
{% endblock breadcrumb_content %}

{% block container -%}
    {{ form(form) }}
{% endblock container %}
