{% extends "::base.html.twig" %}

{% block headline %}
    Nouvelle une écriture comptable
{% endblock headline %}

{% block breadcrumb_container %}
    <a href="{{ path('jdj_compta_homepage') }}">Comptabilité</a> /
    <a href="{{ path('compta_book_entry') }}">Écritures comptables</a> /
    Nouveau
{% endblock breadcrumb_container %}

{% block container %}
    {{ form(form) }}
{% endblock container %}
