{% extends "::base.html.twig" %}
{% import 'macros/actions.html.twig' as action %}

{% block container %}
    <div class="block-heading-two">
        <h3><span>Modifier un mécanisme</span></h3>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ action.update() }}
    {{ form_end(form) }}
{% endblock container %}
