<!-- main-menu -->
<ul class="navbar-nav ml-xl-auto">

    <!-- mega-menu start -->
    <li class="nav-item active mega-menu mega-menu--wide">
        <a href="index.html" class="nav-link" id="first-dropdown">Accueil</a>
    </li>
    <!-- mega-menu end -->
    <li class="nav-item dropdown ">
        <a href="{{ path('app_frontend_article_index') }}" class="nav-link dropdown-toggle" id="seventh-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
        <ul class="dropdown-menu" aria-labelledby="seventh-dropdown">
            <li ><a href="article-listing-2col.html">News</a></li>
            <li ><a href="article-listing-2col.html">Tests de jeu</a></li>
            <li ><a href="article-listing-2col.html">Vidéos</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown ">
        <a href="{{ path('sylius_frontend_product_index') }}" class="nav-link dropdown-toggle" id="sixth-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jeux</a>
        <ul class="dropdown-menu" aria-labelledby="sixth-dropdown">
            <li ><a href="index-shop.html">Shop Home 1</a></li>
            <li ><a href="index-shop-2.html">Shop Home 2</a></li>
            <li ><a href="shop-listing-4col.html">Grid - 4 Columns</a></li>
            <li ><a href="shop-listing-3col.html">Grid - 3 Columns</a></li>
            <li ><a href="shop-listing-2col.html">Grid - 2 Columns</a></li>
            <li ><a href="shop-listing-sidebar.html">Grid - With Sidebar</a></li>
            <li ><a href="shop-listing-list.html">List</a></li>
            <li ><a href="shop-product.html">Product Page</a></li>
            <li ><a href="shop-product-2.html">Product Page 2 <span class="badge">v1.3</span></a></li>
        </ul>
    </li>
    <li class="nav-item mega-menu mega-menu--wide">
        <a href="game-play-listing.html" class="nav-link">Parties</a>
    </li>
    <li class="nav-item mega-menu mega-menu--wide">
        <a href="person-listing-grid-4-col.html" class="nav-link">Ludographie</a>
    </li>
    <li class="nav-item mega-menu mega-menu--wide">
        <a href="{{ path('app_frontend_topic_index') }}" class="nav-link">Forum</a>
    </li>
</ul>
<!-- main-menu end -->
