<!-- header-container end -->
<!-- banner start -->
<!-- ================ -->
<div class="banner border-clear light-translucent-bg" style="background-image:url('/assets/frontend/images/christmas-banner.jpg');background-position: 50% 32%;">
    {% include 'frontend/article/index/_breadcrumb.html.twig' %}
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center pv-20">
                <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{{ 'app.ui.articles'|trans }}</h2>
                <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
            </div>
        </div>
    </div>
    {% include 'frontend/article/index/_filters.html.twig' %}
</div>
<!-- banner end -->
