{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <div id="page-start"></div>

    <!-- section start -->
    <!-- ================ -->
    <section class="section light-gray-bg clearfix">
        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->
                <div class="col-lg-8">
                    <div class="row grid-space-10">
                        <div class="col-lg-6">
                            <h3 class="title">Articles Récents</h3>
                            <div class="separator-2"></div>
                            <div class="image-box style-2 mb-20 bordered light-gray-bg">
                                <div class="overlay-container overlay-visible">
                                    <img src="assets/frontend/images/portfolio-1.jpg" alt="">
                                    <div class="overlay-bottom text-left">
                                        <p class="lead margin-clear">[JdJMovies] Pulsar 2849</p>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Dec, 2017 <i class="pl-10 pr-1 fa fa-tag"></i> Web Design</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                                    <a href="article-details.html" class="btn btn-default btn-sm rgin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                                </div>
                            </div>

                            <div class="block clearfix">
                                <div class="media margin-clear">
                                    <div class="d-flex pr-2">
                                        <div class="overlay-container">
                                            <img class="media-object" src="assets/frontend/images/product-1.jpg" alt="blog-thumb">
                                            <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="article-details.html">Lorem ipsum dolor sit amet</a></h6>
                                        <ul class="list-icons text-muted small">
                                            <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                                            <li><i class="fa fa-tag"></i> Web Design</li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="media margin-clear">
                                    <div class="d-flex pr-2">
                                        <div class="overlay-container">
                                            <img class="media-object" src="assets/frontend/images/product-2.jpg" alt="blog-thumb">
                                            <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="article-details.html">Eum repudiandae ipsam</a></h6>
                                        <ul class="list-icons text-muted small">
                                            <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                                            <li><i class="fa fa-tag"></i> Web Design</li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="media margin-clear">
                                    <div class="d-flex pr-2">
                                        <div class="overlay-container">
                                            <img class="media-object" src="assets/frontend/images/product-3.jpg" alt="blog-thumb">
                                            <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="shop-product.html">Quia aperiam velit fuga</a></h6>
                                        <ul class="list-icons text-muted small">
                                            <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                                            <li><i class="fa fa-tag"></i> Web Design</li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="media margin-clear">
                                    <div class="d-flex pr-2">
                                        <div class="overlay-container">
                                            <img class="media-object" src="assets/frontend/images/product-4.jpg" alt="blog-thumb">
                                            <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="article-details.html">Fugit non natus officiis</a></h6>
                                        <ul class="list-icons text-muted small">
                                            <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                                            <li><i class="fa fa-tag"></i> Web Design</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="title">Top Articles</h3>
                            <div class="separator-2"></div>
                            <div class="image-box style-2 mb-20 bordered light-gray-bg">
                                <div class="overlay-container overlay-visible">
                                    <img src="assets/frontend/images/portfolio-2.jpg" alt="">
                                    <div class="overlay-bottom text-left">
                                        <p class="lead margin-clear">Critique de Jurassik Snack</p>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Dec, 2017 <i class="pl-10 pr-1 fa fa-tag"></i> Web Design</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                                    <a href="#" class="btn btn-default btn-sm rgin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                                </div>
                            </div>
                            <div class="block clearfix">
                                <div class="media margin-clear">
                                    <div class="d-flex pr-2">
                                        <div class="overlay-container">
                                            <img class="media-object" src="assets/frontend/images/product-1.jpg" alt="blog-thumb">
                                            <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="article-details.html">Lorem ipsum dolor sit amet</a></h6>
                                        <ul class="list-icons text-muted small">
                                            <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                                            <li><i class="fa fa-tag"></i> Web Design</li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="media margin-clear">
                                    <div class="d-flex pr-2">
                                        <div class="overlay-container">
                                            <img class="media-object" src="assets/frontend/images/product-2.jpg" alt="blog-thumb">
                                            <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="shop-product.html">Eum repudiandae ipsam</a></h6>
                                        <ul class="list-icons text-muted small">
                                            <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                                            <li><i class="fa fa-tag"></i> Web Design</li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="media margin-clear">
                                    <div class="d-flex pr-2">
                                        <div class="overlay-container">
                                            <img class="media-object" src="assets/frontend/images/product-3.jpg" alt="blog-thumb">
                                            <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="shop-product.html">Quia aperiam velit fuga</a></h6>
                                        <ul class="list-icons text-muted small">
                                            <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                                            <li><i class="fa fa-tag"></i> Web Design</li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="media margin-clear">
                                    <div class="d-flex pr-2">
                                        <div class="overlay-container">
                                            <img class="media-object" src="assets/frontend/images/product-4.jpg" alt="blog-thumb">
                                            <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="article-details.html">Fugit non natus officiis</a></h6>
                                        <ul class="list-icons text-muted small">
                                            <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                                            <li><i class="fa fa-tag"></i> Web Design</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row grid-space-10">
                        <!-- section start -->
                        <!-- ================ -->
                        <section class="section">
                            <div class="container">
                                <h3 class="title">Dernières parties jouées</h3>
                                <div class="separator-2"></div>
                                <div class="row grid-space-10">
                                    <div class="col-sm-4">
                                        <div class="image-box style-2 mb-20 bordered light-gray-bg">
                                            <div class="overlay-container overlay-visible">
                                                <img src="assets/frontend/images/portfolio-4.jpg" alt="">
                                                <div class="overlay-bottom text-left">
                                                    <p class="lead margin-clear">7 Wonders</p>
                                                </div>
                                            </div>
                                            <div class="body">
                                                <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Joué le 13 août 2018 <i class="pl-10 pr-1 fa fa-user"></i> à 4 joueurs</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                                                <a href="#" class="btn btn-default btn-sm rgin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="image-box style-2 mb-20 bordered light-gray-bg">
                                            <div class="overlay-container overlay-visible">
                                                <img src="assets/frontend/images/portfolio-5.jpg" alt="">
                                                <div class="overlay-bottom text-left">
                                                    <p class="lead margin-clear">Kero</p>
                                                </div>
                                            </div>
                                            <div class="body">
                                                <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Joué le 13 août 2018 <i class="pl-10 pr-1 fa fa-user"></i> à 4 joueurs</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                                                <a href="#" class="btn btn-default btn-sm rgin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="image-box style-2 mb-20 bordered light-gray-bg">
                                            <div class="overlay-container overlay-visible">
                                                <img src="assets/frontend/images/portfolio-6.jpg" alt="">
                                                <div class="overlay-bottom text-left">
                                                    <p class="lead margin-clear">The 7th Continent</p>
                                                </div>
                                            </div>
                                            <div class="body">
                                                <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Joué le 13 août 2018 <i class="pl-10 pr-1 fa fa-user"></i> à 4 joueurs</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                                                <a href="#" class="btn btn-default btn-sm rgin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- section end -->
                    </div>

                </div>
                {% include 'frontend/homepage/index/_sidebar.html.twig' %}

            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section">
        <div class="container">
            <h3 class="title">Derniers jeux ajoutés</h3>
            <div class="separator-2"></div>
            <div class="row grid-space-10">
                <div class="col-sm-3">
                    <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                            <img src="assets/frontend/images/product-1.jpg" alt="">
                            <a class="overlay-link" href="shop-product.html"><i class="fa fa-search-plus"></i></a>
                            <span class="badge">30% OFF</span>
                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-plus pr-10"></i>Ajouter à une liste</a>
                              <a href="shop-product.html" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="shop-product.html">Kero</a>
                            </h3>
                            <p>
                                <i class="fa fa-star text-default"></i>
                                <i class="fa fa-star text-default"></i>
                                <i class="fa fa-star text-default"></i>
                                <i class="fa fa-star text-default"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            <ul class="list-icons small">
                                <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                                <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                                <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                                <li><i class="fa fa-calendar-o"></i> Sortie : juin 2018</li>
                            </ul>
                            <div class="elements-list clearfix">
                                <a class="pull-right margin-clear" href="shop-product.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                            <img src="assets/frontend/images/product-2.jpg" alt="">
                            <span class="badge">25% OFF</span>
                            <a class="overlay-link" href="shop-product.html"><i class="fa fa-search-plus"></i></a>
                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="shop-product.html">Dream On!</a></h3>
                            <p>
                                <i class="fa fa-star text-default"></i>
                                <i class="fa fa-star text-default"></i>
                                <i class="fa fa-star text-default"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            <ul class="list-icons small">
                                <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                                <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                                <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                                <li><i class="fa fa-calendar-o"></i> Sortie : juin 2018</li>
                            </ul>
                            <div class="elements-list clearfix">
                                <a class="pull-right margin-clear" href="shop-product.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                            <img src="assets/frontend/images/product-3.jpg" alt="">
                            <span class="badge">33% OFF</span>
                            <a class="overlay-link" href="shop-product.html"><i class="fa fa-search-plus"></i></a>
                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="shop-product.html">Quas inventore modi</a></h3>
                            <ul class="list-icons small">
                                <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                                <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                                <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                                <li><i class="fa fa-calendar-o"></i> Sortie : juin 2018</li>
                            </ul>
                            <div class="elements-list clearfix">
                                <a class="pull-right margin-clear" href="shop-product.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                            <img src="assets/frontend/images/product-5.jpg" alt="">
                            <span class="badge">30% OFF</span>
                            <a class="overlay-link" href="shop-product.html"><i class="fa fa-search-plus"></i></a>
                            <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                            </div>
                        </div>
                        <div class="body">
                            <h3><a href="shop-product.html">Velit Suscipit consequatur</a></h3>
                            <ul class="list-icons small">
                                <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                                <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                                <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                                <li><i class="fa fa-calendar-o"></i> Sortie : juin 2018</li>
                            </ul>
                            <div class="elements-list clearfix">
                                <a class="pull-right margin-clear" href="shop-product.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-7" style="background-position: 50% 50%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6 text-center">
                    <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                        <span class="icon dark-bg large circle"><i class="fa fa-puzzle-piece"></i></span>
                        <h3><strong>Jeux</strong></h3>
                        <span class="counter">7431</span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                        <span class="icon dark-bg large circle"><i class="fa fa-newspaper-o"></i></span>
                        <h3><strong>Articles</strong></h3>
                        <span class="counter">580</span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                        <span class="icon dark-bg large circle"><i class="fa fa-users"></i></span>
                        <h3><strong>Utilisateurs</strong></h3>
                        <span class="counter">5842</span>
                    </div>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                        <span class="icon dark-bg large circle"><i class="fa fa-star"></i></span>
                        <h3><strong>Notes</strong></h3>
                        <span class="counter">10261</span>
                    </div>
                </div>
            </div>
        </div>
        {% include 'frontend/homepage/index/_footerTop.html.twig' %}
    </section>
    <!-- section end -->
{% endblock content %}
