{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <div id="page-start"></div>

    <!-- section start -->
    <!-- ================ -->
    <section class="section light-gray-bg clearfix">
        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->
                <div class="col-lg-8">
                    <div class="row grid-space-10">
                        <div class="col-lg-6" id="latest-articles">
                            {% include 'frontend/homepage/index/_latestArticles.html.twig' %}
                        </div>
                        <div class="col-lg-6">
                            {% include 'frontend/homepage/index/_topestArticles.html.twig' %}
                        </div>
                    </div>
                    <div class="row grid-space-10">
                        {% include 'frontend/homepage/index/_latestGamePlays.html.twig' %}
                    </div>
                </div>
                {% include 'frontend/homepage/index/_sidebar.html.twig' %}
            </div>
        </div>
    </section>
    <!-- section end -->
    {% include 'frontend/homepage/index/_latestProducts.html.twig' %}
    {{ render(url('app_counter_index')) }}
{% endblock content %}
