{% from "JDJJeuBundle:Jeu:macros.html.twig" import joueurCount %}
<div class="medium-3 columns">
    <div class="image crop">
        <a href="{{ path('jeu_show', { 'id': jeu.id, 'slug': jeu.slug }) }}">
            <img src="http://www.jedisjeux.net/img/800/{{ jeu.imageCouverture }}" alt="Imperial"/>
        </a>
    </div>
    <div class="panel" data-equalizer-watch>
        <a href="{{ path('jeu_show', { 'id': jeu.id, 'slug': jeu.slug }) }}">
            <h3>{{ jeu.libelle }}</h3>
        </a>
    </div>
</div>