{% from "JDJJeuBundle:Jeu:macros.html.twig" import joueurCount %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

<div class="listing">
    <div class="row" data-equalizer>
        {% for key, jeu in jeux %}
            {% if (key%4 == 0) and key > 0 %}
    </div>
    <div class="row" data-equalizer>
            {% endif %}
            {% include 'JDJJeuBundle:Jeu/partial:_listElement.html.twig' with {'jeu': jeu} %}
        {% endfor %}
    </div>
</div>
{% block Pagination %}
<div class="pagination-wrapper">
    <div class="pagination-bottom">
        {{ pagination(jeux) }}
    </div>
</div>
{% endblock %}