<ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel2-1">Présentation</a></li>
    <li class="tab-title"><a href="#panel2-2">Prix</a></li>
    <li class="tab-title"><a href="#articles">Articles</a></li>
    <li class="tab-title"><a href="#photos">Photos</a></li>
    <li class="tab-title"><a href="#parties">{{ jeu.parties|length }} Partie{% if (jeu.parties|length > 1) %}s{% endif %}</a></li>
    <li class="tab-title"><a href="#avis">{{ userReviews | length }} Avis</a></li>
    <li class="tab-title"><a href="#stats">Stats</a></li>
    <li class="tab-title"><a href="#addons">{{ jeu.addons|length }} Addons</a></li>
</ul>
<div class="tabs-content">
    <div class="content active"
         id="panel2-1">
        {% include "JDJJeuBundle:Jeu:partial/onglet/presentation.html.twig" with {'jeu': jeu} %}</div>
    <div class="content" id="panel2-2"><p>Second panel content goes here...</p></div>
    <div class="content" id="articles"><p>Third panel content goes here...</p></div>
    <div class="content" id="photos"><p>Photos go here...</p></div>
    <div class="content" id="parties">{% include "JDJJeuBundle:Jeu:partial/onglet/partie.html.twig" with {'jeu': jeu} %}</div>
    <div class="content" id="avis">{% include "JDJJeuBundle:Jeu:partial/onglet/userReview.html.twig" with {'userReviews': userReviews, 'jeu': jeu} %}</div>
    <div class="content" id="stats"><p>Stats goe here...</p></div>
    <div class="content"
         id="addons">{% include "JDJJeuBundle:Jeu:partial/onglet/addon.html.twig" with {'jeu': jeu} %}</div>
</div>