<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% stylesheets
        '@JDJFoundationBundle/Resources/public/stylesheets/app.css'
        '@JDJFoundationBundle/Resources/public/bower_components/chosen/chosen.min.css'
        '@JDJWebBundle/Resources/public/css/base.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>

{% include "JDJWebBundle:layout:header.html.twig" %}


<div class="row">

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div data-alert class="alert-box {{ label }} radius">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div style="display: none" id="alert-box-success" data-alert class="alert-box success radius"></div>

    {% block content_with_sidebar %}
    <div class="large-12 columns" role="content">
        {% block content_without_sidebar %}
            {% block fos_user_content %}
            {% block body %}
            {% endblock %}
            {% endblock fos_user_content %}
        {% endblock %}
    </div>
    {% endblock %}
</div>

{% include "JDJWebBundle:layout:footer.html.twig" %}

{% block javascript %}
    {% javascripts
        '@JDJFoundationBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
        '@JDJFoundationBundle/Resources/public/bower_components/foundation/js/foundation.min.js'
        '@JDJFoundationBundle/Resources/public/bower_components/foundation/js/foundation/foundation.tab.js'
        '@JDJFoundationBundle/Resources/public/bower_components/foundation/js/foundation/foundation.equalizer.js'
        '@JDJFoundationBundle/Resources/public/bower_components/chosen/chosen.jquery.min.js'
        '@JDJFoundationBundle/Resources/public/js/*'
        '@JDJJeuBundle/Resources/public/js/jeu/*'
        '@JDJSearchBundle/Resources/public/js/*'
        '@JDJUserReviewBundle/Resources/public/js/jeu_note/*'
        '@JDJFoundationBundle/Resources/public/bower_components/modernizr/modernizr.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>

