<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% stylesheets
        '@JDJFoundationBundle/Resources/public/stylesheets/app.css'
        '@JDJWebBundle/Resources/public/css/base.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>

{% include "JDJWebBundle:layout:header.html.twig" %}

<div class="row">
    <div class="large-12 columns" role="content">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div data-alert class="alert-box {{ label }} radius">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}
        {% endblock %}
    </div>
</div>

{% include "JDJWebBundle:layout:footer.html.twig" %}

{% block javascript %}
    {% javascripts
        '@JDJFoundationBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
        '@JDJFoundationBundle/Resources/public/bower_components/foundation/js/foundation.min.js'
        '@JDJFoundationBundle/Resources/public/bower_components/foundation/js/foundation/foundation.tab.js'
        '@JDJFoundationBundle/Resources/public/js/*'
        '@JDJJeuBundle/Resources/public/js/jeu/*'
        '@JDJFoundationBundle/Resources/public/bower_components/modernizr/modernizr.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>

