<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% stylesheets
        '@JDJFoundationBundle/Resources/public/stylesheets/app.css'
        '@JDJWebBundle/Resources/public/css/base.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message">
        <em>Notice</em>: {{ flashMessage }}
    </div>
{% endfor %}
{% include "JDJWebBundle::header.html.twig" %}

<div class="row">
    <div class="large-12 columns" role="content">
        {% block body %}
        {% endblock %}
    </div>
</div>

{% include "JDJWebBundle::footer.html.twig" %}


    {% javascripts
        '@JDJFoundationBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
        '@JDJFoundationBundle/Resources/public/bower_components/foundation/js/foundation.min.js'
        '@JDJFoundationBundle/Resources/public/js/*'
        '@JDJFoundationBundle/Resources/public/bower_components/modernizr/modernizr.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>

