/**************************************************************/
/*  	    		       FICHE DE JEU					      */
/**************************************************************/

.intro {
  p {
    font-size: 1.2rem;
    font-style: italic;
  }
}

.panel {
  &.materiel {
    background: #fafafa;
    border: none;
    ul li, h3 {
      color: #888;
    }
  }
}

.panel {
  &.but {
    background-color: $lightgreen;
    border: none;
    ul li, h3, p {
      color: white;
    }
  }
}

/*****************************************************/
/* Notation avec étoiles */
/*****************************************************/

.starRating {
  float: left;
  margin: 0px 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  p, span {
    display: none;
  }

  .starLeft, .starRight {
    float: left;
    width: 11px;
    height: 20px;

    a{
      width: 11px;
      height: 20px;
      display: block;
      text-decoration: none;
    }
  }

  .starLeft {
    background: url(http://www.jedisjeux.net/img/design/icons/stars.png) left bottom;
    &.selected {
      background: url(http://www.jedisjeux.net/img/design/icons/stars.png) left top;
    }
  }

  .starRight{
    background: url(http://www.jedisjeux.net/img/design/icons/stars.png) right bottom;
    &.selected {
      background: url(http://www.jedisjeux.net/img/design/icons/stars.png) right top;
    }
  }
}