{% from 'macros/taxons.html.twig' import sidebarList %}

<!-- Sidebar -->
<div class="sidebar">
    {% set taxons = rootTaxon.children %}
    <!-- Categories Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-folder color"></i>&nbsp; {{ rootTaxon }}</h5>
        <!-- Widgets Content -->
        <div class="widget-content categories">

            {{ sidebarList(taxons, 'app_person_index_by_taxon', taxon is defined ? taxon : null) }}

            {#<ul class="list-6">#}
            {#{% for key, thisTaxon in taxons %}#}
            {#{% if key < 5 %}#}
            {#{% set currentTaxon = taxon is defined and thisTaxon == taxon ? true : false %}#}
            {#<li>#}
            {#<a href="{{ path('app_person_index_by_taxon', { 'permalink': thisTaxon.permalink }) }}">#}
            {#{% if currentTaxon %}#}
            {#<strong>{% endif %}{{ thisTaxon }}{% if currentTaxon %}</strong>{% endif %}#}
            {#</a>#}
            {#</li>#}
            {#{% endif %}#}
            {#{% endfor %}#}
            {#</ul>#}
        </div>
    </div>

</div>