{% extends "base.html.twig" %}
{% from 'macros/misc.html.twig' import pagination %}

{% block headline %}
    Les ludographies
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('app_person_index') }}">Ludographies</a>
{% endblock %}

{% block body -%}

    <div class="container">
        <div class="row">
            <div class="col-md-10">

                <div class="container">
                    {% include 'frontend/person/partial/_list.html.twig' with {'persons': resources} %}
                    {{ pagination(resources) }}
                </div>

            </div>
            <div class="col-md-2">
                {% include 'frontend/person/_sidebar.html.twig' %}
            </div>
        </div>
    </div>



{% endblock %}