{% extends "base.html.twig" %}

{% block headline %}
    {{ person }}
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('app_frontend_person_index') }}">Ludographies</a>
    / {{ person }}
{% endblock %}

{% block body -%}
    <div class="col-md-8">
        {% include "frontend/person/show/_header.html.twig" %}
        {% include "frontend/person/show/_nav-tab.html.twig" %}
    </div>
    <div class="col-md-4">
        {% include "frontend/person/show/_sidebar.html.twig" %}
    </div>
{% endblock %}