<div class="ui stackable two column grid">
    <div class="column">
        {% include configuration.vars.templates.header_title|default('backend/crud/index/_headerTitle.html.twig') %}
        {% include configuration.vars.templates.breadcrumb|default('backend/crud/index/_breadcrumb.html.twig') %}
    </div>

    {% include 'backend/crud/index/_actions.html.twig' %}
</div>
