@import "modules/login";
@import "modules/collection/collection";
@import "modules/core/loading";
@import "modules/jedizone/jedizone";

body {
  &.sf-toolbar {
    margin-top: 70px;
  }
}

h1 {
  font-size: 26px;
}

.top-bar {
  .avatar {
    width: 30px;
    height: 30px
  }
}

.img-round {
  border-radius: 50%;
}

.jeu-list {
  .img-container {
    height: 148px;
    overflow: hidden;
  }
}

.intro {
  font-style: italic;
  font-size: 1.3em;
}

.thumbnail-jeu {
  padding-left: 0;
  padding-top: 8px;
}

.title-button {
  padding-top: 7px;
}

.sidebar {

  .score-list-content {
    display: block;

    ul {
      padding: 0px;
      margin: 0px;
      list-style-type: none;

      img, .anonymous-user {
        max-width: 60px;
        float: left;
        margin-right: 10px;
        margin-top: 3px;
      }
    }

  }

  .anonymous-user {
    margin-right: 10px;
    margin-top: 3px;
    float: left;
    width: 60px;
    height: 60px;
    display: block;
    vertical-align: middle;
    text-align: center;

    .fa {
      font-size: 50px;
    }
  }
}

.comment-author-image {

  .anonymous-user {
    margin-right: 10px;
    margin-top: 3px;
    float: left;
    width: 60px;
    height: 60px;
    display: block;
    vertical-align: middle;
    text-align: center;

    .fa {
      font-size: 50px;
    }
  }
}

.blog-meta {
  img {
    float: left;
    width: 32px;
  }
}

.bloc-login {
  width : 430px !important;
}

ul.ui-autocomplete {
  padding: 0px;
  margin: 0px;
  list-style-type: none;

  img, .anonymous-user {
    max-width: 60px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
  }
}

.table {
  th {
    a, a.color {
      color: #666666;
    }
  }
}