<div class="rating md" data-max-value="10"  data-update-input-field-name="sylius_product_review_rating_rating" data-step-size="1"></div>
{{ form_start(form, {'action': path('sylius_partial_product_rating_create', { 'productId': app.request.attributes.get('productId') }) }) }}
{{ form_widget(form) }}
{{ form_end(form) }}