<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#main" role="tab" data-toggle="tab">{{ 'label.description'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#players" role="tab" data-toggle="tab">{{ 'label.players'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#images" role="tab" data-toggle="tab">{{ 'label.images'|trans }}</a>
    </li>
</ul>
