parameters:
    database_driver:   pdo_mysql
    database_host:     192.168.99.100
    database_port:     ~
    database_name:     jdj
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       192.168.99.100
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       2525
    mailer_auth:       cram-md5

    secret:            ThisTokenIsNotSoSecretChangeIt

    router.request_context.host: jdj.dev
    router.request_context.scheme: http

    fos_elastica.host: 192.168.99.100
    fos_elastica.port: 9200

    phpcr.backend:
        type: doctrinedbal
        connection: default
        caches:
            meta: doctrine_cache.providers.phpcr_meta
            nodes: doctrine_cache.providers.phpcr_nodes
    phpcr.workspace: default
    phpcr.user: root
    phpcr.pass: ~

    dos.cache:
        type: file_system

    google.analytics.profile_id: ga:XXXXXX
    google.analytics.tracking_id: UA-XXXXX-1
    google.analytics.client_id: XXXXXXXXXXXX@developer.gserviceaccount.com
    google.analytics.private_key_file: %kernel.root_dir%/Resources/bin/Jedisjeux-186280a3c320.p12
