parameters:
    database_driver:   pdo_mysql
    database_host:     jdj.dev
    database_port:     ~
    database_name:     jdj
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            ThisTokenIsNotSoSecretChangeIt

    fos_elastica.host: jdj.dev
    fos_elastica.port: 9200

    phpcr.backend:
        type: doctrinedbal
        connection: default
        caches:
            meta: doctrine_cache.providers.phpcr_meta
            nodes: doctrine_cache.providers.phpcr_nodes
    phpcr.workspace: default
    phpcr.user: root
    phpcr.pass: ~

    dos.cache:
        type: file_system
