{% extends 'frontend/layout.html.twig' %}

{% set pageTitle %}
    {{ topic.title }}
{% endset %}

{% block content %}
    {% include 'frontend/post/index/_breadcrumb.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">
                {% include 'frontend/post/index/_main.html.twig' %}
                {% include 'frontend/post/index/_sidebar.html.twig' %}
            </div>
        </div>
    </section>
    <!-- main-container end -->

    {% include 'frontend/post/index/_footerTop.html.twig' %}
{% endblock content %}
