<!-- Foot Recent Image -->
<div class="foot-recent-img">
    {% set key = 0 %}
    {% for product in products %}
    {% if key > 0 and key%3 == 0 %}
</div>
<div class="foot-recent-img">
    {% endif %}
    {% set key = key + 1 %}
    <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}"><img src="{{ product.mainImage ? product.mainImage.webPath | imagine_filter('thumbnail') : 'assets/img/avatar_2x.png' | imagine_filter('thumbnail') }}" alt=""
                                                             class="img-responsive img-round"/></a>
    {% endfor %}
</div>