{% from 'macros/games.html.twig' import magazineItemOne %}

<div class="row">
    {% for game in products %}

        {% set meta %}
            <i class="fa fa-calendar"></i> <!-- TODO publishedAt -->{{ game.releasedAt|localizeddate('long', 'none') }}
        {% endset %}

    <div class="col-md-4 col-sm-6">
        {{ magazineItemOne(game, null, meta) }}
    </div>
    {% endfor %}
</div>