<div class="s-widget">
    <h5>Note</h5>
    <div class="widget-content">
        <div class="icon-box-1 text-center">
            <div class="container">
                <div class="row well">
                    <div class="col-md-12">
                        <div class="col-md-3 col-sm-3">
                            <!-- Icon Box One Item -->
                            <div class="icon-box-1-item">
                                <!-- Icon Box One Icon -->
                                <a href="#"><i class="fa fa-star yellow"></i></a>
                                <!-- Icon Box One Headeing -->
                                <strong>{{ article.averageRating|round(1) }}/10</strong>
                            </div>
                        </div>
                        <div class="col-md-9 col-md-9">
                            <div class="row">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="col-md-8 text-left">
                                            <!-- Item title -->
                                            <i class="fa fa-list"></i> <span>Matériel</span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <div class="rating-container">
                                                <div class="rating yellow" data-readonly="true"
                                                     data-rate-value="{{ article.materialRating }}"
                                                     data-step-size="0.5"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-8 text-left">
                                            <!-- Item title -->
                                            <i class="fa fa-book"></i> <span>Règles</span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <div class="rating-container">
                                                <div class="rating yellow" data-readonly="true"
                                                     data-rate-value="{{ article.rulesRating }}"
                                                     data-step-size="0.5"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-md-8 text-left">
                                            <!-- Item title -->
                                            <i class="fa fa-calendar"></i> <span>Durée de vie</span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <div class="rating-container">
                                                <div class="rating yellow" data-readonly="true"
                                                     data-rate-value="{{ article.lifetimeRating }}"
                                                     data-step-size="0.5"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="clearfix"></div>
</div>