{% macro pagination(paginator) %}
    {% if paginator.haveToPaginate() %}
        <div class="text-center">
            {{ pagerfanta(paginator, 'twitter_bootstrap3_translated') }}
        </div>
    {% endif %}
{% endmacro %}