<div class="ui tab" data-tab="slide_show">
    <h3 class="ui top attached header">{{ 'app.ui.slide_show'|trans }}</h3>
    <div class="ui attached segment">
        {#{{ form_row(form.document.slideShowBlock) }}#}
    </div>
</div>
