{% extends "base.html.twig" %}

{% block body -%}

    <div class="block-heading-two">
        <h3><span>Modification de la fiche de jeu</span></h3>
    </div>

    {% include "jeu/partial/form.html.twig" with {'form': form, 'entity': entity} %}

{% endblock %}
