{% extends "::base.html.twig" %}

{% block container %}

    <div id="notify-jeu" class="alert" style="display: none;">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <span id="message-jeu"></span>
    </div>

    <div class="col-md-8">
        {% include "jeu/show/header.html.twig" with {'jeu': jeu, 'userGameAttribute': userGameAttribute} only %}

        {% include "jeu/show/rating.html.twig" with {'jeu': jeu} only %}

        {% include "jeu/show/nav-tab.html.twig" with {'jeu': jeu, 'userReviews': userReviews} only %}

        {% include "jeu/show/collection-modal.html.twig" with {'jeu': jeu} only %}

    </div>

    <div class="col-md-4">
        {% include "jeu/show/sidebar.html.twig" with {'jeu': jeu, 'userReviews': userReviews} only %}
    </div>


    {#    {% render controller('JDJUserReviewBundle:JeuNote:new', { 'idJeu': jeu.id }) %}
        {% include "JDJJeuBundle:Jeu:partial/onglet.html.twig" with {'jeu': jeu, 'userReviews': userReviews} %}
        {% render url('jeu_if_you_like_this_game', { 'id': jeu.id }) %}#}

{% endblock container %}