<div class="magazine-list">
    <ul class="list-unstyled">
        <!-- List item starts -->
        <li>
            <a href="../img/gallery/small/5.jpg" class="lightbox"><img src="../img/gallery/small/5.jpg"
                                                                       class="img-responsive"/></a>

            <div class="m-list-content">
                <!-- Heading -->
                <h5><a href="#">Nemo enim ipsam voluptatem quia quia neque porro</a></h5>
                <!-- Meta -->
                <div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i
                            class="fa fa-comments"></i> 5 Comments
                </div>
            </div>
        </li>
        <!-- List item ends -->
        <li>
            <a href="../img/gallery/small/6.jpg" class="lightbox"><img src="../img/gallery/small/6.jpg"
                                                                       class="img-responsive"/></a>

            <div class="m-list-content">
                <!-- Heading -->
                <h5><a href="#">Temporibus autem quibusdam et aut officiis aut rerum</a></h5>
                <!-- Meta -->
                <div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i
                            class="fa fa-comments"></i> 5 Comments
                </div>
            </div>
        </li>
        <li>
            <a href="../img/gallery/small/7.jpg" class="lightbox"><img src="../img/gallery/small/7.jpg"
                                                                       class="img-responsive"/></a>

            <div class="m-list-content">
                <!-- Heading -->
                <h5><a href="#">Voluptates repudiandae sint et molestiae non recusand</a></h5>
                <!-- Meta -->
                <div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i
                            class="fa fa-comments"></i> 5 Comments
                </div>
            </div>
        </li>
        <li>
            <a href="../img/gallery/small/8.jpg" class="lightbox"><img src="../img/gallery/small/8.jpg"
                                                                       class="img-responsive"/></a>

            <div class="m-list-content">
                <!-- Heading -->
                <h5><a href="#">Neque porro quisquam estui ipsum quia dolor sit</a></h5>
                <!-- Meta -->
                <div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i
                            class="fa fa-comments"></i> 5 Comments
                </div>
            </div>
        </li>
    </ul>
</div>