{% extends "base.html.twig" %}

{% block body -%}

    {% set jeu = entity.jeu %}

    <div class="col-md-8">
        {% include "jeu/show/header.html.twig" with {'jeu': jeu} only %}
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': entity.id} %}
    </div>

    <div class="col-md-4">
        {% include "partie/show/sidebar.html.twig" with {'partie': entity} only %}
    </div>



{% endblock %}