/* Blog */
.blog-meta {
  margin: 10px 0px;
  padding: 5px 10px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  background: #fcfcfc;

  a, button {
    color: #888;
    font-size: 12px;
    background: transparent;
    border: none;

    &:hover {
      color: #555;
    }
  }
}

.blog-author .blog-author-img{
  max-width:100px;
  float:left;
  margin-right:15px;
}
/* Blog comments */
.blog-comments .blog-comment-item{
  border-bottom:1px solid #eee;
  padding-bottom:15px;
  margin-bottom:15px;
}
.blog-comments .blog-comment-item.comment-reply{
  margin-left:75px;
}
.blog-comments .comment-author-image{
  float:left;
  max-width:60px;
}
.blog-comments .comment-details{
  margin-left:75px;
}
/* Blog one */
.blog-one .blog-one-item{
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom:1px solid #eee;
}
.blog-one .blog-one-img{
  max-width:220px;
  float:left;
  margin-bottom:5px;
}
.blog-one .blog-one-img img{
  margin-top:5px;
}
.blog-one .blog-one-content{
  position:relative;
  margin-left:235px;
}
.blog-one .blog-one-content h6{
  color:#aaa;
  font-weight:400;
}
/* Blog two */
.blog-two .blog-two-item{
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom:1px solid #eee;
}
.blog-two .blog-two-img{
  margin-bottom:10px;
}
.blog-two .blog-two-video{
  margin-bottom:10px;
}
.blog-two .blog-two-content h6{
  color:#aaa;
  font-weight:400;
}
/* Blog three */
.blog-three .blog-three-item{
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom:1px solid #eee;
}
.blog-three .blog-three-img{
  margin-bottom:10px;
}
.blog-three .blog-three-video{
  margin-bottom:10px;
}
.blog-three .blog-three-content h6{
  color:#aaa;
  font-weight:400;
}
/* Blog four */
.blog-four .blog-four-item{
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px solid #eee;
}
.blog-four h3{
  font-size:30px;
  line-height:40px;
  margin-bottom:10px;
  font-weight:400;
}
.blog-four h3 a{
  color:#888;
}
.blog-four .meta-block{
  margin:10px 0px;
}
/* Blog masonry */
.blog-masonry .item {
  padding: 15px;
  width: 33.3%;
}
@media (max-width: 767px){
  .blog-masonry .item { width: 50% !important; }
}
@media (max-width: 480px){
  .blog-masonry .item { width: 100% !important; }
}
.blog-masonry .item .grid-entry{
  overflow: hidden;
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px solid #eee;
}
.blog-masonry .grid-entry .grid-img{
  position: relative;
  overflow: hidden;
  margin-bottom:20px;
}
.blog-masonry .grid-entry .video-container{
  margin-bottom:20px;
}
.blog-masonry .grid-entry img{
  border-radius: 5px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.blog-masonry .grid-entry .grid-img .grid-img-hover{
  display: block;
  width: 100%;
  height: 0%;
  position: absolute;
  top: 100%;
  left: 0%;
  background: rgba(0,0,0,0.5);
  border-radius:3px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 20;
}
.blog-masonry .grid-entry .grid-img:hover .grid-img-hover{
  top: 0%;
  height:100%;
}
.blog-masonry .grid-entry .grid-img a{
  color: #fff;
}
.blog-masonry .grid-entry .grid-img i.hover-icon{
  position: absolute;
  top: 50%;
  left:50%;
  display: inline-block;
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  z-index: 25;
}
.blog-masonry .grid-entry .grid-img:hover i.hover-icon{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.blog-masonry .grid-entry .bor{
  margin-top:6px;
  margin-bottom:5px;
  width:75px;
  height:3px;
}
.blog-masonry .grid-entry .read-more{
  display:block;
  margin-top:10px;
  color:#444;
  font-weight:bold;
  font-size:12px;
}
.blog-masonry  .grid-entry .grid-quote{
  color: #fff;
  padding:15px;
}
.blog-masonry  .grid-entry .grid-quote i{
  margin-bottom:10px;
}
.blog-masonry .grid-entry .grid-quote p{
  font-size:16px;
  line-height:32px;
}
.blog-masonry .grid-entry .grid-quote .author{
  font-size:16px;
  font-weight:600;
}