{% extends "JDJWebBundle::layout.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

{% block body -%}

    <div class="listing">
        <div class="row" data-equalizer>
            {% for key,result in results %}
                {% if (key%4 == 0) and key > 0 %}
        </div>
        <div class="row" data-equalizer>
                {% endif %}
                {% if types[key] == 'jeu' %}
                    {% include 'JDJJeuBundle:Jeu/partial:_listElement.html.twig' with {'jeu': result} %}
                {% endif %}

                {% if types[key] == 'personne' %}
                    {% include 'JDJLudographieBundle:Personne/partial:_listElement.html.twig' with {'personne': result} %}
                {% endif %}

                {% if types[key] == 'mecanisme' %}
                    {% include 'JDJJeuBundle:Mecanisme/partial:_listElement.html.twig' with {'mecanisme': result} %}
                {% endif %}

                {% if types[key] == 'theme' %}
                    {% include 'JDJJeuBundle:Theme/partial:_listElement.html.twig' with {'theme': result} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(results) }}
        </div>
    </div>

{% endblock %}