<!-- header-container end -->
<!-- banner start -->
<!-- ================ -->
<div class="banner border-clear light-translucent-bg" style="background-image:url('images/shop-banner.jpg');background-position: 50% 32%;">
    {% include 'frontend/person/index/_breadcrumb.html.twig' %}
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center pv-20">
                <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Ludographie <small>ayant pour zones</small> <strong>Allemagne</strong></h2>
                <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
            </div>
        </div>
    </div>
    <!-- section start -->
    <!-- ================ -->
    <div class="light-translucent-bg section">
        <div class="container-fluid">
            <!-- filters start -->
            <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Sort by</label>
                        <select class="form-control">
                            <option selected="selected">Date</option>
                            <option>Price</option>
                            <option>Model</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <label>Order</label>
                        <select class="form-control">
                            <option selected="selected">Asc</option>
                            <option>Desc</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <label>Type</label>
                        <select class="form-control">
                            <option selected="selected">Tous</option>
                            <option>Auteur</option>
                            <option>Illustrateur</option>
                            <option>Editeur</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <label>Zone géographique</label>
                        <select class="form-control">
                            <option selected="selected">Toutes</option>
                            <option>Europe</option>
                            <option>Amérique</option>
                            <option>Asie</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <a href="#" class="btn btn-default">Submit</a>
                    </div>
                </form>
            </div>
            <!-- filters end -->
        </div>
    </div>
    <!-- section end -->
</div>
<!-- banner end -->
