body.error {

  color: white;
  background: black;

  &:after {
    content: "";
    background: black url("../img/death-star.jpg") no-repeat fixed center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  h1 {
    font-size: 52px;
    color: #00b3ee;

    small {
      color: white;
    }
  }

  .outer {
    background: transparent;
  }
}