.img-box-3 {
  .product-list-item {
    .img-box-3-icon {
      a img {
        max-width: 90px;
      }
    }
  }
}

.games-library {
  padding: 0 15px 15px 15px;

  &.bg-black {
    background: black!important;
  }

  img {
    padding-top: 15px;
    vertical-align: bottom;
  }
}

