{% if jeu.materialImage %}
<div class="col-sm-5 col-md-5 pull-left thumbnail-jeu">
    <div class="image-style-six">
        <!-- Image -->
        <a href="{{ jeu.materialImage.webPath | imagine_filter('default') }}" rel="jeu" class="fancybox"><img class="img-responsive" src="{{ jeu.materialImage.webPath | imagine_filter('default') }}" alt=""></a>
    </div>
</div>
{% endif %}

<div class="description">
    {{ jeu.description | raw }}
</div>