{% extends sonata_block.templates.block_base %}
{% from 'macros/images.html.twig' import image %}
{% from 'macros/items.html.twig' import magazineItemOne %}

{% block block %}

    {% if block.children %}
        <div class="col-md-12">
            <div class="row">
                {% set key = 0 %}
                {% for slideshowBlock in block.children %}
                {% set imageBlock = slideshowBlock.children.first %}

                {% if key > 0 and key%4 == 0 %}
            </div>
            <div class="row">
                {% endif %}
                <div class="col-md-3">

                    {{ magazineItemOne(imageBlock.image.id, imageBlock.label, 'cmf_magazine_item', 'img-responsive', imageBlock.linkUrl, null, slideshowBlock.body, null) }}
                </div>
                {% set key = key + 1 %}
                {% endfor %}

            </div>
        </div>
    {% endif %}

{% endblock %}
