{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>Modification de la fiche de jeu</h1>

    {% include "JDJJeuBundle:Jeu:partial/form.html.twig" with {'form': form, 'entity': entity} %}

{% endblock %}
