{% extends "JDJWebBundle::layout.html.twig" %}

{% block content_with_sidebar -%}


    <div class="large-9 columns">
        <h1>Fiches de jeu</h1>
        {% include "JDJJeuBundle:Jeu:partial/list.html.twig" with {'jeux': entities} %}
    </div>

    {% include "JDJJeuBundle:Jeu:partial/_asideGameSearch.html.twig" %}


{% endblock %}