{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}


    {% include "JDJJeuBundle:Jeu:partial/header.html.twig" with {'jeu': jeu} %}


    <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel2-1">Présentation</a></li>
        <li class="tab-title"><a href="#panel2-2">Prix</a></li>
        <li class="tab-title"><a href="#articles">Articles</a></li>
        <li class="tab-title"><a href="#photos">Photos</a></li>
        <li class="tab-title"><a href="#parties">Parties</a></li>
        <li class="tab-title"><a href="#avis">Avis</a></li>
        <li class="tab-title"><a href="#stats">Stats</a></li>
    </ul>
    <div class="tabs-content">
        <div class="content active"
             id="panel2-1">{% include "JDJJeuBundle:Jeu:partial/onglet/presentation.html.twig" with {'jeu': jeu} %}</div>
        <div class="content" id="panel2-2"><p>Second panel content goes here...</p></div>
        <div class="content" id="articles"><p>Third panel content goes here...</p></div>
        <div class="content" id="photos"><p>Photos go here...</p></div>
        <div class="content" id="parties"><p>Fifth panel content go here...</p></div>
        <div class="content" id="avis"><p>Avis goe here...</p></div>
        <div class="content" id="stats"><p>Stats goe here...</p></div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        console.log("test");
        $(document).foundation({ tab: { callback : function (tab) { console.log(tab); } } });
    </script>
{% endblock %}