{% extends 'frontend/layout.html.twig' %}

{% set pageTitle %}
    {{ person.fullName }}
{% endset %}

{% block content %}
    {% include 'frontend/person/show/_breadcrumb.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title text-center">{{ person }}</h1>
                    <p class="large text-center">{{ person.zone }}</p>
                    <div class="separator with-icon"><i class="fa fa-user bordered"></i></div>
                    <!-- page-title end -->

                    <div class="row">
                        <div class="col-lg-4 col-xl-5">
                            <!-- pills start -->
                            <!-- ================ -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#pill-1" data-toggle="tab" title="images"><i class="fa fa-camera pr-1"></i> Photo</a></li>
                                <li class="nav-item"><a class="nav-link" href="#pill-2" data-toggle="tab" title="video"><i class="fa fa-video-camera pr-1"></i> Video</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content clear-style">
                                <div class="tab-pane active" id="pill-1">
                                    {% include 'frontend/person/show/_images.html.twig' %}
                                </div>
                                <div class="tab-pane" id="pill-2">
                                    <div class="overlay-container">
                                        <img src="/assets/frontend/images/page-about-2.jpg" alt="">
                                        <a class="overlay-link" href="#"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- pills end -->
                        </div>
                        <div class="col-lg-8 col-xl-7 pv-30">
                            <h2 class="mt-4">Présentation</h2>
                            {{ person.description|raw }}
                            {% include 'frontend/person/show/_specifications.html.twig' %}
                        </div>
                    </div>
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% include 'frontend/person/show/_reviews.html.twig' %}
                    <!-- comments end -->
                </div>

                {% include 'frontend/person/show/_sidebar.html.twig' %}

            </div>
        </div>
    </section>
    <!-- section end -->

    {% include 'frontend/footer/_top.html.twig' %}
{% endblock content %}
