{% extends "frontend/layout.html.twig" %}

{% set pageTitle %}
    {{ product_list }}
{% endset %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('app_frontend_account_product_list_index') }}">Mes listes de jeu</a>
    / {{ product_list }}
{% endblock %}

{% block content -%}
    {% include 'frontend/account/product_list_item/index/_banner.html.twig' %}

    {% include 'frontend/product_list_item/index/_content.html.twig' with {'indexPath': 'app_frontend_account_product_list_item_index'} %}
{% endblock %}
