<div class="ui stackable grid">
    <div class="twelve wide column">
        <div class="ui segment">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="four wide column">
        {% include 'backend/product_box/_product.html.twig' %}
        {% include 'backend/product_box/_author.html.twig' %}
    </div>
</div>
