{% from "macros/games.html.twig" import playerCount %}

<!-- Image Box #4 Item -->
<div class="img-box-4-item portfolio">
    <!-- Image -->
    <div class="img-container">
        <div class="element">
            <div class="image-style-one">
                {% if product_variant.mainImage %}
                    <img src="{{ product_variant.mainImage.webPath | imagine_filter('default') }}" alt=""
                         class="img-responsive"/>
                {% endif %}
                <div class="image-hover">
                </div>
            </div>
        </div>
    </div>

    <!-- Image Box #4 Content -->
    <div class="img-box-4-content">
        <!-- Heading -->
        <h4>{{ product_variant.name }}</h4>
        <!-- Border -->
        <div class="bor bg-color"></div>
        <!-- Paragraph -->
        <p>
            Edité par {{ product_variant.publishers|join(', ') }}<br/>
            sortie le {{ product_variant.releasedAt|date('d/m/Y') }}<br/>
        </p>
    </div>
</div>
