{% from 'macros/articles.html.twig' import magazineItemOne %}

<div class="row">
    {% for key, article in articles %}
    {% if key > 0 and key%3 == 0 %}
</div>
<div class="row">
    {% endif %}
    <div class="col-md-4">
        {{ magazineItemOne(article) }}
    </div>
    {% endfor %}
</div>
<div class="clearfix"></div>