{% from 'macros/images.html.twig' import image %}
{% from 'macros/articles.html.twig' import magazineItemOne, magazineListItemImageLess %}

{% set article = articles.currentPageResults[0] %}
{% if (article) %}
    {% set imagineBlock = article.document.mainImage %}
    {{ magazineItemOne(article.document) }}
{% endif %}
<hr>

<!-- Magazine list -->
<div class="magazine-list">
    <ul class="list-unstyled">
        <!-- List item starts -->
        {% for article in articles.currentPageResults|slice(1, 4) %}
            <li>
                {{ magazineListItemImageLess(article.document) }}
            </li>
        {% endfor %}
        <!-- List item ends -->
    </ul>
</div>