{% from 'macros/taxons.html.twig' import sidebarList %}

{% set partial_article_index = taxon is defined ? 'app_partial_article_index_by_taxon' : 'app_partial_article_index' %}

<!-- Sidebar -->
<div class="sidebar">
    {% for rootTaxon in rootTaxons %}
        {% set taxons = rootTaxon.children %}
        <!-- Categories Widget -->
        <div class="s-widget">
            <!-- Heading -->
            <h5><i class="fa fa-folder color"></i>&nbsp; {{ rootTaxon }}</h5>
            <!-- Widgets Content -->
            <div class="widget-content categories">
                {{ sidebarList(taxons, 'app_frontend_article_index_by_taxon', taxon|default()) }}
            </div>
        </div>
    {% endfor %}
    <hr>

    {% include 'frontend/pub_banner/_sidebarWidget.html.twig' %}

    <!-- widget - popular -->
    <div class="s-widget">
        <h5><i class="fa fa-book color"></i> A lire aussi...</h5>

        <div class="widget-content tabs">
            <div class="nav-tabs-two">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#popular" data-toggle="tab">Populaires</a></li>
                    <li><a href="#recent" data-toggle="tab">Récents</a></li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content">
                    <!-- Popular posts -->
                    <div class="tab-pane fade in active" id="popular">
                        {{ render(url(partial_article_index, {
                            'slug': taxon is defined ? taxon.slug : null,
                            'sorting': {
                                'topic.postCount': 'desc'
                            },
                            'paginate': 5,
                            'template': 'frontend/article/_sidebarList.html.twig'
                        })) }}
                    </div>
                    <!-- Recent posts -->
                    <div class="tab-pane fade" id="recent">
                        {{ render(url(partial_article_index, {
                            'slug': taxon is defined ? taxon.slug : null,
                            'sorting': {
                                'publishStartDate': 'desc'
                            },
                            'paginate': 5,
                            'template': 'frontend/article/_sidebarList.html.twig'
                        })) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>