{% extends 'frontend/layout.html.twig' %}

{% from 'macro/misc.html.twig' import pagination %}

{% set pageTitle = 'app.ui.articles'| trans %}

{% block content %}
    {% include 'frontend/article/index/_banner.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- Articles start -->
                    <!-- ============================================================================== -->
                    <br>
                    <div class="row">
                        {% for article in articles.data %}
                        {% if loop.index0 > 0 and loop.index0%3 == 0 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        <div class="col-sm-4">
                            {% include 'frontend/article/index/_imageBox.html.twig' %}
                        </div>
                        {% endfor %}
                    </div>

                    <!-- pagination start -->
                    {{ pagination(articles.data) }}
                    <!-- pagination end -->
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->

    {% include 'frontend/article/index/_footerTop.html.twig' %}
{% endblock content %}
