<div class="quote-one">
    <div class="row">
            <!-- Quote One Item -->
            <div class="quote-one-item">
                <span class="color">“</span>
                <div class="quote-one-right">
                    {{ block.body|raw }}
                </div>
            </div>

    </div>
</div>
