{% if cmfMainContent is not defined %}
    {% set cmfMainContent = block %}
{% endif %}

{% createphp cmfMainContent as='rdf' noautotag %}
<div {{ createphp_attributes(rdf) }}>
    <div {{ createphp_attributes(rdf.body) }}>{{ createphp_content(rdf.body) }}</div>
</div>
{% endcreatephp %}