<!-- Heading -->
<h4 class="mag-head"><i class="fa fa-cloud color"></i> News Récentes</h4>

<!-- Magazine item one starts -->
<div class="magazine-item mag-1">
    <!-- Image -->
    <a href="../img/magazine/small/4.jpg" class="lightbox"><img src="../img/magazine/small/4.jpg" alt=""
                                                                class="img-responsive"/></a>
    <!-- Heading -->
    <h4><a href="#">Nemo Enim Ipsam Voluptatem Quuia</a></h4>
    <!-- Meta -->
    <div class="magazine-meta"><i class="fa fa-calendar"></i> 25 Jan 2014 - <i class="fa fa-comments"></i> 5
        Comments
    </div>
    <!-- Para -->
    <p>Nemo enim ipsam voluptatem quia quia neque porro qui dolorem ipsum quia dolor sit amet
        consectetur. </p>
</div>
<!-- Magazine item one ends -->

<hr/>

<!-- Magazine list -->
{% include "default/index/news/recent/magazine-list.html.twig" %}

<hr/>