{% from 'macros/users.html.twig' import avatar %}

{% for game_review in game_reviews %}
    {% set game = game_review.rate.game %}
    {% set user = game_review.rate.createdBy %}
    <li>
        <a href="{{ path('app_game_review_show', {'id': game_review.id, 'gameSlug': game.slug}) }}">
            <!-- Item image -->
            <img src="{{ avatar(user) | imagine_filter('thumbnail') }}" alt="" class="img-responsive img-round"/>

            <!-- Item title -->
            <span>{{ game_review.title }}</span><br/>

            <div class="rating-container rating-gly-star" data-content="">
                <div class="rating-stars" data-content=""
                     style="width: {{ game_review.rate.value }}0%;"></div>
            </div>

            <div class="clearfix"></div>
        </a>
    </li>
{% endfor %}