<!-- comments start -->
<!-- ================ -->
<div id="comments" class="comments">
    <h2 class="title">There are 3 comments</h2>

    <!-- comment start -->
    <div class="comment clearfix">
        <div class="comment-avatar">
            <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg" alt="avatar">
        </div>
        <header>
            <div class="comment-meta pv-20">By <a href="#">loic_425</a> | 6 août 2007 à 12:31</div>
        </header>
        <div class="comment-content">
            <div class="comment-body clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
            </div>
        </div>

        <!-- comment start -->
        <div class="comment clearfix">
            <div class="comment-avatar">
                <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg" alt="avatar">
            </div>
            <header>
                <div class="comment-meta pv-20">By <a href="#">loic_425</a> | 6 août 2007 à 12:31</div>
            </header>
            <div class="comment-content">
                <div class="comment-body clearfix">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                    <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                </div>
            </div>
        </div>
        <!-- comment end -->

    </div>
    <!-- comment end -->

    <!-- comment start -->
    <div class="comment clearfix">
        <div class="comment-avatar">
            <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg" alt="avatar">
        </div>
        <header>
            <div class="comment-meta pv-20">By <a href="#">loic_425</a> | 6 août 2007 à 12:31</div>
        </header>
        <div class="comment-content">
            <div class="comment-body clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
            </div>
        </div>
    </div>
    <!-- comment end -->

</div>
<!-- comments end -->

<!-- comments form start -->
<!-- ================ -->
<div class="comments-form">
    <h2 class="title">Add your comment</h2>
    <form>
        <div class="form-group has-feedback">
            <label for="name4">Name</label>
            <input type="text" class="form-control" id="name4" placeholder="" required>
            <i class="fa fa-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label for="subject4">Subject</label>
            <input type="text" class="form-control" id="subject4" placeholder="" required>
            <i class="fa fa-pencil form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label for="message4">Message</label>
            <textarea class="form-control" rows="8" id="message4" placeholder="" required></textarea>
            <i class="fa fa-envelope-o form-control-feedback"></i>
        </div>
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
</div>
<!-- comments form end -->
