{% from 'macro/topic.html.twig' import render_comments %}

<!-- comments start -->
<!-- ================ -->
<div id="comments" class="comments">
    {% set postCount = article.topic is not null ? article.topic.postCount : 0 %}
    <h2 class="title">{% transchoice postCount %}app.ui.comment.choice{% endtranschoice %}</h2>
    {% if article.topic is not null %}
        {{ render_comments(article.topic) }}
    {% endif %}
</div>
<!-- comments end -->
