{% from 'macro/topic.html.twig' import render_comments %}

<!-- comments start -->
<!-- ================ -->
<div id="comments" class="comments">
    <h2 class="title">There are {{ article.topic is not null ? article.topic.postCount : 0 }} comments</h2>
    {% if article.topic is not null %}
        {{ render_comments(article.topic) }}
    {% endif %}
</div>
<!-- comments end -->
