<!-- Sidebar -->
<div class="sidebar">

    {% if article.product %}
        {% include 'frontend/game/_sidebarBox.html.twig' with { 'product': article.product } %}
    {% endif %}

    {% if article.isReviewArticle %}
        {% include 'frontend/article/show/sidebar/_rating.html.twig' %}
        <hr>
        {% include 'frontend/article/show/sidebar/_reviews.html.twig' %}
    {% endif %}

    {% include 'frontend/article/show/sidebar/_moreArticles.html.twig' %}
    {% include 'frontend/pub_banner/_sidebarWidget.html.twig' %}

</div>