{% if jeu.intro %}
    <div class="intro">
        {{ jeu.intro|raw }}
    </div>
{% endif %}

<div class="row">
    <div class="panel materiel medium-4 columns">
        <h3>Matériel</h3>
        <img src="http://www.jedisjeux.net/img/800/rokoko-49-1376030875.jpg" />
        <ul>
            {% for row in jeu.materiel|split("\n") %}
                <li>{{ row }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="medium-8 columns">
        {% if jeu.but %}
            <div class="panel but">
                <h3>But du jeu</h3>
                {{ jeu.but|raw }}
            </div>
        {% endif %}

        <div class="description">
            <h3>Description du jeu</h3>

            {{ jeu.description|raw }}
        </div>
    </div>
</div>
