{% extends "::base.html.twig" %}

{% block container %}
    <h1>Créer un mode de règlement</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('modereglement') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock container %}
