{% extends 'base.html.twig' %}
{% import 'macros/actions.html.twig' as action %}

{% block container -%}
    <div class="block-heading-two">
        <h3><span>Modifier une méthode de paiement</span></h3>
    </div>
    {{ form_start(form) }}
    {% include 'payment-method/_form.html.twig' %}
    {{ action.update() }}
    {{ form_end(form) }}
{% endblock container %}