<div class="foot">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                {% include 'layout/foot/_about.html.twig' %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include 'layout/foot/_recent_posts.html.twig' %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include 'layout/foot/_recent_products.html.twig' %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include 'layout/foot/_contact_us.html.twig' %}
            </div>
        </div>
    </div>
</div>