{% extends "::base.html.twig" %}
{% import 'macros/forms.html.twig' as form %}

{% block breadcrumb_content %}
    <a href="{{ path('admin_homepage') }}">Administration</a> /
{% endblock %}

{% block container %}

    {% block form_filter %}
        <div class="well">
            {{ form.filter('Recherche...') }}
        </div>
    {% endblock form_filter %}

    <ul class="list-inline pull-right">
        <li>
            {% block new_entity_button %}
            {% endblock new_entity_button %}
        </li>
    </ul>

    {% block list %}
    {% endblock list %}

    {% block Pagination %}
    {% endblock %}

{% endblock container %}