<footer>
    <!-- Container -->
    <div class="container">
        <!-- Footer Content -->
        <!-- Paragraph -->
        <p class="pull-left">Copyright &copy; {{ "now"|date('Y') }} - <a href="#">Jedisjeux.net</a></p>
        <ul class="list-inline pull-right">
            <!-- List -->
            <li><a href="{{ path('app_homepage') }}">Accueil</a>
            <li>
            <li><a href="{{ path('page_show', {'name': 'mentions-legales'}) }}">Mentions légales</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!-- Clearfix -->
        <div class="clearfix"></div>
    </div>
</footer>