<div class="foot">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About</h5>

                    <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur
                        volup tatum.</p>

                    <div class="brand-bg">
                        <!-- Social Media Icons -->
                        <a href="#" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus circle-3"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin circle-3"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest circle-3"></i></a>
                    </div>
                    <div class="subscribe-box">
                        <h5 class="bold">Subscribe :</h5>
                        <!-- Form -->
                        <form role="form">
                            <!-- Input Group -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Email Id">
											<span class="input-group-btn">
												<button class="btn btn-color" type="button">Subscribe</button>
											</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Recent Posts</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content">
                        <ul class="list-unstyled">
                            <!-- Link -->
                            <li><a href="#">Denocing Sapientes Contain</a></li>
                            <li><a href="#">Dignissim Electronic Typeset</a></li>
                            <li><a href="#">Laborum Desktop Publishing</a></li>
                            <li><a href="#">Quibus PageMaker Including</a></li>
                            <li><a href="#">Denocing Sapientes Contain</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Recent Images</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content">
                        <!-- Foot Recent Image -->
                        <div class="foot-recent-img">
                            <a href="/img/gallery/small/1.jpg" class="lightbox"><img src="/img/gallery/small/1.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                            <a href="/img/gallery/small/2.jpg" class="lightbox"><img src="/img/gallery/small/2.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                            <a href="/img/gallery/small/3.jpg" class="lightbox"><img src="/img/gallery/small/3.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                        </div>
                        <!-- Foot Recent Image -->
                        <div class="foot-recent-img">
                            <a href="/img/gallery/small/1.jpg" class="lightbox"><img src="/img/gallery/small/1.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                            <a href="/img/gallery/small/2.jpg" class="lightbox"><img src="/img/gallery/small/2.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                            <a href="/img/gallery/small/3.jpg" class="lightbox"><img src="/img/gallery/small/3.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                        </div>
                        <div class="foot-recent-img">
                            <a href="/img/gallery/small/1.jpg" class="lightbox"><img src="/img/gallery/small/1.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                            <a href="/img/gallery/small/2.jpg" class="lightbox"><img src="/img/gallery/small/2.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                            <a href="/img/gallery/small/3.jpg" class="lightbox"><img src="/img/gallery/small/3.jpg" alt=""
                                                                                    class="img-responsive img-thumbnail"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Foot Item -->
                <div class="foot-item">
                    <!-- Heading -->
                    <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us</h5>
                    <!-- Foot Item Content -->
                    <div class="foot-item-content address">
                        <!-- Heading -->
                        <h6 class="bold"><i class="fa fa-home"></i>&nbsp;&nbsp;Hanks Ltd</h6>
                        <!-- Paragraph -->
                        <p class="add">
                            Bharathi Nagar, South Cherry Road,<br/>
                            North Bangalore - 535089.</p>

                        <p class="tel"><i class="fa fa-phone"></i> Tel : + (833) - 839 8393<br/>
                            <i class="fa fa-envelope"></i> Mail : <a href="#">infodesk@uk.com</a><br/>
                            <i class="fa fa-calendar"></i> Business Hours : 9:30 - 5:30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>