<footer>
    <!-- Container -->
    <div class="container">
        <!-- Footer Content -->
        <!-- Paragraph -->
        <p class="pull-left">Copyright &copy; {{ "now"|date('Y') }} - <a href="#">Jedisjeux.net</a></p>
        <ul class="list-inline pull-right">
            <!-- List -->
            <li><a href="index.html">Home</a>
            <li>
            <li><a href="service.html">Service</a></li>
            <li><a href="feature.html">Features</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="contact-us.html">Contact</a></li>
        </ul>
        <!-- Clearfix -->
        <div class="clearfix"></div>
    </div>
</footer>