<div class="navi">
    <div class="container">
        <div class="navy">
            <ul>
                <!-- Main menu -->
                <li><a href="{{ path('jdj_web_homepage') }}">Accueil</a>
                    <!-- Submenu -->
                    <ul>
                        <li><a href="sitemap.html" class="red">Complete List</a></li>
                        <li><a href="index.html">Main Home</a></li>
                        <li><a href="index-bootstrap-carousel.html">Home Carousel</a></li>
                        <li><a href="index-magazine.html">Home Magazine</a></li>
                        <!-- 2nd Level sub menu -->
                        <li>
                            <a href="#">More #1</a>
                            <ul>
                                <li><a href="blog-masonry.html">Masonry Style</a></li>
                                <li><a href="medical-index.html">Medical</a></li>
                                <li><a href="ecommerce-index.html">Ecommerce</a></li>
                                <li><a href="non-profit-index.html">Non Profit</a></li>
                                <li><a href="coming-soon-image.html">Coming Soon</a></li>
                                <li><a href="index-slim.html">Home Slim</a></li>
                                <li><a href="index-sidebar.html">Home Sidebar</a></li>
                                <li><a href="index-parallax-slider.html">Home Parallax Slider</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">More #2</a>
                            <ul>
                                <li><a href="real-estate-index.html">Real Estate</a></li>
                                <li><a href="restaurant-index.html">Restaurant</a></li>
                                <li><a href="resume.html">Resume</a></li>
                                <li><a href="v-card-image.html">V Card</a></li>
                                <li><a href="wedding.html">Wedding</a></li>
                                <li><a href="index-parallax.html">Parallax Home</a></li>
                                <li><a href="header-2.html">Header Alt</a></li>
                                <li><a href="index-portfolio.html">Home Portfolio</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#">Articles</a>
                    <ul>
                        <li><a href="#">Components #1</a>
                            <ul>
                                <li><a href="accordion.html">Accordion</a></li>
                                <li><a href="blockquote.html">Blockquote</a></li>
                                <li><a href="box-shadow.html">Shadow Box</a></li>
                                <li><a href="brave-components.html">Basic Brave Components</a></li>
                                <li><a href="clients.html">Clients</a></li>
                                <li><a href="counter.html">Counter</a></li>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="cta.html">CTA</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Components #2</a>
                            <ul>
                                <li><a href="divider.html">Divider</a></li>
                                <li><a href="bootstrap-carousel.html">Carousel</a></li>
                                <li><a href="heading.html">Heading</a></li>
                                <li><a href="icon-box.html">Icon Box</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="image-box.html">Image Box</a></li>
                                <li><a href="images.html">Images</a></li>
                                <li><a href="knob.html">Knob</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Components #3</a>
                            <ul>
                                <li><a href="nav-tabs.html">Nav Tabs</a></li>
                                <li><a href="owl-carousel.html">Owl Carousel</a></li>
                                <li><a href="panel.html">Panel</a></li>
                                <li><a href="pricing-table.html">Pricing Table</a></li>
                                <li><a href="progress-bar.html">Progress Bar</a></li>
                                <li><a href="tables.html">Tables</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="testimonial.html">Testimonial</a></li>
                            </ul>
                        </li>
                        <!-- Multi level menu -->
                        <li><a href="#">Multi Level Menu</a>
                            <ul>
                                <!-- Sub menu -->
                                <li><a href="#">Menu #1</a></li>
                                <li><a href="#">Menu #1</a></li>
                                <li><a href="#">Menu #1</a>
                                    <ul>
                                        <!-- Sub menu -->
                                        <li><a href="#">Menu #2</a></li>
                                        <li><a href="#">Menu #2</a></li>
                                        <li><a href="#">Menu #2</a>
                                            <ul>
                                                <!-- Sub menu -->
                                                <li><a href="#">Menu #3</a></li>
                                                <li><a href="#">Menu #3</a></li>
                                                <li><a href="#">Menu #3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="{{ path('jeu') }}">Jeux</a>
                    <ul>
                        <li><a href="blog-one.html">Blog One</a></li>
                        <li><a href="blog-two.html">Blog Two</a></li>
                        <li><a href="blog-three.html">Blog Three</a></li>
                        <li><a href="blog-four.html">Blog Four</a></li>
                        <li><a href="blog-single.html">Blog Single</a></li>
                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                    </ul>
                </li>

                <li><a href="#">Ludotheque</a>
                    <ul>
                        <li><a href="ui-designs.html">UI Designs</a></li>
                        <li><a href="#">Ecommerce</a>
                            <!-- Sub dropdown menu -->
                            <ul>
                                <li><a href="ecommerce-index.html">Home</a></li>
                                <li><a href="ecommerce-account.html">Account</a></li>
                                <li><a href="ecommerce-checkout.html">Checkout</a></li>
                                <li><a href="ecommerce-items.html">Items</a></li>
                                <li><a href="ecommerce-item-single.html">Items Single</a></li>
                                <li><a href="ecommerce-items-ui.html">Items UI</a></li>
                                <li><a href="ecommerce-order-history.html">Order History</a></li>
                                <li><a href="ecommerce-view-cart.html">View Cart</a></li>
                                <li><a href="ecommerce-wish-list.html">Wish List</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Medical</a>
                            <!-- Sub dropdown menu -->
                            <ul>
                                <li><a href="medical-index.html">Home</a></li>
                                <li><a href="medical-appointment.html">Appointment</a></li>
                                <li><a href="medical-department.html">Department</a></li>
                                <li><a href="medical-our-doctor.html">Our Doctor</a></li>
                                <li><a href="medical-treatment.html">Treatment</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Real Estate</a>
                            <!-- Sub dropdown menu -->
                            <ul>
                                <li><a href="real-estate-index.html">Home</a></li>
                                <li><a href="real-estate-agencies.html">Agencies</a></li>
                                <li><a href="real-estate-agents.html">Agents</a></li>
                                <li><a href="real-estate-enquiry.html">Enquiry</a></li>
                                <li><a href="real-estate-property-map.html">Property Map</a></li>
                                <li><a href="real-estate-property-single.html">Property Single</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Restaurant</a>
                            <!-- Sub dropdown menu -->
                            <ul>
                                <li><a href="restaurant-index.html">Home</a></li>
                                <li><a href="restaurant-checkout.html">Checkout</a></li>
                                <li><a href="restaurant-items.html">Items</a></li>
                                <li><a href="restaurant-item-single.html">Items Single</a></li>
                                <li><a href="restaurant-menu.html">Menu</a></li>
                                <li><a href="restaurant-nutrition-info.html">Nutrition Info</a></li>
                                <li><a href="restaurant-recipe.html">Recipe</a></li>
                                <li><a href="restaurant-reserve-seats.html">Reserve Seats</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Non Profit</a>
                            <!-- Sub dropdown menu -->
                            <ul>
                                <li><a href="non-profit-index.html">Home</a></li>
                                <li><a href="non-profit-action.html">Action</a></li>
                                <li><a href="non-profit-action-single.html">Action Single</a></li>
                                <li><a href="non-profit-causes.html">Causes</a></li>
                                <li><a href="non-profit-donation.html">Donation</a></li>
                                <li><a href="non-profit-events.html">Events</a></li>
                                <li><a href="non-profit-goal.html">Goal</a></li>
                                <li><a href="non-profit-volunteers.html">Volunteers</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#">Forum</a>
                    <ul>
                        <li><a href="portfolio-one.html">Portfolio One</a></li>
                        <li><a href="portfolio-two.html">Portfolio Two</a></li>
                        <li><a href="portfolio-three.html">Portfolio Three</a></li>
                        <li><a href="portfolio-four.html">Portfolio Four</a></li>
                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                    </ul>
                </li>

                <li><a href="about-us-one.html">A Propos</a></li>
                <li><a href="contact-us-one.html">Contactez-Nous</a></li>
            </ul>
        </div>
    </div>
</div>