{% extends 'backend/layout.html.twig' %}

{% import 'SyliusUiBundle:Macro:headers.html.twig' as headers %}

{% set definition = resources.definition %}
{% set data = resources.data %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        {% include 'backend/festival_list_item/index/_header.html.twig' %}
        {% include 'backend/crud/index/_actions.html.twig' %}
    </div>

    {% include 'backend/crud/index/_content.html.twig' %}
{% endblock %}
