{% extends "::base.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

{% block container %}

    <h1>{{ title }}</h1>

    {% for userGameAttribute in userGameAttributes %}
        {% include "collection/partial/list-element.html.twig" with {'jeu': userGameAttribute.jeu} only %}
    {% endfor %}

    {% block Pagination %}
        <div class="pagination-wrapper">
            <div class="pagination-bottom">
                {{ pagination(userGameAttributes) }}
            </div>
        </div>
    {% endblock %}
{% endblock container %}