<!-- header-container end -->
<!-- banner start -->
<!-- ================ -->
<div class="banner border-clear light-translucent-bg" style="background-image:url('/assets/frontend/images/shop-banner-2.jpg');background-position: 50% 32%;">
    {{ render(url('app_frontend_partial_year_award_show', {
        'slug': app.request.get('slug'),
        'template': 'frontend/product/indexByYearAward/_bannerContent.html.twig'
    })) }}
    {% include 'frontend/product/index/_filters.html.twig' %}
</div>
<!-- banner end -->
