<!-- Banner Widget -->
<div class="s-widget">
    <!-- Widgets Content -->
    <div class="widget-content">
        {{ render(url('app_partial_pub_banner_index', {
            template: 'frontend/pub_banner/_showRandom.html.twig'
        })) }}
    </div>
</div>