<ul class="list-unstyled">
    {% for topic in topics %}
        <li>
            {% if topic.gamePlay %}
                {% set linkUrl = path('app_game_play_show', {'productSlug': topic.gamePlay.product.slug, 'id': topic.gamePlay.id }) %}
            {% else %}
                {% set linkUrl = path('app_post_index_by_topic', {'topicId': topic.id}) %}
            {% endif %}

            <a href="{{ linkUrl }}">
                <!-- Item title -->
               {{ topic.title }}
            </a>
        </li>
    {% endfor %}
</ul>