<div class="block">
    <div class="col-sm-5 col-md-5 pull-right thumbnail-jeu">
        <div class="image-style-six">
            <!-- Image -->
            <a href="http://jdj.dev:8090/media/cache/default/uploads/img/p-6.jpg" rel="jeu" class="fancybox"><img
                        class="img-responsive" src="http://jdj.dev:8090/media/cache/default/uploads/img/p-6.jpg" alt=""></a>
        </div>
    </div>

    <div class="description">
        <p>Muffin sweet apple pie chupa chups gummi bears dragée liquorice. Soufflé apple pie muffin donut macaroon
            fruitcake jelly-o. Sesame snaps sweet roll cookie halvah jelly beans chocolate toffee jelly beans powder.
            Sesame snaps bonbon cupcake soufflé cake candy jelly-o cupcake cookie. Cupcake jelly-o jelly-o jelly beans
            chocolate bar chocolate cake. Liquorice gingerbread liquorice gummi bears sweet chocolate cookie. Fruitcake
            cupcake jujubes. Candy canes candy jelly beans jujubes apple pie tiramisu cake tootsie roll danish. Sweet
            jelly macaroon brownie halvah. Marzipan toffee marshmallow candy croissant tiramisu chupa chups. Marshmallow
            cheesecake fruitcake dragée halvah cookie cake lollipop sweet roll. Apple pie macaroon chocolate cookie.
            Marshmallow macaroon halvah. Gummi bears topping sesame snaps muffin dessert cupcake.</p>

        <p>Jelly tiramisu gummi bears gingerbread marzipan jelly beans chocolate bar toffee biscuit. Liquorice bonbon
            caramels soufflé marshmallow sweet roll chocolate cake jujubes. Chocolate ice cream marzipan oat cake oat
            cake ice cream sugar plum jelly beans. Fruitcake danish cotton candy donut toffee lemon drops oat cake
            cheesecake lollipop. Gingerbread cake cookie candy canes brownie cake chocolate. Candy chocolate cake
            pudding dessert jujubes. Jelly beans croissant wafer cupcake sugar plum. Lollipop tart cookie dragée jelly-o
            apple pie macaroon. Jelly-o chocolate marzipan soufflé gummies. Marshmallow sesame snaps topping halvah
            donut gingerbread. Cookie sugar plum ice cream halvah croissant gummi bears. Soufflé powder pudding pudding
            lemon drops. Powder gummi bears gummies bear claw tart.</p>

        <p>Marshmallow apple pie cake lollipop cookie candy canes. Bear claw cheesecake jelly beans powder. Icing chupa
            chups sesame snaps. Tiramisu cotton candy sesame snaps candy canes pudding. Candy canes donut chocolate bar.
            Fruitcake sweet roll chocolate. Sesame snaps croissant gummi bears tiramisu liquorice lemon drops
            cheesecake. Cupcake marshmallow marshmallow cake. Cake macaroon tart cheesecake candy canes gummi bears
            halvah jelly beans. Bear claw topping dragée chocolate cake wafer donut lollipop liquorice. Macaroon
            macaroon dragée cupcake brownie jujubes pudding. Macaroon tart lemon drops bonbon sweet roll. Apple pie
            danish ice cream.</p>
    </div>
</div>