<div class="block">
    <blockquote>
        <p>Lemon drops toffee gingerbread toffee powder topping bear claw. Sweet ice cream cake dragée bear claw jelly
            beans. Cheesecake fruitcake chocolate. Cake bear claw icing dragée marshmallow apple pie chocolate bar
            toffee. Topping icing halvah toffee jelly-o candy. Macaroon chocolate cake gummi bears bear claw cake.</p>

        <p>Sweet roll icing chocolate sesame snaps marzipan. Dragée marzipan candy lollipop sugar plum tart soufflé.
            Jelly-o lemon drops carrot cake tart. Halvah dessert pudding sugar plum sesame snaps toffee halvah chocolate
            cake. Chupa chups biscuit bear claw pastry candy canes gummies gingerbread sweet roll. Chocolate cake cake
            pastry gummi bears soufflé candy canes. Danish liquorice cake sweet gummi bears pie bonbon chupa chups apple
            pie.</p>
    </blockquote>
</div>