{% extends "base.html.twig" %}

{% block body -%}
    <h1>Nouvel avis</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('user_review') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
