{% from 'macros/status.html.twig' import dealerPriceStatus as status %}

{% if (dealer_prices.currentPageResults|length > 0) %}
<div class="block-heading-two">
    <h3><span>Chez nos partenaires</span></h3>
</div>

<div class="row">
    {% for dealer_price in dealer_prices %}
        <div class="col-md-2 text-center">
            <h4>{{ dealer_price.dealer }}</h4>
            <p><strong>{{ (dealer_price.price/100)|localizedcurrency('EUR') }}</strong></p>
            <p>{{ status(dealer_price) }}</p>
        </div>
    {% endfor %}
</div>
{% endif %}
