{{ form_errors(form) }}

{% include 'backend/article/_steps.html.twig' %}

<div class="ui stackable grid sylius-tabular-form">
    <div class="three wide column">
        {% include 'backend/article/_menu.html.twig' %}
    </div>
    <div class="thirteen wide column">
        <div class="ui segment">
            {% include 'backend/article/_tabs.html.twig' %}
        </div>
    </div>
</div>
