{% macro simple(paginator) %}
    {% if paginator.haveToPaginate() %}
        <div class="pagination justify-content-center">
            {{ pagerfanta(paginator, 'twitter_bootstrap4_translated') }}
        </div>
    {% endif %}
{% endmacro %}
