{% macro list() %}
    <li class="facebook"><a href="https://www.facebook.com/jedisjeux"><i class="fa fa-facebook"></i></a></li>
    <li class="twitter"><a href="https://twitter.com/jedisjeux"><i class="fa fa-twitter"></i></a></li>
    <li class="youtube"><a href="https://www.youtube.com/user/jedisjeux"><i class="fa fa-youtube-play"></i></a></li>
    <li class="github"><a href="https://github.com/Jedisjeux/Jedisjeux"><i class="fa fa-github"></i></a></li>
{% endmacro list %}