{% from "JDJJeuBundle:Jeu:macros.html.twig" import joueurCount %}

<div class="img-box-4 text-center jeu-list">

    <div class="row">
        {% for key, jeu in jeux %}
        {% if key != 0 and key%4 == 0 %}
    </div>

    <div class="row">

        {% endif %}

        {% set faImg = 'fa-picture-o' %}

        {% if key%4 == 0 %}
            {% set bg = 'bg-red' %}
            {% set faImg = 'fa-star' %}
        {% elseif (key+1)%4 == 0 %}
            {% set bg = 'bg-lblue' %}
            {% set faImg = 'fa-child' %}
        {% elseif (key+2)%4 == 0 %}
            {% set bg = 'bg-green' %}
            {% set faImg = 'fa-user' %}
        {% elseif (key+3)%4 == 0 %}
            {% set bg = 'bg-purple' %}
            {% set faImg = 'fa-user-plus' %}
        {% endif %}


        <div class="col-md-3 col-sm-6">
            {% include "jeu/index/list-element.html.twig" %}
        </div>

        {% endfor %}
    </div>
</div>