{{ form_errors(form) }}

<div class="ui stackable grid">
    <div class="three wide column">
        {% include 'backend/product_variant/_menu.html.twig' %}
    </div>
    <div class="thirteen wide column">
        <div class="ui segment">
            {% include 'backend/product_variant/_tabs.html.twig' %}
        </div>
    </div>
</div>