{% for child in taxons %}
    <li>
        <a href="{{ path('sylius_frontend_product_index_by_taxon', { 'slug': child.slug }) }}">
        {% if child.iconClass is not null %}
            <i class="{{ child.iconClass }} pr-2"></i>
        {% endif %}
        {{ child.name }}</a>
    </li>
{% endfor %}
