<!-- header-container end -->
<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg padding-bottom-clear" style="background-position: 50% 32%;">
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Jeux</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->
    <div class="container">"
        <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center pv-20">
                <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Jeux <small>ayant pour mécanisme</small> <strong>Enchères</strong></h2>
                <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Mécanisme où les joueurs misent et renchérissent (avec des Meeples, des jetons, de l'argent ou autre selon le jeu) afin d'obtenir un avantage. Il existe plusieurs systèmes d'enchères.

                    Exemples : Goa, Megawatts, Keyflower...</p>
            </div>
        </div>
    </div>
    <!-- section start -->
    <!-- ================ -->
    <div class="dark-translucent-bg section">
        <div class="container-fluid">
            <!-- filters start -->
            <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Trié par</label>
                        <select class="form-control">
                            <option selected="selected">Date</option>
                            <option>Note</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <label>Order</label>
                        <select class="form-control">
                            <option selected="selected">Asc</option>
                            <option>Desc</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <label>Nb Joueurs</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group ml-1">
                        <label>Âge (min)</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group ml-1">
                        <label>Durée (min/max)</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group ml-1">
                        <label class="invisible">Durée (max)</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group ml-1">
                        <label>Categorie</label>
                        <select class="form-control">
                            <option selected="selected">Toutes</option>
                            <option>Enfants</option>
                            <option>Débutants</option>
                            <option>Joueurs avancés</option>
                            <option>Experts</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <a href="#" class="btn btn-default">Submit</a>
                    </div>
                </form>
            </div>
            <!-- filters end -->
        </div>
    </div>
    <!-- section end -->
</div>
<!-- banner end -->
