<!-- section start -->
<!-- ================ -->
<div class="dark-translucent-bg section">
    <div class="container-fluid">
        <!-- filters start -->
        <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
            <form class="form-inline">
                <div class="form-group">
                    <label>Trié par</label>
                    <select class="form-control">
                        <option selected="selected">Date</option>
                        <option>Note</option>
                    </select>
                </div>
                <div class="form-group ml-1">
                    <label>Order</label>
                    <select class="form-control">
                        <option selected="selected">Asc</option>
                        <option>Desc</option>
                    </select>
                </div>
                <div class="form-group ml-1">
                    <label>Nb Joueurs</label>
                    <input type="number" class="form-control">
                </div>
                <div class="form-group ml-1">
                    <label>Âge (min)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="form-group ml-1">
                    <label>Durée (min/max)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="form-group ml-1">
                    <label class="invisible">Durée (max)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="form-group ml-1">
                    <label>Categorie</label>
                    <select class="form-control">
                        <option selected="selected">Toutes</option>
                        <option>Enfants</option>
                        <option>Débutants</option>
                        <option>Joueurs avancés</option>
                        <option>Experts</option>
                    </select>
                </div>
                <div class="form-group ml-1">
                    <a href="#" class="btn btn-default">Submit</a>
                </div>
            </form>
        </div>
        <!-- filters end -->
    </div>
</div>
<!-- section end -->
