{% from 'macros/game_reviews.html.twig' import blogCommentItem %}

<div class="blog-comments">
    {% for game_review in product_reviews %}
        {{ blogCommentItem(game_review) }}
    {% endfor %}
</div>

