<div class="col-md-12">
    <div class="container">
        <div class="games-library bg-black">
            <div class="content">
                {% spaceless %}
                    {% for product_list_item in product_list_items.data %}
                        {% set box = product_list_item.product.firstVariant.box %}
                        {% if box %}
                            <a href="{{ path('sylius_product_show', { 'slug': product_list_item.product.slug }) }}">
                                <img src="{{ box.image.webPath | imagine_filter('full') }}"/>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </div>
        </div>
    </div>
</div>