<div class="sidebar">

{#TODO filtres#}
    <!-- Gallery Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h4><i class="fa fa-camera color"></i> Filtrer votre contenu</h4>
        <!-- Widgets Content -->
        <h5><i class="fa color"></i> Status</h5>
        <div class="widget-content gallery">
            <ul class="list-unstyled">
                <!-- List items -->
                <li><a href="qsdfqsd">A traduire (1)</a></li>
                <li><a href="qsdfqsd">En relecture (2)</a></li>
                <li>  <a href="qsdfqsd">En attente de publication (7)</a></li>


            </ul>
        </div>
        <!-- Widgets Content -->
        <h5><i class="fa color"></i> Contenu</h5>
        <div class="widget-content gallery">
            <ul class="list-unstyled">
                <!-- List items -->
                <li><a href="qsdfqsd">A traduire (1)</a></li>
                <li><a href="qsdfqsd">En relecture (2)</a></li>
                <li>  <a href="qsdfqsd">En attente de publication (7)</a></li>


            </ul>
        </div>
    </div>


</div>
