<!-- section start -->
<!-- ================ -->
<section class="section">
    <div class="container">
        <h3 class="title">Derniers jeux ajoutés</h3>
        <div class="separator-2"></div>
        {{ render(url('sylius_partial_product_index', {
            'paginate': 4,
            'template': 'frontend/product/grid/_fourColumns.html.twig',
            'criteria': {
                'status': 'PUBLISHED'
            },
            'sorting': {
                'createdAt': 'desc'
            }
        })) }}
    </div>
</section>
<!-- section end -->
