<h3 class="title">Top Articles</h3>
<div class="separator-2"></div>
<!-- TODO publishedAt -->
{{ render(url('app_frontend_partial_article_index', {
    'template': 'frontend/article/_magazineList.html.twig',
    'paginate': 5,
    'criteria': {
        'publishStartDateFrom': '1 year ago'|date('Y-m-d')
    },
    'sorting': {
        'viewCount': 'desc'
    }} )) }}
