{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>CptaModereglement creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cptamodereglement') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
