<div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover"
     data-wrap="true">
    <!-- Bootstrap indicators. If you don't need indicators, remove the below section -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel-1" data-slide-to="1"></li>
        <li data-target="#bs-carousel-1" data-slide-to="2"></li>
        <li data-target="#bs-carousel-1" data-slide-to="3"></li>
    </ol>
    <!-- Slides. You can also add captions -->
    <div class="carousel-inner">
        <!-- Item, First item should have extra class "active" -->
        <div class="item active">
            <!-- Image -->
            <img src="../img/magazine/1.jpg" alt="">

            <div class="carousel-caption c-right-big">
                <!-- Heading -->
                <h4><a href="#">Some heading here</a></h4>
                <!-- Para -->
                <p>Nemo enim ipsam voluptatem quia voluptas sit it aut fugit, sed quia neque porro quisquam est qui
                    dolorem ipsum quia dolor sit amet consectetur. Nemo enim ipsam voluptatem quia voluptas sit it
                    aut
                    fugit, sed quia neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="item">
            <img src="../img/magazine/2.jpg" alt="">

            <div class="carousel-caption c-right-big">
                <!-- Heading -->
                <h4><a href="#">Some heading here</a></h4>
                <!-- Para -->
                <p>Nemo enim ipsam voluptatem quia voluptas sit it aut fugit, sed quia neque porro quisquam est qui
                    dolorem ipsum quia dolor sit amet consectetur. Nemo enim ipsam voluptatem quia voluptas sit it
                    aut
                    fugit, sed quia neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="item">
            <img src="../img/magazine/3.jpg" alt="">

            <div class="carousel-caption c-right-big">
                <!-- Heading -->
                <h4><a href="#">Some heading here</a></h4>
                <!-- Para -->
                <p>Nemo enim ipsam voluptatem quia voluptas sit it aut fugit, sed quia neque porro quisquam est qui
                    dolorem ipsum quia dolor sit amet consectetur. Nemo enim ipsam voluptatem quia voluptas sit it
                    aut
                    fugit, sed quia neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="item">
            <img src="../img/magazine/4.jpg" alt="">

            <div class="carousel-caption c-right-big">
                <!-- Heading -->
                <h4><a href="#">Some heading here</a></h4>
                <!-- Para -->
                <p>Nemo enim ipsam voluptatem quia voluptas sit it aut fugit, sed quia neque porro quisquam est qui
                    dolorem ipsum quia dolor sit amet consectetur. Nemo enim ipsam voluptatem quia voluptas sit it
                    aut
                    fugit, sed quia neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur.</p>
            </div>
        </div>
    </div>
    <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
    <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>