<h3 class="title">Sorties de Jeux</h3>
<div class="separator-2"></div>

{{ render(url('sylius_partial_product_index', {
    'paginate': 5,
    'template': 'frontend/product/_latestArrivalsSlider.html.twig',
    'criteria': {
        'status': 'PUBLISHED',
        'releasedAtTo': "now"|date("Y-m-d")
    },
    'sorting': {
        'releasedAt': 'desc'
    }
})) }}
