{% extends 'base.html.twig' %}
{% import 'macros/actions.html.twig' as action %}

{% block container -%}
    <div class="block-heading-two">
        <h3><span>Modifier un client</span></h3>
    </div>
    {{ form_start(form) }}
    {% include 'compta/customer/_form.html.twig' %}
    {{ action.update(path('compta_customer')) }}
    {{ form_end(form) }}
{% endblock container %}