{% extends 'frontend/layout.html.twig' %}

{% from 'macro/pagination.html.twig' import simple as pagination %}

{% set pageTitle = 'app.ui.forum'| trans %}

{% block content %}

    {% include 'frontend/topic/index/_banner.html.twig' %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div id="topic-list" class="main col-md-12">
                    {% include 'frontend/topic/button/_newTopic.html.twig' %}
                    {% include 'frontend/topic/index/_sorting.html.twig' %}
                    <!-- Image Boxes start -->
                    <!-- ============================================================================== -->
                    <br>
                    {% for topic in topics.data %}
                        {% include 'frontend/topic/_single.html.twig' %}
                    {% endfor %}

                    <!-- pagination start -->
                    {{ pagination(topics.data) }}
                    <!-- pagination end -->
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->

    {% include 'frontend/article/index/_footerTop.html.twig' %}

{% endblock content %}
