@import "compass";
@import "layout";
@import "top-bar";

/**************************************************************/
/*  	    		  Defines Colors                          */
/**************************************************************/

$lightgrey: #eaedf1;
$lightgreen: #1fbba6;
$darkblack: #333333;
$lightblue: #00b6de;
$lightorange: #f27935;
$darkblue: #323a45;
$mediumgrey: #9ea7b3;

/**************************************************************/
/*  	    		  IMPORT Modules					      */
/**************************************************************/

@import "module/_compta";
@import "module/_jeu";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);



body {
  font-size: 1em;
  color: black;
  font-family: "Open Sans", sans-serif;
  background: $mediumgrey;
}

body div.row div.large-12.columns {
  background: $lightgrey;
}

/**************************************************************/
/*  	    		       Titres					          */
/**************************************************************/

h1 {
  font-size: 2em;
  color: #5e6d81;
}

h2 {

}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {

}

h6 {

}

/**************************************************************/
/*  	    		       HEADER					          */
/**************************************************************/

header {
  .menu {
    background: $darkblue;
  }
}

.banner {
  background: $lightblue;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: $darkblue;
}


/**************************************************************/
/*  	    		       TOP BAR					          */
/**************************************************************/

.top-bar {
  background: transparent;
  .name {
    h1{
      font-size: 2rem;
    }
  }
  ul {
    li {
      > a.button {
        background-color: $lightgreen;
      }
      a:not(.button):hover {
        color:$lightgreen !important;
      }
    }
  }
}

.top-bar-section {
  background: transparent;
  ul {
    li {
      background: transparent;
      :not(.has-form) a:not(.button) {
        background: transparent;
        color: white;
      }
    }
  }
}


/**************************************************************/
/*  	    		       FOOTER					          */
/**************************************************************/

footer {
  div {
    background-color: $darkblack;
  }

}


/**************************************************************/
/*  	    		       Liens					          */
/**************************************************************/

a {
  color: $lightblue;
  &:hover {
    color: $darkblack;
  }
}





/**************************************************************/
/*  	    		       BUTTON					          */
/**************************************************************/

button, a.button {
  background-color: $lightgreen;
  &:hover {
    background-color: $darkblack;
    color: $lightgreen;
  }
  &:focus, &:active {
    background-color: $lightgreen;
  }
}

/**************************************************************/
/*  	    		       ROW					              */
/**************************************************************/

.listing {
  .image{
    &.crop {
      height: 100px;
      width: 100%;
      overflow: hidden;
    }

  }

  .panel {

    h3, h3 a {
      font-size: 0.9em;
      color: #555;
      text-align: center;
    }
    ul {
      li {
        font-size: 0.85em;
        color: #aaa;
      }
    }
  }
}


/**************************************************************/
/*  	    		       ITEM LIST					      */
/**************************************************************/

ul {
  margin: 0;
  li {
    list-style-type: none;
  }
}

/**************************************************************/
/*  	    		       TABLE					          */
/**************************************************************/

table {
  width: 100%;
  thead {
    tr {
      th {
        padding: 10px;
        background: $darkblack;
        color: #fff;
        border: 1px solid #e2e2e2;
      }
    }
  }
  td {
    vertical-align: middle;
    .inline-list {
      margin: 0;
      position: relative;
      top: 10px;
    }

  }

}

.tabs {
  margin-top: 1rem;
  background: $darkblue;
  border-radius: 5px;
  li.active.tab-title a {
    background: url("http://januarycreative.com/wp-content/themes/januarycreative/img/greybg.png");
    color: white;
  }
  dd > a, .tab-title > a {
    background: transparent;
    color: $mediumgrey;
    padding: 0.5rem 1.5rem;
  }
}

div [role=content] {
  padding-top: 1rem;
  border-top: none;
  border-bottom: none;
  min-height: 800px;
  background: white;
}

.publication-info {
  font-style: italic;
}

.spacer {
  height: 1em;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}