@import "compass";
@import "layout";
@import "top-bar";
@import "module/compta";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/**************************************************************/
/*  	    		       COLORS					          */
/**************************************************************/

$lightgreen: #88BD32;
$darkblack: #303736;

body {
  font-size: 1em;
  color: #737373;
  font-family: "Open Sans", sans-serif;
}

/**************************************************************/
/*  	    		       FOOTER					          */
/**************************************************************/

footer {

}

/**************************************************************/
/*  	    		       Titres					          */
/**************************************************************/

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/**************************************************************/
/*  	    		       Liens					          */
/**************************************************************/

a {
  color: $lightgreen;
  &:hover {
    color: $darkblack;
  }
}

/**************************************************************/
/*  	    		       ITEM LIST					      */
/**************************************************************/

ul {
  margin: 0;
  li {
    list-style-type: none;
  }
}

/**************************************************************/
/*  	    		       TABLE					          */
/**************************************************************/

table {
  width: 100%;
  thead {
    tr {
      th {
        padding: 10px;
        background: $darkblack;
        color: #fff;
        border: 1px solid #e2e2e2;
      }
    }
  }
  td {
    vertical-align: middle;
    .inline-list {
      margin: 0;
      position: relative;
      top: 10px;
    }

  }

}

/**************************************************************/
/*  	    		       BUTTON					          */
/**************************************************************/

button, a.button {
  background-color: $lightgreen;
  &:hover {
    background-color: $darkblack;
    color: $lightgreen;
  }
  &:focus, &:active {
    background-color: $lightgreen;
  }
}

/**************************************************************/
/*  	    		       TOP BAR					          */
/**************************************************************/

.top-bar {
  .name {
    h1{
      font-size: 3rem;
    }
  }
  ul {
    li {
      > a.button {
        background-color: $lightgreen;
      }
      a:not(.button):hover {
        color:$lightgreen !important;
      }
    }
  }
}

/**************************************************************/
/*  	    		       ROW					              */
/**************************************************************/

.listing {
  .image{
    &.crop {
      height: 150px;
      width: 100%;
      overflow: hidden;
    }

  }
}