<!-- Foot Item -->
<div class="foot-item">
    <!-- Heading -->
    <h5 class="bold"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;A propos</h5>

    {{ sonata_block_render({'name': '/cms/blocks/about'}, {'template': 'frontend/content/block/block_content.html.twig'}) }}

    <p>Jedisjeux est un site communautaire de jeux de société. Il contient des articles et référence.
        volup tatum.</p>

    <div class="brand-bg">
        <!-- Social Media Icons -->
        <a href="#" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
        <a href="#" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus circle-3"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin circle-3"></i></a>
        <a href="#" class="pinterest"><i class="fa fa-pinterest circle-3"></i></a>
    </div>
</div>