<!-- Foot Item -->
<div class="foot-item">
    <!-- Heading -->
    <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Nous contacter</h5>
    <!-- Foot Item Content -->
    <div class="foot-item-content address">
        <!-- Heading -->
        <h6 class="bold"><i class="fa fa-home"></i>&nbsp;&nbsp;Jedisjeux.net</h6>
        {{ sonata_block_render({'name': '/cms/blocks/head-office'}, {'template': 'frontend/content/block/block_content.html.twig'}) }}
        <p class="tel">
            <i class="fa fa-envelope"></i> Mail : <a href="#">jedisjeux@jedisjeux.net</a>
    </div>
</div>