<!-- Foot Item -->
<div class="foot-item">
    <!-- Heading -->
    <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Nous contacter</h5>
    <!-- Foot Item Content -->
    <div class="foot-item-content address">
        <!-- Heading -->
        <h6 class="bold"><i class="fa fa-home"></i>&nbsp;&nbsp;Jedisjeux.net</h6>
        <!-- Paragraph -->
        <p class="add">
            16 rue DOM François Plaine<br/>
            35137 Bédée</p>

        <p class="tel">
            <i class="fa fa-envelope"></i> Mail : <a href="#">jedisjeux@jedisjeux.net</a>
    </div>
</div>