<!-- Foot Item -->
<div class="foot-item">
    <!-- Heading -->
    <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Topics récents</h5>
    <!-- Foot Item Content -->
    <div class="foot-item-content">
        {{ render(url('app_partial_topic_index', {
            'sorting': {
                'createdAt': 'desc'
            },
            'paginate': 5,
            'template': 'partial/topic/_footerList.html.twig'
        })) }}
    </div>
</div>