<!-- Foot Item -->
<div class="foot-item">
    <!-- Heading -->
    <h5 class="bold"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Recent Images</h5>
    <!-- Foot Item Content -->
    <div class="foot-item-content">
        <!-- Foot Recent Image -->
        <div class="foot-recent-img">
            <a href="/img/gallery/small/1.jpg" class="lightbox"><img src="/img/gallery/small/1.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
            <a href="/img/gallery/small/2.jpg" class="lightbox"><img src="/img/gallery/small/2.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
            <a href="/img/gallery/small/3.jpg" class="lightbox"><img src="/img/gallery/small/3.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
        </div>
        <!-- Foot Recent Image -->
        <div class="foot-recent-img">
            <a href="/img/gallery/small/1.jpg" class="lightbox"><img src="/img/gallery/small/1.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
            <a href="/img/gallery/small/2.jpg" class="lightbox"><img src="/img/gallery/small/2.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
            <a href="/img/gallery/small/3.jpg" class="lightbox"><img src="/img/gallery/small/3.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
        </div>
        <div class="foot-recent-img">
            <a href="/img/gallery/small/1.jpg" class="lightbox"><img src="/img/gallery/small/1.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
            <a href="/img/gallery/small/2.jpg" class="lightbox"><img src="/img/gallery/small/2.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
            <a href="/img/gallery/small/3.jpg" class="lightbox"><img src="/img/gallery/small/3.jpg" alt=""
                                                                     class="img-responsive img-thumbnail"/></a>
        </div>
    </div>
</div>