<!-- Foot Item -->
<div class="foot-item">
    <!-- Heading -->
    <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Recent Posts</h5>
    <!-- Foot Item Content -->
    <div class="foot-item-content">
        <ul class="list-unstyled">
            <!-- Link -->
            <li><a href="#">Denocing Sapientes Contain</a></li>
            <li><a href="#">Dignissim Electronic Typeset</a></li>
            <li><a href="#">Laborum Desktop Publishing</a></li>
            <li><a href="#">Quibus PageMaker Including</a></li>
            <li><a href="#">Denocing Sapientes Contain</a></li>
        </ul>
    </div>
</div>