<!-- sidebar start -->
<!-- ================ -->
<aside class="col-lg-4 col-xl-3 ml-xl-auto">
    <div class="sidebar">
        <div class="block clearfix">
            <h3 class="title">Populaires</h3>
            <div class="separator-2"></div>
            {{ render(url('sylius_partial_product_index', {
                'paginate': 4,
                'criteria': {
                    'person': person.id
                },
                'sorting': {
                    'averageRating': 'desc'
                },
                'template': 'frontend/product/_simpleList.html.twig'
            })) }}
        </div>
        <div class="block clearfix">
            <h3 class="title">Récents</h3>
            <div class="separator-2"></div>
            {{ render(url('sylius_partial_product_index', {
                'paginate': 4,
                'criteria': {
                    'person': person.id
                },
                'sorting': {
                    'releasedAt': 'desc'
                },
                'template': 'frontend/product/_simpleList.html.twig'
            })) }}
        </div>
    </div>
</aside>
<!-- sidebar end -->
