{{ form_errors(form) }}

<div class="ui stackable grid sylius-tabular-form">
    <div class="three wide column">
        {% include 'backend/dealer/_menu.html.twig' %}
    </div>
    <div class="thirteen wide column">
        <div>
            {% include 'backend/dealer/_tabs.html.twig' %}
        </div>
    </div>
</div>
