<div class="ui tab" data-tab="contacts">
    <h3 class="ui top attached header">{{ 'app.ui.contacts'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.contacts) }}
    </div>
</div>
