<div class="ui active tab" data-tab="details">
    <h3 class="ui top attached header">{{ 'sylius.ui.details'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
        {{ form_row(form.image) }}
    </div>
</div>
