<div class="ui tab" data-tab="price_list">
    <h3 class="ui top attached header">{{ 'app.ui.price_list'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.priceList) }}
    </div>
</div>
