<div class="ui tab" data-tab="pub_banners">
    <h3 class="ui top attached header">{{ 'app.ui.pub_banners'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.pubBanners) }}
    </div>
</div>
