<div class="ui large fluid vertical menu">
    <a href="#" class="active item" data-tab="details">
        {{ 'sylius.ui.details'|trans }}
    </a>
    <a href="#" class="item" data-tab="contacts">
        {{ 'app.ui.contacts'|trans }}
    </a>
    <a href="#" class="item" data-tab="pub_banners">
        {{ 'app.ui.pub_banners'|trans }}
    </a>
    <a href="#" class="item" data-tab="price_list">
        {{ 'app.ui.price_list'|trans }}
    </a>
</div>