{% extends "JDJWebBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <ul class="tabs vertical" data-tab>
                <li class="tab-title active"><a href="#panel1a">Tab 1</a></li>
                <li class="tab-title"><a href="#panel2a">Tab 2</a></li>
                <li class="tab-title"><a href="#panel3a">Tab 3</a></li>
                <li class="tab-title"><a href="#panel4a">Tab 4</a></li>
            </ul>
            <div class="tabs-content vertical">
                <div class="content active" id="panel1a">
                    <p>Panel 1 content goes here.</p>
                </div>
                <div class="content" id="panel2a">
                    <p>Panel 2 content goes here.</p>
                </div>
                <div class="content" id="panel3a">
                    <p>Panel 3 content goes here.</p>
                </div>
                <div class="content" id="panel4a">
                    <p>Panel 4 content goes here.</p>
                </div>
            </div>
        </div>
        <div class="large-12 columns">
            <div class="panel">
                <h3>We&rsquo;re stoked you want to try Foundation! </h3>

                <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or
                    totally destroy to get going.</p>

                <p>Once you've exhausted the fun in this document, you should check out:</p>

                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br/>Everything you
                            need to know about using the framework.</p>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <p><a href="http://github.com/zurb/foundation">Foundation on Github</a><br/>Latest code, issue
                            reports, feature requests and more.</p>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <p><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br/>Ping us on Twitter if you
                            have questions. If you build something with this we'd love to see it (and send you a totally
                            boss sticker).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Titre 1</h1>
    <h2>Titre 2</h2>
    <h3>Titre 3</h3>
    <h4>Titre 4</h4>
    <h5>Titre 5</h5>
    <h6>Titre 6</h6>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Johnny</td>
            <td>Hamster</td>
            <td>johnny.hamster@gmail.com</td>
        </tr>
        <tr>
            <td>Rémi</td>
            <td>Buffle</td>
            <td>remi.buffle@gmail.com</td>
        </tr>
        <tr>
            <td>Claude</td>
            <td>Fouine</td>
            <td>claude.fouine@gmail.com</td>
        </tr>
        </tbody>
    </table>

    <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel2-1">Tab 1</a></li>
        <li class="tab-title"><a href="#panel2-2">Tab 2</a></li>
        <li class="tab-title"><a href="#panel2-3">Tab 3</a></li>
        <li class="tab-title"><a href="#panel2-4">Tab 4</a></li>
    </ul>
    <div class="tabs-content">
        <div class="content active" id="panel2-1"><p>First panel content goes here...</p></div>
        <div class="content" id="panel2-2"><p>Second panel content goes here...</p></div>
        <div class="content" id="panel2-3"><p>Third panel content goes here...</p></div>
        <div class="content" id="panel2-4"><p>Fourth panel content goes here...</p></div>
    </div>

    <div class="listing">
        <div class="row">
            <div class="medium-4 columns">
                <div class="image crop">
                    <img src="http://146.185.157.141/loic/img/800/2961_deckel_imperial2030_deu_k.jpg" alt="Imperial"/>
                </div>
                <div class="panel">
                    <h3>Imperial 2030</h3>
                </div>
            </div>
            <div class="medium-4 columns">
                <div class="image crop">
                    <img src="http://146.185.157.141/loic/img/800/indigo-49-1326095594.jpg" alt="Indigo"/>
                </div>
                <div class="panel">
                    <h3>Indigo</h3>
                </div>
            </div>
            <div class="medium-4 columns">
                <div class="image crop">
                    <img src="http://146.185.157.141/loic/img/800/archipelago-49-1334130484.jpg" alt="Archipelago"/>
                </div>
                <div class="panel">
                    <h3>Archipelago</h3>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
