{% set parents = taxon.parents|reverse %}

{% for parent in parents %}
    <a href="{{ path('app_frontend_topic_index_by_taxon', {'slug': parent.slug}) }}">{{ parent.name }}</a> /
{% endfor %}
{{ taxon.name }}
