<!-- Sidebar -->
<div class="sidebar">

    <div class="s-widget">
        <h5><i class="fa fa-users color"></i> Participer</h5>
        <!-- Widgets Content -->
        <div class="widget-content search">
            <a href="{{ path('app_topic_create') }}" class="btn btn-color btn-lg">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Nouveau sujet
            </a>
        </div>
    </div>

    <hr/>

    {% include 'frontend/topic/sidebar/_categoriesWidget.html.twig' %}

    <hr />

    <!-- Banner Widget -->
    <div class="s-widget">
        <!-- Widgets Content -->
        <div class="widget-content">
            {{ render(url('app_partial_pub_banner_index', {
                template: 'frontend/pub_banner/_showRandom.html.twig'
            })) }}
        </div>
    </div>

    {% include 'frontend/topic/sidebar/_navTabWidget.html.twig' %}


</div>