<!-- Button trigger modal -->
<button type="button"  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#articleModal">
    <i class="fa fa-plus"></i>&nbsp; Nouveau bloc de texte
</button>

<!-- Modal -->
<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="articleModalLabel">Choix du style de bloc</h4>
            </div>
            <div class="modal-body">
                {% include "cms/partial/nav-tab.html.twig" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary adding-block" data-dismiss="modal">Ajouter ce bloc</button>
            </div>
        </div>
    </div>
</div>