{% from 'macros/game_reviews.html.twig' import blogCommentItem %}
<div class="blog-comments">
    {{ blogCommentItem(userReview) }}

    <div class="text-right">
        {% if app.security.getToken().getUser() != userReview.rate.createdBy %}
            {% render url('user_review_like', { 'id': userReview.id }) %}
        {% endif %}
    </div>
</div>