{% extends "base.html.twig" %}

{% block body -%}

    <div class="col-md-8">
        {% include "jeu/show/header.html.twig" with {'jeu': entity.jeuNote.jeu} only %}

        <div id="user-review">
            {% include "user-review/partial/_show.html.twig" with {'userReview': entity} %}
        </div>

    </div>

    <div class="col-md-4">
        {% include "jeu/show/sidebar.html.twig" with {'jeu': entity.jeuNote.jeu, 'userReviews': []} only %}
    </div>

{% endblock %}