<div class="listing">
    <div class="row" data-equalizer>
        {% for key, personne in personnes %}
        {% if (key%4 == 0) and key > 0 %}
    </div>
    <div class="row" data-equalizer>
        {% endif %}
        {% include 'ludographie/personne/partial/_listElement.html.twig' with {'personne': personne} %}
        {% endfor %}
    </div>
</div>