<!-- Categories Widget -->
<div class="s-widget">
    <!-- Heading -->
    <h5><i class="fa fa-folder color"></i>&nbsp; {{ 'label.categories'|trans }}</h5>
    <!-- Widgets Content -->
    <div class="widget-content categories">
        {% render(url('sylius_partial_taxon_index_by_code', {
        'code': constant('AppBundle\\Entity\\Taxon::CODE_FORUM'),
        'currentSlug': taxon is defined ? taxon.slug : null,
        'template': 'frontend/topic/_taxonList.html.twig'
        })) %}
    </div>
</div>