<!-- Sidebar -->
<div class="sidebar">
    <!-- Nav tab widget - popular, recent and comments -->
    <div class="s-widget">
        <h5><i class="fa fa-comments color"></i> Parties</h5>

        <div class="widget-content tabs">
            <div class="nav-tabs-two">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#popular" data-toggle="tab">Populaires</a></li>
                    <li><a href="#recent" data-toggle="tab">Récentes</a></li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content">
                    <!-- Popular posts -->
                    <div class="tab-pane fade in active" id="popular">
                        {{ render(url('app_partial_game_play_index', {
                            'sorting': {
                                'topic.postCount': 'desc'
                            },
                            'paginate': 5,
                            'template': 'frontend/game_play/_sidebarList.html.twig'
                        })) }}
                    </div>
                    <!-- Recent posts -->
                    <div class="tab-pane fade" id="recent">
                        {{ render(url('app_partial_game_play_index', {
                            'sorting': {
                                'createdAt': 'desc'
                            },
                            'paginate': 5,
                            'template': 'frontend/game_play/_sidebarList.html.twig'
                        })) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'frontend/pub_banner/_sidebarWidget.html.twig' %}

</div>