{% extends "::base.html.twig" %}

{% block container %}
    <div class="col-md-12">
        <!-- Heading -->
        <h3><a href="blog-single.html">Ducimus Qui Blanditiis Prey Ntium Deleniti</a></h3>

        <!-- Blog meta -->
        <div class="blog-meta">
            <!-- Date -->
            <a href="#"><i class="fa fa-calendar"></i> &nbsp; 24/03/2014</a> &nbsp;
            <!-- Author -->
            <a href="#"><i class="fa fa-user"></i> &nbsp; Ravi Kumar</a> &nbsp;
            <!-- Comments -->
            <a href="#"><i class="fa fa-comments"></i> &nbsp; 6 Comments</a>
        </div>

        {% include 'cms/block/intro.html.twig' %}
        {% include 'cms/block/image-left.html.twig' %}
        {% include 'cms/block/image-right.html.twig' %}

        <!-- Social media sharing section -->
        <div class="well">
            <span class="bold">Sharing is Sexy: </span> &nbsp; &nbsp;
            <span class="brand-bg">
                <a href="#" class="facebook"><i
                            class="fa fa-facebook square-2 rounded-1"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
                <a href="#" class="google-plus"><i
                            class="fa fa-google-plus square-2 rounded-1"></i></a>
                <a href="#" class="linkedin"><i
                            class="fa fa-linkedin square-2 rounded-1"></i></a>
                <a href="#" class="pinterest"><i class="fa fa-pinterest square-2 rounded-1"></i></a>
            </span>
        </div>

        <!-- Author section -->
        <div class="blog-author well">
            <!-- Author image -->
            <div class="blog-author-img">
                <a href="#"><img src="../../../img/user/1.jpg" alt="" class="img-responsive img-thumbnail"></a>
            </div>
            <!-- Author details -->
            <div class="blog-author-content">
                <h5><a href="#">Ashok Ramesh <small>Madurai</small></a></h5>
                <p>Temporibus autem quibusdam et aut officiis debitis aut  molestiae non recusandae rerum hic tenetur rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae rerum hic tenetur.</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Comments section -->
        <div class="blog-comments">
            <h4><i class="fa fa-comments color"></i>&nbsp; 6 Comments</h4>
            <hr>

            <!-- Blog comment item -->
            <div class="blog-comment-item">
                <div class="comment-author-image">
                    <a href="#"><img src="../../../img/user/1.jpg" alt="" class="img-responsive img-thumbnail"></a>
                </div>
                <div class="comment-details">
                    <!-- Name -->
                    <h5><a href="#">Frank Thomas</a>
                        <small>08/08/2013</small>
                    </h5>
                    <!-- Paragraph -->
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
                        voluptates repudiandae sint et molestiae non recusandae. Temporibus autem quibusdam et aut
                        officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
                        molestiae non recusandae.</p>
                </div>
            </div>

            <!-- Blog comment item -->
            <div class="blog-comment-item">
                <div class="comment-author-image">
                    <a href="#"><img src="../../../img/user/2.jpg" alt="" class="img-responsive img-thumbnail"></a>
                </div>
                <div class="comment-details">
                    <!-- Name -->
                    <h5><a href="#">Bob Marley</a>
                        <small>08/08/2013</small>
                    </h5>
                    <!-- Paragraph -->
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
                        voluptates repudiandae sint et m et aut officiis debitis aut rerum necessitatibus saepe eveniet
                        ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                </div>
            </div>

            <!-- Blog comment item -->
            <div class="blog-comment-item comment-reply">
                <div class="comment-author-image">
                    <a href="#"><img src="../../../img/user/3.jpg" alt="" class="img-responsive img-thumbnail"></a>
                </div>
                <div class="comment-details">
                    <!-- Name -->
                    <h5><a href="#">James Brown</a>
                        <small>08/08/2013</small>
                    </h5>
                    <!-- Paragraph -->
                    <p>Debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                        recusandae. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                        eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                </div>
            </div>

            <!-- Blog comment item -->
            <div class="blog-comment-item">
                <div class="comment-author-image">
                    <a href="#"><img src="../../../img/user/4.jpg" alt="" class="img-responsive img-thumbnail"></a>
                </div>
                <div class="comment-details">
                    <!-- Name -->
                    <h5><a href="#">Jockey Rambo</a>
                        <small>08/08/2013</small>
                    </h5>
                    <!-- Paragraph -->
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
                        voluptatesdiandae sint et molestiae non recusandae.</p>
                </div>
            </div>

        </div>

    </div>
{% endblock container %}