<div class="tab-pane active" id="main">
    <div class="alert alert-warning" role="alert">
        <strong>Attention</strong> Jedisjeux ne propose pas de jouer en ligne.
        <p>Cette fonctionnalité permet de saisir une partie jouée afin d'en faire un compte-rendu, se souvenir de tous les jeux auquels on a joué, faire des statistiques etc...</p>
    </div>

    {{ form_row(form.playedAt) }}
    {{ form_row(form.duration) }}
    {#{{ form_row(form.shortDescription) }}#}
</div>
