<!-- Sidebar -->
<div class="sidebar">

    <div class="s-widget">
        <h5><i class="fa fa-users color"></i> Participer</h5>
        <!-- Widgets Content -->
        <div class="widget-content search">
            {% if taxon is defined %}
                {% set topicCreatePath = path('app_frontend_topic_create_for_taxon', {'taxonId': taxon.id}) %}
            {% else %}
                {% set topicCreatePath = path('app_frontend_topic_create') %}
            {% endif %}

            <a href="{{ topicCreatePath }}" class="btn btn-color btn-lg">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Nouveau sujet
            </a>
        </div>
    </div>

    <hr/>

    {% include 'frontend/topic/sidebar/_categoriesWidget.html.twig' %}

    <hr />

    {% include 'frontend/pub_banner/_sidebarWidget.html.twig' %}

    {% include 'frontend/topic/sidebar/_navTabWidget.html.twig' %}
</div>