<!-- comments start -->
<div class="comments margin-clear space-top">
    <!-- comment start -->
    <div class="comment clearfix">
        <div class="comment-avatar">
            <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg"
                 alt="avatar">
        </div>
        <header>
            <h3>Amazing!</h3>
            <div class="comment-meta"><i class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i class="fa fa-star"></i> |
                Today, 12:31
            </div>
        </header>
        <div class="comment-content">
            <div class="comment-body clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo </p>
                <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i
                            class="fa fa-reply"></i> Reply</a>
            </div>
        </div>
    </div>
    <!-- comment end -->

    <!-- comment start -->
    <div class="comment clearfix">
        <div class="comment-avatar">
            <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg"
                 alt="avatar">
        </div>
        <header>
            <h3>Worth to Buy!</h3>
            <div class="comment-meta"><i class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i class="fa fa-star"></i> |
                Today, 09:31
            </div>
        </header>
        <div class="comment-content">
            <div class="comment-body clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo </p>
                <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i
                            class="fa fa-reply"></i> Reply</a>
            </div>
        </div>
    </div>
    <!-- comment end -->
</div>
<!-- comments end -->
