<!-- section start -->
<!-- ================ -->
<section class="pv-30 light-gray-bg">
    <div class="container">
        <div class="row">
            {% include 'frontend/product/show/_tabs.html.twig' %}
            {% include 'frontend/product/show/_sidebar.html.twig' %}
        </div>
    </div>
</section>
<!-- section end -->
