<!-- comments start -->
<div class="comments margin-clear space-top">
    <!-- comment start -->
    <div class="comment clearfix">
        <div class="comment-avatar">
            <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg"
                 alt="avatar">
        </div>
        <header>
            <h3>Amazing!</h3>
            <div class="comment-meta"><i class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i class="fa fa-star"></i> |
                Today, 12:31
            </div>
        </header>
        <div class="comment-content">
            <div class="comment-body clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo </p>
                <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i
                            class="fa fa-reply"></i> Reply</a>
            </div>
        </div>
    </div>
    <!-- comment end -->

    <!-- comment start -->
    <div class="comment clearfix">
        <div class="comment-avatar">
            <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg"
                 alt="avatar">
        </div>
        <header>
            <h3>Really Nice!</h3>
            <div class="comment-meta"><i class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i class="fa fa-star"></i> |
                Today, 10:31
            </div>
        </header>
        <div class="comment-content">
            <div class="comment-body clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo </p>
                <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i
                            class="fa fa-reply"></i> Reply</a>
            </div>
        </div>
    </div>
    <!-- comment end -->

    <!-- comment start -->
    <div class="comment clearfix">
        <div class="comment-avatar">
            <img class="rounded-circle" src="/assets/frontend/images/avatar.jpg"
                 alt="avatar">
        </div>
        <header>
            <h3>Worth to Buy!</h3>
            <div class="comment-meta"><i class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i
                        class="fa fa-star text-default"></i> <i class="fa fa-star"></i> |
                Today, 09:31
            </div>
        </header>
        <div class="comment-content">
            <div class="comment-body clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo </p>
                <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i
                            class="fa fa-reply"></i> Reply</a>
            </div>
        </div>
    </div>
    <!-- comment end -->
</div>
<!-- comments end -->

<!-- comments form start -->
<div class="comments-form">
    <h2 class="title">Add your Review</h2>
    <form>
        <div class="form-group has-feedback">
            <label for="name4">Name</label>
            <input type="text" class="form-control" id="name4" placeholder="" required>
            <i class="fa fa-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label for="subject4">Subject</label>
            <input type="text" class="form-control" id="subject4" placeholder="" required>
            <i class="fa fa-pencil form-control-feedback"></i>
        </div>
        <div class="form-group">
            <label>Rating</label>
            <select class="form-control" id="review">
                <option value="five">5</option>
                <option value="four">4</option>
                <option value="three">3</option>
                <option value="two">2</option>
                <option value="one">1</option>
            </select>
        </div>
        <div class="form-group has-feedback">
            <label for="message4">Message</label>
            <textarea class="form-control" rows="8" id="message4" placeholder=""
                      required></textarea>
            <i class="fa fa-envelope-o form-control-feedback"></i>
        </div>
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
</div>
<!-- comments form end -->
