<!-- sidebar start -->
<!-- ================ -->
<aside class="col-lg-4 col-xl-3 ml-xl-auto">
    <div class="sidebar">
        {% include 'frontend/pub_banner/_sidebar.html.twig' %}
        {% for association in product.associations %}
            <div class="block clearfix">
                <h3 class="title">{{ association.type }}</h3>
                <div class="separator-2"></div>
                {% include 'frontend/product/_simpleList.html.twig' with {'products': association.associatedProducts} %}
            </div>
        {% endfor %}
    </div>
</aside>
<!-- sidebar end -->
