<div class="form-group">
    {{ form_label(form.rating) }}
    <div class="col-sm-9">
        <div class="rating md" data-max-value="10" {% if resource is not null %}data-rate-value="{{ resource.rating }}"{% endif %}
             data-update-input-field-name="sylius_product_review_rating" data-step-size="1"></div>
    </div>
</div>

{{ form_widget(form) }}