{% from 'macros/game_reviews.html.twig' import blogCommentItem %}

<div class="blog-comments">
    {% for game_review in product_reviews %}
        <div class="block-heading-two">
            <h3><a href="{{ path('sylius_product_show', {slug: game_review.reviewSubject.slug}) }}"><span>{{ game_review.reviewSubject }}</span></a></h3>
        </div>
        {{ blogCommentItem(game_review) }}
    {% endfor %}
</div>

