{% from 'macro/topic.html.twig' import render_comments %}
{% import 'macro/buttons.html.twig' as buttons %}

<!-- section start -->
<!-- ================ -->
<section class="pv-30 light-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ buttons.btn(path('app_frontend_game_play_post_create', {'gamePlayId' : game_play.id}), 'app.ui.react_on_this_game_play', null, 'reply', 'btn-default btn-lg') }}

                <!-- comments start -->
                <!-- ================ -->
                <div id="comments" class="comments">
                    {% set postCount = game_play.topic ? game_play.topic.postCount : 0 %}
                    <h2 class="title">{% transchoice postCount %}app.ui.comment.choice{% endtranschoice %}</h2>
                    {% if game_play.topic is not null %}
                        {{ render_comments(game_play.topic) }}
                    {% endif %}
                </div>
                <!-- comments end -->
            </div>
        </div>
    </div>
</section>
<!-- section end -->
