{% import 'macros/images.html.twig' as images %}

{% if game_play.images|length > 0 %}
    <div class="block-heading-two">
        <h3><span><i class="fa fa-camera color"></i> Photos</span>
            <small>({{ game_play.images|length }})</small>
        </h3>
    </div>

    <div class="img-carousel owl-carousel">
        {% for image in game_play.images %}
            <div class="item">
                {{ images.render(image.webPath, 'full', image.gamePlay.product) }}
                <div class="caption">
                    <p>{{ image.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row img-carousel-thumbs">
    {% for image in game_play.images %}
        {% if loop.index0 != 0 and loop.index0%6 == 0 %}
            </div>
            <div class="row img-carousel-thumbs">
        {% endif %}
        <a href="#" class="col-md-2">
            {{ images.render(image.webPath, 'full', image.gamePlay.product, 'img-responsive') }}
        </a>
    {% endfor %}
    </div>
{% endif %}
