{% extends "base.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}
{% block body %}
    <h1>Liste des utilisateurs</h1>


<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Username</th>
                <th>Avatar</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Actions</th>
            </tr>
        {% for entity in entities %}
            {% include '/user/user/partial/_listElement.html.twig' with {'entity': entity} %}
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(entities) }}
        </div>
    </div>

<div class="pagination-wrapper">
    <a class="btn btn-success" alt="Ajouter un nouvel utilisateur" href="{{ path('espace_personnel_new') }}">
        Ajouter un nouvel utilisateur
    </a>
</div>
{% endblock %}
