{% extends 'base.html.twig' %}

{% block headline %}
    Informations personnelles
{% endblock %}

{% block bodyClass %}account_index{% endblock %}

{% block container %}
    <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4">
        {% include 'frontend/account/profile/_form.html.twig' %}
    </div>
    <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8">
        {% include 'frontend/account/_sidebar.html.twig' with {'active': 'profile'} %}
    </div>
{% endblock %}