{% from 'macros/users.html.twig' import avatar %}

{% for product_review in product_reviews %}
    {% set product = product_review.reviewSubject %}
    {% set user = product_review.author.user %}
    <li>
        <a href="{{ path('sylius_frontend_product_review_show', {'id': product_review.id, 'productId': product.id}) }}">
            <!-- Item image -->
            <img src="{{ avatar(user) | imagine_filter('thumbnail') }}" alt="" class="img-responsive img-round"/>

            <!-- Item title -->
            <span>{{ product_review.title }}</span><br/>

            <div class="rating-container">
                <div class="rating yellow" data-readonly="true" data-rate-value="{{ product_review.rating/2 }}" data-step-size="0.5"></div>
            </div>

            <div class="clearfix"></div>
        </a>
    </li>
{% endfor %}