{% extends "::base.html.twig" %}

{% import 'macros/actions.html.twig' as actions %}

{% block headline %}
    {{ resource.reviewSubject }}
{% endblock headline %}

{% block subtitle %}
    Votre avis
{% endblock %}

{% block container %}
    {{ form_start(form) }}

    {% include 'frontend/product_review/_form.html.twig' %}

    <div class="pull-right">
        {{ actions.create() }}
    </div>

    <div class="clearfix"></div>

    {{ form_end(form) }}
{% endblock %}