<h3 class="title">{{ 'app.ui.recent_articles'|trans }}</h3>
<div class="separator-2"></div>
{{ render(url('app_partial_article_index', {
    'template': 'frontend/article/_magazineList.html.twig',
    'paginate': 5,
    'sorting': {
        'publishStartDate': 'desc'
    }} )) }}
