<h3 class="title">{{ 'app.ui.recent_articles'|trans }}</h3>
<div class="separator-2"></div>
<div class="image-box style-2 mb-20 bordered light-gray-bg">
    <div class="overlay-container overlay-visible">
        <img src="/assets/frontend/images/portfolio-1.jpg" alt="">
        <div class="overlay-bottom text-left">
            <p class="lead margin-clear">[JdJMovies] Pulsar 2849</p>
        </div>
    </div>
    <div class="body">
        <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Dec, 2017 <i class="pl-10 pr-1 fa fa-tag"></i> Web Design</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
        <a href="article-details.html" class="btn btn-default btn-sm rgin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
    </div>
</div>

<div class="block clearfix">
    <div class="media margin-clear">
        <div class="d-flex pr-2">
            <div class="overlay-container">
                <img class="media-object" src="/assets/frontend/images/product-1.jpg" alt="blog-thumb">
                <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
            </div>
        </div>
        <div class="media-body">
            <h6 class="media-heading"><a href="article-details.html">Lorem ipsum dolor sit amet</a></h6>
            <ul class="list-icons text-muted small">
                <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                <li><i class="fa fa-tag"></i> Web Design</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="media margin-clear">
        <div class="d-flex pr-2">
            <div class="overlay-container">
                <img class="media-object" src="/assets/frontend/images/product-2.jpg" alt="blog-thumb">
                <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
            </div>
        </div>
        <div class="media-body">
            <h6 class="media-heading"><a href="article-details.html">Eum repudiandae ipsam</a></h6>
            <ul class="list-icons text-muted small">
                <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                <li><i class="fa fa-tag"></i> Web Design</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="media margin-clear">
        <div class="d-flex pr-2">
            <div class="overlay-container">
                <img class="media-object" src="/assets/frontend/images/product-3.jpg" alt="blog-thumb">
                <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
            </div>
        </div>
        <div class="media-body">
            <h6 class="media-heading"><a href="shop-product.html">Quia aperiam velit fuga</a></h6>
            <ul class="list-icons text-muted small">
                <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                <li><i class="fa fa-tag"></i> Web Design</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="media margin-clear">
        <div class="d-flex pr-2">
            <div class="overlay-container">
                <img class="media-object" src="/assets/frontend/images/product-4.jpg" alt="blog-thumb">
                <a href="article-details.html" class="overlay-link small"><i class="fa fa-link"></i></a>
            </div>
        </div>
        <div class="media-body">
            <h6 class="media-heading"><a href="article-details.html">Fugit non natus officiis</a></h6>
            <ul class="list-icons text-muted small">
                <li><i class="fa fa-calendar-o pr-1"></i> Dec, 2017</li>
                <li><i class="fa fa-tag"></i> Web Design</li>
            </ul>
        </div>
    </div>
</div>
