<!-- section start -->
<!-- ================ -->
<section class="section">
    <div class="container">
        <h3 class="title">Derniers jeux ajoutés</h3>
        <div class="separator-2"></div>
        <div class="row grid-space-10">
            <div class="col-sm-3">
                <div class="listing-item white-bg bordered mb-20">
                    <div class="overlay-container">
                        <img src="/assets/frontend/images/product-1.jpg" alt="">
                        <a class="overlay-link" href="shop-product.html"><i class="fa fa-search-plus"></i></a>
                        <span class="badge">30% OFF</span>
                        <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-plus pr-10"></i>Ajouter à une liste</a>
                              <a href="shop-product.html" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                        </div>
                    </div>
                    <div class="body">
                        <h3><a href="shop-product.html">Kero</a>
                        </h3>
                        <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star"></i>
                        </p>
                        <ul class="list-icons small">
                            <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                            <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                            <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                            <li><i class="fa fa-calendar-o"></i> Sortie : juin 2018</li>
                        </ul>
                        <div class="elements-list clearfix">
                            <a class="pull-right margin-clear" href="shop-product.html">Read More<i
                                        class="pl-1 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="listing-item white-bg bordered mb-20">
                    <div class="overlay-container">
                        <img src="/assets/frontend/images/product-2.jpg" alt="">
                        <span class="badge">25% OFF</span>
                        <a class="overlay-link" href="shop-product.html"><i class="fa fa-search-plus"></i></a>
                        <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                        </div>
                    </div>
                    <div class="body">
                        <h3><a href="shop-product.html">Dream On!</a></h3>
                        <p>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star text-default"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                        <ul class="list-icons small">
                            <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                            <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                            <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                            <li><i class="fa fa-calendar-o"></i> Sortie : juin 2018</li>
                        </ul>
                        <div class="elements-list clearfix">
                            <a class="pull-right margin-clear" href="shop-product.html">Read More<i
                                        class="pl-1 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="listing-item white-bg bordered mb-20">
                    <div class="overlay-container">
                        <img src="/assets/frontend/images/product-3.jpg" alt="">
                        <span class="badge">33% OFF</span>
                        <a class="overlay-link" href="shop-product.html"><i class="fa fa-search-plus"></i></a>
                        <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                        </div>
                    </div>
                    <div class="body">
                        <h3><a href="shop-product.html">Quas inventore modi</a></h3>
                        <ul class="list-icons small">
                            <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                            <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                            <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                            <li><i class="fa fa-calendar-o"></i> Sortie : juin 2018</li>
                        </ul>
                        <div class="elements-list clearfix">
                            <a class="pull-right margin-clear" href="shop-product.html">Read More<i
                                        class="pl-1 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="listing-item white-bg bordered mb-20">
                    <div class="overlay-container">
                        <img src="/assets/frontend/images/product-5.jpg" alt="">
                        <span class="badge">30% OFF</span>
                        <a class="overlay-link" href="shop-product.html"><i class="fa fa-search-plus"></i></a>
                        <div class="overlay-to-top links">
                            <span class="small">
                              <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                              <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                            </span>
                        </div>
                    </div>
                    <div class="body">
                        <h3><a href="shop-product.html">Velit Suscipit consequatur</a></h3>
                        <ul class="list-icons small">
                            <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                            <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                            <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                            <li><i class="fa fa-calendar-o"></i> Sortie : juin 2018</li>
                        </ul>
                        <div class="elements-list clearfix">
                            <a class="pull-right margin-clear" href="shop-product.html">Read More<i
                                        class="pl-1 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
