<!-- section start -->
<!-- ================ -->
<section class="section">
    <div class="container">
        <h3 class="title">Dernières parties jouées</h3>
        <div class="separator-2"></div>
        {{ render(url('app_partial_game_play_index', {
            'paginate': 3,
            'template': 'frontend/game_play/grid/_threeColumns.html.twig',
            'criteria': {
                'hasTopic': 1
            },
            'sorting': {
                'createdAt': 'desc'
            }
        })) }}
    </div>
</section>
<!-- section end -->
