<!-- main end -->
<!-- sidebar start -->
<!-- ================ -->
<aside class="col-lg-4 ml-lg-auto">
    <div class="sidebar">
        <div class="block clearfix">
            <h3 class="title">Sorties de Jeux</h3>
            <div class="separator-2"></div>
            <div id="carousel-sidebar" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators top">
                    <li data-target="#carousel-sidebar" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-sidebar" data-slide-to="1"></li>
                    <li data-target="#carousel-sidebar" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="image-box style-2 mb-20 bordered light-gray-bg">
                            <div class="overlay-container overlay-visible">
                                <img src="assets/frontend/images/portfolio-1.jpg" alt="">
                                <div class="overlay-bottom text-left">
                                    <p class="lead margin-clear">Pulsar 2849</p>
                                </div>
                            </div>
                            <div class="body">
                                <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Sortie : Juin 2018 <i class="pl-10 pr-1 fa fa-tag"></i> Débutants</p>
                                <ul class="list-icons small">
                                    <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                                    <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                                    <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                                </ul>
                                <a href="#" class="btn btn-default btn-sm rgin-clear">{{ 'app.ui.read_more'|trans }}<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="image-box style-2 mb-20 bordered light-gray-bg">
                            <div class="overlay-container overlay-visible">
                                <img src="assets/frontend/images/portfolio-2.jpg" alt="">
                                <div class="overlay-bottom text-left">
                                    <p class="lead margin-clear">Jurassik Snack</p>
                                </div>
                            </div>
                            <div class="body">
                                <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Sortie : Juin 2018 <i class="pl-10 pr-1 fa fa-tag"></i> Débutants</p>
                                <ul class="list-icons small">
                                    <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                                    <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                                    <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                                </ul>
                                <a href="#" class="btn btn-default btn-sm rgin-clear">{{ 'app.ui.read_more'|trans }}<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="image-box style-2 mb-20 bordered light-gray-bg">
                            <div class="overlay-container overlay-visible">
                                <img src="assets/frontend/images/portfolio-3.jpg" alt="">
                                <div class="overlay-bottom text-left">
                                    <p class="lead margin-clear">SteamRollers</p>
                                </div>
                            </div>
                            <div class="body">
                                <p class="small mb-10 text-muted"><i class="fa fa-calendar-o pr-1"></i> Sortie : Juin 2018 <i class="pl-10 pr-1 fa fa-tag"></i> Débutants</p>
                                <ul class="list-icons small">
                                    <li><i class="fa fa-user"></i> à 2 joueurs exclusivement</li>
                                    <li><i class="fa fa-child"></i> A partir de 8 ans</li>
                                    <li><i class="fa fa-clock-o"></i> 30 minutes</li>
                                </ul>
                                <a href="#" class="btn btn-default btn-sm rgin-clear">{{ 'app.ui.read_more'|trans }}<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block clearfix">
            <img src="https://www.jedisjeux.net/media/cache/pub_banner/uploads/img/5927e40bcf1c12.57234219.jpg" />
        </div>
        <div class="block clearfix">
            <h3 class="title">Topics</h3>
            <div class="separator-2"></div>
            <div class="media margin-clear">
                <div class="d-flex pr-2">
                    <div class="overlay-container">
                        <img class="media-object" src="assets/frontend/images/avatar-1.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="shop-product.html">Partie de Uchronia </a></h6>
                    <p class="small mb-10 text-muted"><i class="fa fa-calendar pr-1"></i> 6 août 2018 <i class="pl-10 pr-1 fa fa-tag"></i> Parties de jeu</p>
                </div>
            </div>
            <hr>
            <div class="media margin-clear">
                <div class="d-flex pr-2">
                    <div class="overlay-container">
                        <img class="media-object" src="assets/frontend/images/avatar-2.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="shop-product.html">
                            [ExP] Eminent Domain Microcosme</a></h6>
                    <p class="small mb-10 text-muted"><i class="fa fa-calendar pr-1"></i> 19 juillet 2018 <i class="pl-10 pr-1 fa fa-tag"></i> La demande aux responsables communication</p>
                </div>
            </div>
            <hr>
            <div class="media margin-clear">
                <div class="d-flex pr-2">
                    <div class="overlay-container">
                        <img class="media-object" src="assets/frontend/images/avatar-3.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="shop-product.html">Le topic sur les parties jouées la veille</a></h6>
                    <p class="small mb-10 text-muted"><i class="fa fa-calendar pr-1"></i> 22 juin 2018 <i class="pl-10 pr-1 fa fa-tag"></i> La taverne du joueur</p>
                </div>
            </div>
            <hr>
            <div class="media margin-clear">
                <div class="d-flex pr-2">
                    <div class="overlay-container">
                        <img class="media-object" src="assets/frontend/images/avatar-4.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="shop-product.html">Partie de Seeders, Episode 1: Exodus</a></h6>
                    <p class="small mb-10 text-muted"><i class="fa fa-calendar pr-1"></i> 6 août 2007 <i class="pl-10 pr-1 fa fa-tag"></i> Parties de jeu</p>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- sidebar end -->
