<!-- main end -->
<!-- sidebar start -->
<!-- ================ -->
<aside class="col-lg-4 ml-lg-auto">
    <div class="sidebar">
        {% include 'frontend/homepage/index/sidebar/_latestArrivals.html.twig' %}
        {% include 'frontend/pub_banner/_sidebar.html.twig' %}
        {% include 'frontend/homepage/index/sidebar/_latestTopics.html.twig' %}
    </div>
</aside>
<!-- sidebar end -->
