<!-- main end -->
<!-- sidebar start -->
<!-- ================ -->
<aside class="col-lg-4 ml-lg-auto">
    <div class="sidebar">
        {% include 'frontend/homepage/index/sidebar/_latestArrivals.html.twig' %}
        <div class="block clearfix">
            <img src="https://www.jedisjeux.net/media/cache/pub_banner/uploads/img/5927e40bcf1c12.57234219.jpg" />
        </div>
        {% include 'frontend/homepage/index/sidebar/_latestTopics.html.twig' %}
    </div>
</aside>
<!-- sidebar end -->
