{{ form_errors(form) }}

<div class="ui stackable grid">
    <div class="ten wide column">
        <div class="ui segment">
            {% include 'backend/article/_content.html.twig' %}
        </div>
    </div>
    <div class="six wide column">
        <div class="ui segment">
            {% include 'backend/article/_menu.html.twig' %}
        </div>
    </div>
</div>