<div class="ui large fluid vertical menu">
    <a href="#" class="active item" data-tab="details">
        {{ 'sylius.ui.details'|trans }}
    </a>
    <a class="item" data-tab="blocks">
        {{ 'app.ui.blocks'|trans }}
    </a>
    <a class="item" data-tab="slide_show">
        {{ 'app.ui.slide_show'|trans }}
    </a>
</div>
