<!-- Sidebar -->
<div class="sidebar">

    <div class="s-widget">
        <h5><i class="fa fa-info color"></i> Informations</h5>
        <div class="widget-content">
            {{ form_row(form.document.title) }}
        </div>
    </div>

</div>
