<!-- Sidebar -->
<div class="sidebar">

    <div class="s-widget">
        <h5><i class="fa fa-th-large color"></i> Blocs</h5>
        <div class="widget-content">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="revertible draggable" data-template="ImageAtLeftTemplate">
                        <div class="col-md-4 col-sm-4">
                            <img class="img-responsive"
                                 src="{{ asset('assets/ckeditor/templates/images/image_at_left.gif') }}"/>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <!-- Heading -->
                            <h5>Image à gauche</h5>
                            <!-- Paragraph -->
                            <p> Une image principale, un titre et un texte entourant l'image.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="divider-4"></div>
                </div>
                <div class="row">
                    <div class="revertible draggable"  data-template="ImageAtRightTemplate">
                        <div class="col-md-4 col-sm-4">
                            <img class="img-responsive"
                                 src="{{ asset('assets/ckeditor/templates/images/image_at_right.gif') }}"/>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <!-- Heading -->
                            <h5>Image à droite</h5>
                            <!-- Paragraph -->
                            <p> Une image principale, un titre et un texte entourant l'image.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>