{% extends "JDJWebBundle::layout.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

{% block body -%}

    <h2>Les ludographies</h2>

    {% include 'JDJLudographieBundle:Personne/partial:_list.html.twig' with {'personnes': entities} %}
    <div class="pagination-wrapper">
        <div class="pagination-bottom">
            {{ pagination(entities) }}
        </div>
    </div>
{% endblock %}