{% from 'macros/game_plays.html.twig' import magazineItemOne %}

<div class="row">

    {% for game_play in game_plays %}

    <div class="col-md-4 col-sm-6">
        {{ magazineItemOne(game_play) }}
    </div>

    {% endfor %}

</div>