<!-- Nav tab widget - popular, recent and comments -->
<div class="s-widget">
    <h5><i class="fa fa-table color"></i> Nav Tabs</h5>

    <div class="widget-content tabs">
        <div class="nav-tabs-two">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
                <li><a href="#recent" data-toggle="tab">Recent</a></li>
                <li><a href="#comments" data-toggle="tab">Comments</a></li>
            </ul>
            <!-- Tab content -->
            <div class="tab-content">
                <!-- Popular posts -->
                <div class="tab-pane fade in active" id="popular">
                    <ul>

                        {% for key, userReview in userReviews %}
                            {% if (key < 4) %}
                                {% set imgId = key + 1 %}
                                {% set imgSrc = '../../../img/user/' ~ imgId ~ '.jpg' %}
                                <li>
                                    <a href="#">
                                        <!-- Item image -->
                                        <img src="{{ imgSrc }}" alt="" class="img-responsive img-thumbnail"/>
                                        <!-- Item title -->
                                        <span>{{ userReview.jeuNote.author.username }}</span><br />

                                        <div class="rating-container rating-gly-star" data-content="">
                                            <div class="rating-stars" data-content="" style="width: {{ userReview.jeuNote.note.valeur }}0%;"></div>
                                        </div>

                                        <span>
                                            <label>{{ userReview.jeuNote.note.libelle }}</label>
                                        </span>

                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- Recent posts -->
                <div class="tab-pane fade" id="recent">
                    <ul>
                        <li>
                            <a href="#">
                                <!-- Item image -->
                                <img src="../../../img/user/1.jpg" alt="" class="img-responsive img-thumbnail"/>
                                <!-- Item title -->
                                <span>Neque porro quisquam estui dolorem ipsum quia dolor sit</span>

                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Item image -->
                                <img src="../../../img/user/2.jpg" alt="" class="img-responsive img-thumbnail"/>
                                <!-- Item title -->
                                <span>Temporibus autem quibusdam et aut officiis  aut rerum</span>

                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Item image -->
                                <img src="../../../img/user/3.jpg" alt="" class="img-responsive img-thumbnail"/>
                                <!-- Item title -->
                                <span>Voluptates repudiandae sint et molestiae non recusand</span>

                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Item image -->
                                <img src="../../../img/user/4.jpg" alt="" class="img-responsive img-thumbnail"/>
                                <!-- Item title -->
                                <span>Neque porro quisquam estui dolorem ipsum quia dolor sit</span>

                                <div class="clearfix"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Recent comments -->
                <div class="tab-pane fade" id="comments">
                    <ul>
                        <li>
                            <a href="#">
                                <!-- Item image -->
                                <img src="../../../img/user/1.jpg" alt="" class="img-responsive img-thumbnail"/>
                                <!-- Item title -->
                                <span>Neque porro quisquam estui dolorem ipsum quia dolor sit</span>

                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Item image -->
                                <img src="../../../img/user/2.jpg" alt="" class="img-responsive img-thumbnail"/>
                                <!-- Item title -->
                                <span>Temporibus autem quibusdam et aut officiis  aut rerum</span>

                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Item image -->
                                <img src="../../../img/user/3.jpg" alt="" class="img-responsive img-thumbnail"/>
                                <!-- Item title -->
                                <span>Voluptates repudiandae sint et molestiae non recusand</span>

                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Item image -->
                                <img src="../../../img/user/4.jpg" alt="" class="img-responsive img-thumbnail"/>
                                <!-- Item title -->
                                <span>Neque porro quisquam estui dolorem ipsum quia dolor sit</span>

                                <div class="clearfix"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>