{% extends "base.html.twig" %}
{% from 'JDJWebBundle:Macros:misc.html.twig' import pagination %}

{% block body -%}

    <div class="block-heading-two">
        <h3><span>{{ entity }}</span></h3>
    </div>

    {{ entity.description|raw }}

    {% include "jeu/index/list-4.html.twig" with {'jeux': jeux} only %}


    {% block Pagination %}
        <div class="pagination-wrapper">
            <div class="pagination-bottom">
                {{ pagination(jeux) }}
            </div>
        </div>
    {% endblock %}
{% endblock %}
