{% extends "::base.html.twig" %}

{% block container -%}
    <h1>CptaClient creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock container %}
