{% import 'macros/items.html.twig' as items %}

{% if article.author %}

    {% set body %}
        <p>
            {% set commentCount = topic ? topic.posts|length : 0 %}
            <a href="#comments">
                <span class="fa fa-comments"></span>
                {{ commentCount }}
                {% if commentCount > 1 %}
                    {{ 'app.ui.comments'|trans|lower }}
                {% else %}
                    {{ 'app.ui.comment'|trans|lower }}
                {% endif %}
            </a>
        </p>
    {% endset %}

    {{ items.blogAuthor(article.author, body, article.publishStartDate) }}

{% endif %}
