<div class="nav-tabs-two">
    {% include 'backend/product/form/_tabs.html.twig' %}
    <div class="tab-content">
        {% include 'backend/product/form/_main.html.twig' %}
        {% include 'backend/product/form/_attributes.html.twig' %}
        {% include 'backend/product/form/_categorization.html.twig' %}
        {% include 'backend/product/form/_people.html.twig' %}
        {% include 'backend/product/form/_images.html.twig' %}
    </div>
</div>

{{ form_row(form._token) }}