{{ form_errors(form) }}

{% include 'backend/product/_steps.html.twig' %}

<div class="ui stackable grid">
    <div class="three wide column">
        {% include 'backend/product/_menu.html.twig' %}
    </div>
    <div class="thirteen wide column">
        <div class="ui segment">
            {% include 'backend/product/_tabs.html.twig' %}
        </div>
    </div>
</div>
