<div class="ui right floated buttons">
    {% if product.slug %}
        <a class="ui labeled icon button"
           target="_blank"
           href="{{ path('sylius_frontend_product_show', {'slug': product.slug}) }}">
            <i class="icon search"></i>
            {{ 'app.ui.preview'|trans }}
        </a>
    {% endif %}

    {{ render(url('sylius_partial_product_status_show', {
        'id': product.id,
        'template': 'backend/product/button/_status.html.twig'
    })) }}
</div>
