<div class="ui right floated buttons">
    {{ render(url('sylius_partial_product_status_show', {
        'id': product.id,
        'template': 'backend/product/button/_status.html.twig'
    })) }}
</div>
