{% set currentTaxon = topic.mainTaxon is not null ? topic.mainTaxon : null %}

<h3 class="title">{{ 'app.ui.categories'|trans }}</h3>
<div class="separator-2"></div>
<nav>
    <ul class="nav flex-column">
        {{  render(url('sylius_partial_taxon_index_by_code', {
            'code': constant('AppBundle\\Entity\\Taxon::CODE_FORUM'),
            'currentSlug': currentTaxon is not null ? currentTaxon.slug : null,
            'template': 'frontend/taxon/_navListForTopics.html.twig'
        })) }}
    </ul>
</nav>
