{% extends "base.html.twig" %}
{% from 'macros/misc.html.twig' import pagination %}

{% block headline %}
    Les avis de jeux
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    <a href="{{ path('user_review_index') }}">Avis</a>
{% endblock %}

{% block body -%}
    {% include 'frontend/user_review/_index_by_game.html.twig' %}
{% endblock %}

{% block Pagination %}
    {{ pagination(user_reviews) }}
{% endblock %}