{% from 'macros/games.html.twig' import magazineItemOne %}

{% for association in product.associations %}

    <div class="block-heading-two">
        <h3><span>{{ association.type }}</span></h3>
    </div>

    {% include 'frontend/game/show/_associatedProducts.html.twig' with {'products': association.associatedObjects} %}

{% endfor %}