{% from 'macros/games.html.twig' import magazineItemOne %}

{% for association in product.associations %}

    <h4>{{ association.type }}</h4>

    <div class="row">
        {% for game in association.associatedObjects %}
            <div class="col-md-4 col-sm-6">
                {{ magazineItemOne(game) }}
            </div>
        {% endfor %}
    </div>


{% endfor %}