<div class="tab-pane" id="categorization">
    {{ form_row(form.mechanisms) }}
    {{ form_row(form.themes) }}
{#{% for taxonomyForm in form.taxons %}#}
    {#{{ form_row(taxonomyForm) }}#}
{#{% endfor %}#}
</div>
