<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'label.description'|trans }}</a></li>
    <li><a href="#attributes" data-toggle="tab">{{ 'label.attributes'|trans }}</a></li>
    <li><a href="#categorization" data-toggle="tab">{{ 'label.categorization'|trans }}</a></li>
    <li><a href="#images" data-toggle="tab">{{ 'label.images'|trans }}</a></li>
</ul>
