@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* line 4, ../sass/_layout.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 11, ../sass/_layout.scss */
.main-sidebar {
  background-color: #262626;
  height: 100%;
  overflow: visible;
}

@media only screen and (min-width: 40.063em) {
  /* line 18, ../sass/_layout.scss */
  .main-sidebar {
    position: absolute;
  }
}
/* line 1, ../sass/_top-bar.scss */
.avatar {
  border-radius: 100px 100px 100px 100px;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  width: 35px;
  margin-left: 10px;
}

/**************************************************************/
/*  	    		       COLORS					          */
/**************************************************************/
/* line 14, ../sass/base.scss */
body {
  font-size: 1em;
  color: #737373;
  font-family: "Open Sans", sans-serif;
}

/**************************************************************/
/*  	    		       FOOTER					          */
/**************************************************************/
/**************************************************************/
/*  	    		       Titres					          */
/**************************************************************/
/**************************************************************/
/*  	    		       Liens					          */
/**************************************************************/
/* line 60, ../sass/base.scss */
a {
  color: #88bd32;
}
/* line 62, ../sass/base.scss */
a:hover {
  color: #303736;
}

/**************************************************************/
/*  	    		       ITEM LIST					      */
/**************************************************************/
/* line 71, ../sass/base.scss */
ul {
  margin: 0;
}
/* line 73, ../sass/base.scss */
ul li {
  list-style-type: none;
}

/**************************************************************/
/*  	    		       TABLE					          */
/**************************************************************/
/* line 82, ../sass/base.scss */
table {
  width: 100%;
}
/* line 86, ../sass/base.scss */
table thead tr th {
  padding: 10px;
  background: #303736;
  color: #fff;
  border: 1px solid #e2e2e2;
}
/* line 94, ../sass/base.scss */
table td {
  vertical-align: middle;
}
/* line 96, ../sass/base.scss */
table td .inline-list {
  margin: 0;
  position: relative;
  top: 10px;
}

/**************************************************************/
/*  	    		       BUTTON					          */
/**************************************************************/
/* line 110, ../sass/base.scss */
button, a.button {
  background-color: #88bd32;
}
/* line 112, ../sass/base.scss */
button:hover, a.button:hover {
  background-color: #303736;
  color: #88bd32;
}
/* line 116, ../sass/base.scss */
button:focus, button:active, a.button:focus, a.button:active {
  background-color: #88bd32;
}

/**************************************************************/
/*  	    		       TOP BAR					          */
/**************************************************************/
/* line 127, ../sass/base.scss */
.top-bar .name h1 {
  font-size: 3rem;
}
/* line 133, ../sass/base.scss */
.top-bar ul li > a.button {
  background-color: #88bd32;
}
/* line 136, ../sass/base.scss */
.top-bar ul li a:not(.button):hover {
  color: #88bd32 !important;
}

/**************************************************************/
/*  	    		       ROW					              */
/**************************************************************/
/* line 149, ../sass/base.scss */
.listing .image.crop {
  height: 150px;
  width: 100%;
  overflow: hidden;
}
