@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* line 4, ../sass/_layout.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 11, ../sass/_layout.scss */
.main-sidebar {
  background-color: #262626;
  height: 100%;
  overflow: visible;
}

@media only screen and (min-width: 40.063em) {
  /* line 18, ../sass/_layout.scss */
  .main-sidebar {
    position: absolute;
  }
}
/* line 1, ../sass/_top-bar.scss */
.avatar {
  border-radius: 100px 100px 100px 100px;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  width: 35px;
  margin-left: 10px;
}

/**************************************************************/
/*  	    		       COLORS					          */
/**************************************************************/
/* line 14, ../sass/base.scss */
body {
  font-size: 1em;
  color: #737373;
  font-family: "Open Sans", sans-serif;
}

/**************************************************************/
/*  	    		       FOOTER					          */
/**************************************************************/
/**************************************************************/
/*  	    		       Titres					          */
/**************************************************************/
/* line 58, ../sass/base.scss */
.top-bar .name h1 {
  font-size: 3rem;
}

/**************************************************************/
/*  	    		       Liens					          */
/**************************************************************/
/* line 68, ../sass/base.scss */
a {
  color: #88bd32;
}

/**************************************************************/
/*  	    		       ITEM LIST					      */
/**************************************************************/
/* line 76, ../sass/base.scss */
ul {
  margin: 0;
}
/* line 78, ../sass/base.scss */
ul li {
  list-style-type: none;
}

/**************************************************************/
/*  	    		       TABLE					          */
/**************************************************************/
/* line 87, ../sass/base.scss */
table {
  width: 100%;
}
/* line 91, ../sass/base.scss */
table thead tr th {
  padding: 10px;
  background: #303736;
  color: #fff;
  border: 1px solid #e2e2e2;
}
/* line 99, ../sass/base.scss */
table td {
  vertical-align: middle;
}
/* line 101, ../sass/base.scss */
table td .inline-list {
  margin: 0;
  position: relative;
  top: 10px;
}

/**************************************************************/
/*  	    		       BUTTON					          */
/**************************************************************/
/* line 115, ../sass/base.scss */
a.button {
  background-color: #88bd32;
}

/* line 119, ../sass/base.scss */
a:hover.button {
  background-color: #303736;
  color: #88bd32;
}

/* line 124, ../sass/base.scss */
a:hover {
  color: #303736;
}

/* line 135, ../sass/base.scss */
.top-bar-section ul li > a.button {
  background-color: #88bd32;
}
/* line 138, ../sass/base.scss */
.top-bar-section ul li a:not(.button):hover {
  color: #88bd32 !important;
}
