@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* line 4, ../sass/_layout.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 11, ../sass/_layout.scss */
.main-sidebar {
  background-color: #262626;
  height: 100%;
  overflow: visible;
}

@media only screen and (min-width: 40.063em) {
  /* line 18, ../sass/_layout.scss */
  .main-sidebar {
    position: absolute;
  }
}
/* line 1, ../sass/_top-bar.scss */
.avatar {
  border-radius: 100px 100px 100px 100px;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  width: 35px;
  margin-left: 10px;
}

/**************************************************************/
/*  	    		  Defines Colors                          */
/**************************************************************/
/**************************************************************/
/*  	    		  IMPORT Modules					      */
/**************************************************************/
/**************************************************************/
/*  	    		       FICHE DE JEU					      */
/**************************************************************/
/* line 6, ../sass/module/_jeu.scss */
.intro p {
  font-size: 1.2rem;
  font-style: italic;
}

/* line 13, ../sass/module/_jeu.scss */
.panel.materiel {
  background: #fafafa;
  border: none;
}
/* line 16, ../sass/module/_jeu.scss */
.panel.materiel ul li, .panel.materiel h3 {
  color: #888;
}

/* line 23, ../sass/module/_jeu.scss */
.panel.but {
  background-color: #98ca46;
  border: none;
}
/* line 26, ../sass/module/_jeu.scss */
.panel.but ul li, .panel.but h3, .panel.but p {
  color: white;
}

/*****************************************************/
/* Notation avec étoiles */
/*****************************************************/
/* line 36, ../sass/module/_jeu.scss */
.starRating {
  float: left;
  margin: 0px 10px;
}
/* line 40, ../sass/module/_jeu.scss */
.starRating ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 46, ../sass/module/_jeu.scss */
.starRating p, .starRating span {
  display: none;
}
/* line 50, ../sass/module/_jeu.scss */
.starRating .starLeft, .starRating .starRight {
  float: left;
  width: 11px;
  height: 20px;
}
/* line 55, ../sass/module/_jeu.scss */
.starRating .starLeft a, .starRating .starRight a {
  width: 11px;
  height: 20px;
  display: block;
  text-decoration: none;
}
/* line 63, ../sass/module/_jeu.scss */
.starRating .starLeft {
  background: url(http://www.jedisjeux.net/img/design/icons/stars.png) left bottom;
}
/* line 65, ../sass/module/_jeu.scss */
.starRating .starLeft.selected {
  background: url(http://www.jedisjeux.net/img/design/icons/stars.png) left top;
}
/* line 70, ../sass/module/_jeu.scss */
.starRating .starRight {
  background: url(http://www.jedisjeux.net/img/design/icons/stars.png) right bottom;
}
/* line 72, ../sass/module/_jeu.scss */
.starRating .starRight.selected {
  background: url(http://www.jedisjeux.net/img/design/icons/stars.png) right top;
}

/* line 24, ../sass/base.scss */
body {
  font-size: 1em;
  color: #737373;
  font-family: "Open Sans", sans-serif;
  background: #f6f8fb url("http://www.jedisjeux.net/img/design/icons/fd_Body.png");
}

/**************************************************************/
/*  	    		       HEADER					          */
/**************************************************************/
/* line 36, ../sass/base.scss */
header .menu {
  background: url("http://januarycreative.com/wp-content/themes/januarycreative/img/greybg.png");
}

/* line 41, ../sass/base.scss */
.banner {
  background: #00b6de;
}

/**************************************************************/
/*  	    		       TOP BAR					          */
/**************************************************************/
/* line 50, ../sass/base.scss */
.top-bar {
  background: transparent;
}
/* line 53, ../sass/base.scss */
.top-bar .name h1 {
  font-size: 2rem;
}
/* line 60, ../sass/base.scss */
.top-bar ul li > a.button {
  background-color: #98ca46;
}
/* line 63, ../sass/base.scss */
.top-bar ul li a:not(.button):hover {
  color: #98ca46 !important;
}

/* line 70, ../sass/base.scss */
.top-bar-section {
  background: transparent;
}
/* line 73, ../sass/base.scss */
.top-bar-section ul li {
  background: transparent;
}
/* line 75, ../sass/base.scss */
.top-bar-section ul li :not(.has-form) a:not(.button) {
  background: transparent;
  color: white;
}

/**************************************************************/
/*  	    		       FOOTER					          */
/**************************************************************/
/* line 91, ../sass/base.scss */
footer div {
  background-color: #333333;
}

/**************************************************************/
/*  	    		       Titres					          */
/**************************************************************/
/* line 101, ../sass/base.scss */
h1 {
  font-size: 2em;
}

/* line 109, ../sass/base.scss */
h3 {
  font-size: 1.4em;
}

/**************************************************************/
/*  	    		       Liens					          */
/**************************************************************/
/* line 129, ../sass/base.scss */
a {
  color: #00b6de;
}
/* line 131, ../sass/base.scss */
a:hover {
  color: #333333;
}

/**************************************************************/
/*  	    		       BUTTON					          */
/**************************************************************/
/* line 144, ../sass/base.scss */
button, a.button {
  background-color: #98ca46;
}
/* line 146, ../sass/base.scss */
button:hover, a.button:hover {
  background-color: #333333;
  color: #98ca46;
}
/* line 150, ../sass/base.scss */
button:focus, button:active, a.button:focus, a.button:active {
  background-color: #98ca46;
}

/**************************************************************/
/*  	    		       ROW					              */
/**************************************************************/
/* line 161, ../sass/base.scss */
.listing .image.crop {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

/**************************************************************/
/*  	    		       ITEM LIST					      */
/**************************************************************/
/* line 174, ../sass/base.scss */
ul {
  margin: 0;
}
/* line 176, ../sass/base.scss */
ul li {
  list-style-type: none;
}

/**************************************************************/
/*  	    		       TABLE					          */
/**************************************************************/
/* line 185, ../sass/base.scss */
table {
  width: 100%;
}
/* line 189, ../sass/base.scss */
table thead tr th {
  padding: 10px;
  background: #333333;
  color: #fff;
  border: 1px solid #e2e2e2;
}
/* line 197, ../sass/base.scss */
table td {
  vertical-align: middle;
}
/* line 199, ../sass/base.scss */
table td .inline-list {
  margin: 0;
  position: relative;
  top: 10px;
}

/* line 209, ../sass/base.scss */
.tabs {
  margin-top: 1rem;
  background: #efefef;
}
/* line 212, ../sass/base.scss */
.tabs li.active.tab-title a {
  background: url("http://januarycreative.com/wp-content/themes/januarycreative/img/greybg.png");
  color: white;
}
/* line 216, ../sass/base.scss */
.tabs dd > a, .tabs .tab-title > a {
  background: transparent;
  color: black;
  padding: 0.5rem 1.5rem;
}

/* line 223, ../sass/base.scss */
div [role=content] {
  padding-top: 1rem;
  border-top: none;
  border-bottom: none;
  min-height: 800px;
  background: white;
}

/* line 231, ../sass/base.scss */
.publication-info {
  font-style: italic;
}
