{% extends "base.html.twig" %}

{% block headline %}
    {{ static_content.title }}
{% endblock %}

{% block breadcrumb_content %}
    {{ parent() }}
    {{ static_content.title }}
{% endblock %}

{% block body -%}
    <div class="col-md-12">
        {{ static_content.body|raw }}
    </div>

{% endblock %}
