{% extends 'base.html.twig' %}

{% block page_heading %}
{% endblock %}

{% block body -%}
    <div class="col-md-12">
        <h4 class="mag-head"><i class="fa fa-calendar color"></i> Sorties du mois</h4>

        {{ render(url('sylius_partial_product_index', {
            'paginate': 4,
            'template': 'frontend/game/index/_recentReleaseIndex.html.twig',
            'criteria': {
                'status': 'PUBLISHED',
                'releasedAtFrom': "first_day_of_the_month",
                'releasedAtTo': "last_day_of_the_month"
            },
            'sorting': {
                'variant.releasedAt': 'desc'
            }
        })) }}

        <div class="text-center">
            <a href="#" class="btn btn-color">
                <span class="fa fa-plus"></span>
                Plus de sorties du mois
            </a>
        </div>

        <hr/>

        <h4 class="mag-head"><i class="fa fa-calendar color"></i> Sorties des mois précédents</h4>

        {{ render(url('sylius_partial_product_index', {
            'paginate': 4,
            'template': 'frontend/game/index/_recentReleaseIndex.html.twig',
            'criteria': {
                'status': 'PUBLISHED',
                'releasedAtTo': "last_day_of_previous_month"
            },
            'sorting': {
                'variant.releasedAt': 'desc'
            }
        })) }}

        <div class="text-center">
            <a href="#" class="btn btn-color">
                <span class="fa fa-plus"></span>
                Plus de sorties des mois précédents
            </a>
        </div>

        <hr/>

        <h4 class="mag-head"><i class="fa fa-calendar color"></i> Sorties des prochains mois</h4>

        {{ render(url('sylius_partial_product_index', {
            'paginate': 4,
            'template': 'frontend/game/index/_recentReleaseIndex.html.twig',
            'criteria': {
                'status': 'PUBLISHED',
                'releasedAtFrom': "first_day_of_next_month",
            },
            'sorting': {
                'variant.releasedAt': 'asc'
            }
        })) }}

        <div class="text-center">
            <a href="#" class="btn btn-color">
                <span class="fa fa-plus"></span>
                Plus de sorties des prochains mois
            </a>
        </div>

    </div>

{% endblock %}