{% extends "::base.html.twig" %}

 {#TODO REMOVE #}
{% set jeu = game is defined ? game : jeu %}


{% block headline %}
    {{ jeu }}
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('jeu') }}">Jeux</a>
    / {{ jeu }}
{% endblock %}

{% block container %}

    <div class="col-md-8">
        {% include "frontend/game/show/header.html.twig" with {'jeu': jeu} only %}

        {% include "frontend/game/show/nav-tab.html.twig" with {'jeu': jeu} only %}

        {% include "frontend/game/show/collection-modal.html.twig" with {'jeu': jeu} only %}

    </div>

    <div class="col-md-4">
        {% include "frontend/game/show/sidebar.html.twig" with {'jeu': jeu} only %}
    </div>


    {#    {% render controller('JDJUserReviewBundle:JeuNote:new', { 'idJeu': jeu.id }) %}
        {% include "JDJJeuBundle:Jeu:partial/onglet.html.twig" with {'jeu': jeu, 'userReviews': userReviews} %}
        {% render url('jeu_if_you_like_this_game', { 'id': jeu.id }) %}#}

{% endblock container %}