{% extends "::base.html.twig" %}

 {#TODO REMOVE #}
{% set jeu = product is defined ? product : jeu %}

{% block headline %}
    {{ jeu }}
{% endblock headline %}

{% block subtitle_container %}
    {% if product.averageRating %}
        <div class="icon-box-4">
            <div class="icon-box-4-item">
                <a href="#" class="icon-box-4-icon bg-yellow"> <i class="fa fa-star"></i> </a>
                <h4>{{ product.averageRating|round(1) }}</h4>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block breadcrumb_content %}
    <a href="{{ path('sylius_product_index') }}">Jeux</a>
    / {{ jeu }}
{% endblock %}

{% block container %}

    <div class="col-md-8">
        {% include "frontend/game/show/header.html.twig" with {'jeu': jeu} %}

        {% include "frontend/game/show/nav-tab.html.twig" with {'jeu': jeu} %}

        {% render(url('app_partial_dealer_price_index', {
            template: 'frontend/dealer_price/_index.html.twig',
            paginate: 4,
            criteria: {
                'product': product.id
            }
        })) %}

        {% include "frontend/game/show/associations.html.twig" %}

    </div>

    <div class="col-md-4">
        {% include "frontend/game/show/sidebar.html.twig" with {'jeu': jeu} %}
    </div>


    {#    {% render controller('JDJUserReviewBundle:JeuNote:new', { 'idJeu': jeu.id }) %}
        {% include "JDJJeuBundle:Jeu:partial/onglet.html.twig" with {'jeu': jeu, 'userReviews': userReviews} %}
        {% render url('jeu_if_you_like_this_game', { 'id': jeu.id }) %}#}

{% endblock container %}