{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}
    <h1>User edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">

    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
