{% extends "JDJWebBundle::layout.html.twig" %}

{% block body -%}

    <div class="row">
        <div class="large-12 columns">
            <div class="medium-4 columns">
                <img src="{{ asset(entity.getWebPath) }}"/>
            </div>
            <div class="medium-8 columns">
                <h2>{{ entity.username }} </h2>


                <div class="row">
                    <label class="medium-3 column">Total</label>
                    <div class="medium-9 column">{{ jeux|length }} jeux</div>
                </div>
            </div>
        </div>
    </div>

    {% include 'JDJUserBundle:User/partial:onglet.html.twig' %}

{% endblock %}