<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'label.description'|trans }}</a></li>
    <li><a href="#people" data-toggle="tab">{{ 'label.people'|trans }}</a></li>
    <li><a href="#images" data-toggle="tab">{{ 'label.images'|trans }}</a></li>
</ul>
