
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div id="game-play-list" class="main col-md-12">

                <!-- Parties de jeu start -->
                <!-- ============================================================================== -->
                <br>
                {% include 'frontend/game_play/_list.html.twig' with { 'game_plays': game_plays.data } %}
            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<!-- main-container end -->
