<!-- sidebar start -->
<!-- ================ -->
<aside class="col-lg-4 col-xl-3 ml-xl-auto">
    <div class="sidebar">
        <div class="block clearfix">
            <h3 class="title">Populaires</h3>
            <div class="separator-2"></div>
            {{ render(url('sylius_partial_product_index', {
                'paginate': 4,
                'criteria': {
                    'person': person.id
                },
                'sorting': {
                    'averageRating': 'desc'
                },
                'template': 'frontend/product/_simpleList.html.twig'
            })) }}
        </div>
        <div class="block clearfix">
            <h3 class="title">Récents</h3>
            <div class="separator-2"></div>
            <div class="media margin-clear">
                <div class="d-flex pr-2">
                    <div class="overlay-container">
                        <img class="media-object" src="/assets/frontend/images/product-5.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="shop-product.html">Gùgōng</a></h6>
                    <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                    </p>
                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                </div>
            </div>
            <hr>
            <div class="media margin-clear">
                <div class="d-flex pr-2">
                    <div class="overlay-container">
                        <img class="media-object" src="/assets/frontend/images/product-6.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="shop-product.html">Puerto Rico</a></h6>
                    <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star"></i>
                    </p>
                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                </div>
            </div>
            <hr>
            <div class="media margin-clear">
                <div class="d-flex pr-2">
                    <div class="overlay-container">
                        <img class="media-object" src="/assets/frontend/images/product-7.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="shop-product.html">Râ</a></h6>
                    <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star"></i>
                    </p>
                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                </div>
            </div>
            <hr>
            <div class="media margin-clear">
                <div class="d-flex pr-2">
                    <div class="overlay-container">
                        <img class="media-object" src="/assets/frontend/images/product-8.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="shop-product.html">Shogun</a></h6>
                    <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                    <p class="comment-meta">2 à 5 joueurs <br>à partir de 8 ans</p>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- sidebar end -->
