{% from 'macros/misc.html.twig' import pagination %}
<!-- Nav tab style 2 starts -->
<div class="nav-tabs-two">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#jeux" data-toggle="tab">Jeux</a></li>
        <li><a href="#profile-2" data-toggle="tab">Article</a></li>
        <li><a href="#profile-2" data-toggle="tab">Critiques</a></li>
    </ul>
    <!-- Tab content -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="jeux">

            <div class="block-heading-two">
                <h3><a href="{{ path('sylius_product_index_by_person', {
                        'slug': person.slug,
                            'sorting': {
                                'averageRating': 'desc'
                        }
                    }) }}"><span>Les plus populaires</span></a></h3>
            </div>

            {{ render(url('sylius_partial_product_index', {
                'paginate': 3,
                'criteria': {
                    'person': person.id
                },
                'sorting': {
                    'averageRating': 'desc'
                },
                'template': 'frontend/game/index/list-3.html.twig'
            })) }}

            <div class="block-heading-two">
                <h3><a href="{{ path('sylius_product_index_by_person', {
                        'slug': person.slug,
                        'sorting': {
                            'variant.releasedAt': 'desc'
                        }
                    }) }}"><span>Les plus récents</span></a></h3>
            </div>

            {{ render(url('sylius_partial_product_index', {
                'paginate': 3,
                'criteria': {
                    'person': person.id
                },
                'sorting': {
                    'variant.releasedAt': 'desc'
                },
                'template': 'frontend/game/index/list-3.html.twig'
            })) }}
        </div>
        <div class="tab-pane fade" id="profile-2">
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
                minima veniam, quis nostrum exercitationem ullam corporis.</p>
        </div>
        <div class="tab-pane fade" id="messages-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
        </div>
        <div class="tab-pane fade" id="settings-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
        </div>
    </div>
</div>
<!-- Nav tab style 2 ends -->
