<div class="sidebar">

    <!-- Gallery Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-camera color"></i> Photos</h5>
        <!-- Widgets Content -->
        <div class="widget-content gallery">
            {% for image in person.images %}
                <a href="{{ image.webPath | imagine_filter('default') }}" rel="person" class="fancybox">
                    <img src="{{ image.webPath | imagine_filter('thumbnail') }}" alt=""
                         class="img-responsive img-thumbnail"/>
                </a>
            {% endfor %}
        </div>
    </div>

    <hr/>
    {% include 'frontend/pub_banner/_sidebarWidget.html.twig' %}
</div>