{% import 'macro/social_links.html.twig' as social_links %}

<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg" style="background-image:url('images/background-img-3.jpg'); background-position: 50% 30%;">
    {% include 'frontend/contact_request/create/_breadcrumb.html.twig' %}
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center pv-20">
                <h1 class="page-title text-center">{{ pageTitle }}</h1>
                <div class="separator"></div>
                <p class="lead text-center">It would be great to hear from you! Just drop us a line and ask for anything with which you think we could be helpful. We are looking forward to hearing from you!</p>
                <ul class="list-inline mb-20 text-center">
                    <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-2"></i>One infinity loop, 54100</li>
                    <li class="list-inline-item"><a href="mailto:youremail@domain.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-2"></i>jedisjeux@jedisjeux.net</a></li>
                </ul>
                <div class="separator"></div>
                <ul class="social-links circle animated-effect-1 margin-clear text-center space-bottom">
                    {{ social_links.list() }}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->
