<div class="tb-shopping-cart pull-right" id="notificationBlock">
    <!-- Link with badge -->
    <a href="#" class="btn btn-white btn-xs b-dropdown"><i class="fa fa-bell-o"></i> <i class="fa fa-angle-down color"></i> <span class="badge badge-color" style="display: none"></span></a>
    <!-- Dropdown content with item details -->
    <div class="b-dropdown-block" style="display: none;">
        <!-- Heading -->
        <h4><i class="fa fa-bell-o color"></i> Notifications</h4>
        <ul class="list-unstyled notificationContainer">
            <!-- Item 1 -->
            <li class="notificationItem">
                <!-- Item image -->
                <div class="cart-img notificationImg">
                    <a href="#" class="notificationA"><img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="" class="img-responsive img-round"></a>
                </div>
                <!-- Item Content -->
                <div class="cart-title notificationContent">
                    <h5><a href="#" class="notificationA" data-id=""><span class="notificationMessage"></span></a></h5>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
</div>