{% macro pagination(paginator) %}
    {% if paginator.haveToPaginate() %}
        <div class="pagination justify-content-center">
            {{ pagerfanta(paginator, 'twitter_bootstrap4_translated') }}
        </div>
    {% endif %}
{% endmacro %}

{% macro no_data(text) %}
<div class="alert alert-info">
    {{ text|raw }}
</div>
{% endmacro %}
