{% from 'macro/rating.html.twig' import rating %}

{% if article.averageRating > 0 %}
    <div class="feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon default-bg circle"><i class="fa fa-star"></i></span>
        <h3>{{ article.averageRating|round(1) }}/10</h3>
        <div class="separator clearfix"></div>
        <div class="text-left">
            {% if article.materialRating > 0 %}
                <span class="pull-right">{{ rating(article.materialRating*2) }}</span>
                <h4 class="media-heading">Matériel</h4>
            {% endif %}
            {% if article.rulesRating > 0 %}
                <span class="pull-right">{{ rating(article.rulesRating*2) }}</span>
                <h4 class="media-heading">Règles</h4>
            {% endif %}
            {% if article.lifetimeRating > 0 %}
                <span class="pull-right">{{ rating(article.lifetimeRating*2) }}</span>
                <h4 class="media-heading">Durée de vie</h4>
            {% endif %}
        </div>
    </div>
{% endif %}
