.block-heading-two h2 {
  padding: 0 10px 6px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;

  span {
    border-color: #32c8de;
  }
}

.header-1 {
  margin-top: 35px;

  .affix {
    z-index:1030;
    width: 100%;
    top: 43px;
  }
}